<div class="row">
    <div class="col-md-12">

        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">News</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right admin-navbar-ul">
      <li>
        <p class="navbar-btn" type="button" ng-csv="wardList" filename="ward.csv">
          <a  class="btn btn-primary">Export CSV</a>
        </p>
        </li>
        <li><p class="navbar-btn"><a class="btn btn-success" ui-sref="admin.news.create">Create New</a></p></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="">
     <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Key</th>
            <th>Name</th>
            <th>City</th>
            <th>Bangla</th>
            <th>Population</th>
            <th>Voter</th>
            <th>Save</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in wardList">

            <td>{{row.key}}</td>
            <td>{{row.name}}</td>
            <td>{{row.city}}</td>
            <td>{{row.bangla}}</td>
            <td><input type="text"  ng-model="row.population"></td>
            <td><input type="text"  ng-model="row.voter"></td>
            <td><button class="btn btn-primary" ng-click="saveWard(row)">Save</button></td>
          </tr>
        </tbody>
      </table>
      </div>

    </div>



    </div>
</div>
