<div class="container"  style="padding:100px">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Admin Login</h3>
  </div>
  <div class="panel-body">
    <alert class="alert" ng-repeat="error in errors" type="danger">{{error.err}}</alert>
    <form name="registerForm" class="form-signin" novalidate>
      <div class="control-group">
        <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>
        <div ng-show="registerForm.email.$dirty" ng-messages="registerForm.email.$error">
          <div ng-message="required">
            You forgot the email address.
          </div>
          <div ng-message="email">
            That is not a well formed email address.
          </div>
        </div>
      </div>
      <div class="control-group">
        <input type="password" class="form-control" placeholder="password" name="password" ng-model="user.password" required>
        <div ng-show="registerForm.password.$dirty" ng-messages="registerForm.password.$error">
          <div ng-message="required">
            You forgot the password.
          </div>
        </div>
      </div>

      <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" value="Login" />
    </form>
  </div>
</div>

</div>
