<nav class="navbar navbar-default" xmlns="http://www.w3.org/1999/html">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<a class="navbar-brand" ui-sref="admin.candidate.showall">Candidate > Create Candidate's Affidavit </a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


<ul class="nav navbar-nav navbar-right">
	<li><a ui-sref="admin.candidate.showall">Go to index</a></li>

</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>



<form class="form-horizontal candidate-form" role="form">

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Created By:</label><div class="col-sm-10">
    <input type="text" class="form-control" ng-model="Candidate.created_by" ng-required="true"/></div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Full Name:</label><div class="col-sm-10">
    <input type="text" class="form-control" ng-model="Candidate.name"/></div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">City </label><div class="col-sm-10">
    <select ng-model="Candidate.city" class="form-control" name="type">

      <option value="dscc">Dhaka south city corporation</option>
      <option value="dncc">Dhaka north city corporation</option>
      <option value="ccc">Chittagong city corporation</option>

    </select>
  </div></div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Type: </label><div class="col-sm-10">
    <select ng-model="Candidate.type" class="form-control" name="type">

      <option value="mayor">Mayoral Candidate</option>
      <option value="council">Council Candidate</option>
    </select>
  </div></div>

  <div ng-if="Candidate.city=='dscc' || Candidate.city=='dncc' || Candidate.city=='ccc'">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Ward: </label><div class="col-sm-10">



      <select ng-if="Candidate.city=='dscc'" class="bigbangla" ng-model="Candidate.ward" >
        <option value="">--Select--</option>
        <option value="1889">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন (মেয়র)</option><option value="1890">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০১ )</option><option value="1891">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০২ )</option><option value="1892">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৩ )</option><option value="1893">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৪ )</option><option value="1894">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৫ )</option><option value="1895">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৬ )</option><option value="1896">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৭ )</option><option value="1897">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৮ )</option><option value="1898">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৯ )</option><option value="1899">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১০ )</option><option value="1900">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১১ )</option><option value="1901">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১২ )</option><option value="1902">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৩ )</option><option value="1903">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৪ )</option><option value="1904">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৫ )</option><option value="1905">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৬ )</option><option value="1906">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৭ )</option><option value="1907">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৮ )</option><option value="1908">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৯ )</option><option value="1909">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২০ )</option><option value="1910">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২১ )</option><option value="1911">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২২ )</option><option value="1912">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৩ )</option><option value="1913">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৪ )</option><option value="1914">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৫ )</option><option value="1915">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৬ )</option><option value="1916">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৭ )</option><option value="1917">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৮ )</option><option value="1918">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৯ )</option><option value="1919">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩০ )</option><option value="1920">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩১ )</option><option value="1921">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩২ )</option><option value="1922">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৩ )</option><option value="1923">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৪ )</option><option value="1924">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৫ )</option><option value="1925">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৬ )</option><option value="1926">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৭ )</option><option value="1927">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৮ )</option><option value="1928">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৯ )</option><option value="1929">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪০ )</option><option value="1930">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪১ )</option><option value="1931">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪২ )</option><option value="1932">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৩ )</option><option value="1933">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৪ )</option><option value="1934">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৫ )</option><option value="1935">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৬ )</option><option value="1936">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৭ )</option><option value="1937">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৮ )</option><option value="1938">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৯ )</option><option value="1939">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫০ )</option><option value="1940">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫১ )</option><option value="1941">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫২ )</option><option value="1942">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৩ )</option><option value="1943">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৪ )</option><option value="1944">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৫ )</option><option value="1945">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৬ )</option><option value="2021">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৭ )</option><option value="1946">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০১ )</option><option value="1947">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০২ )</option><option value="1948">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৩ )</option><option value="1949">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৪ )</option><option value="1950">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৫ )</option><option value="1951">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৬ )</option><option value="1952">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৭ )</option><option value="1953">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৮ )</option><option value="1954">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৯ )</option><option value="1955">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১০ )</option><option value="1956">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১১ )</option><option value="1957">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১২ )</option><option value="1958">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৩ )</option><option value="1959">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৪ )</option><option value="1960">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৫ )</option><option value="1961">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৬ )</option><option value="1962">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৭ )</option><option value="1963">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৮ )</option><option value="1964">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৯ )</option>						</select>


      <select ng-if="Candidate.city=='dncc'" class="bigbangla" ng-model="Candidate.ward" >
        <option value="">--Select--</option>
        <option value="1840">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন (মেয়র)</option><option value="1841">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০১ )</option><option value="1842">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০২ )</option><option value="1843">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৩ )</option><option value="1844">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৪ )</option><option value="1845">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৫ )</option><option value="1846">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৬ )</option><option value="1847">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৭ )</option><option value="1848">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৮ )</option><option value="1849">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৯ )</option><option value="1850">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১০ )</option><option value="1851">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১১ )</option><option value="1852">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১২ )</option><option value="1853">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৩ )</option><option value="1854">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৪ )</option><option value="1855">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৫ )</option><option value="1856">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৬ )</option><option value="1857">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৭ )</option><option value="1858">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৮ )</option><option value="1859">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৯ )</option><option value="1860">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২০ )</option><option value="1861">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২১ )</option><option value="1862">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২২ )</option><option value="1863">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৩ )</option><option value="1864">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৪ )</option><option value="1865">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৫ )</option><option value="1866">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৬ )</option><option value="1867">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৭ )</option><option value="1868">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৮ )</option><option value="1869">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৯ )</option><option value="1870">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩০ )</option><option value="1871">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩১ )</option><option value="1872">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩২ )</option><option value="1873">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৩ )</option><option value="1874">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৪ )</option><option value="1875">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৫ )</option><option value="1876">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৬ )</option><option value="1877">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০১ )</option><option value="1878">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০২ )</option><option value="1879">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৩ )</option><option value="1880">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৪ )</option><option value="1881">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৫ )</option><option value="1882">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৬ )</option><option value="1883">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৭ )</option><option value="1884">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৮ )</option><option value="1885">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৯ )</option><option value="1886">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১০ )</option><option value="1887">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১১ )</option><option value="1888">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১২ )</option>						</select>

      <select ng-if="Candidate.city=='ccc'" class="bigbangla" ng-model="Candidate.ward" >
        <option value="">--Select--</option>
        <option value="1965">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন (মেয়র)</option><option value="1966">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর (ওয়ার্ড নং- ০১)</option><option value="1967" selected="">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০২ )</option><option value="1968">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৩ )</option><option value="1969">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৪ )</option><option value="1970">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৫ )</option><option value="1971">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৬ )</option><option value="1972">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৭)</option><option value="1973">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৮ )</option><option value="1974">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৯ )</option><option value="1975">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১০ )</option><option value="1976">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১১ )</option><option value="1977">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১২ )</option><option value="1978">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৩ )</option><option value="1979">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৪ )</option><option value="1980">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৫ )</option><option value="1981">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৬ )</option><option value="1982">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৭ )</option><option value="1983">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৮ )</option><option value="1984">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৯ )</option><option value="1985">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২০ )</option><option value="1986">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২১ )</option><option value="1987">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২২ )</option><option value="1988">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৩ )</option><option value="1989">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৪ )</option><option value="1990">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৫ )</option><option value="1991">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৬ )</option><option value="1992">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৭)</option><option value="1993">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৮ )</option><option value="1994">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৯ )</option><option value="1995">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩০ )</option><option value="1996">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩১ )</option><option value="1997">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩২ )</option><option value="1998">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৩ )</option><option value="1999">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৪ )</option><option value="2000">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৫ )</option><option value="2001">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৬ )</option><option value="2002">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৭ )</option><option value="2003">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৮ )</option><option value="2004">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৯ )</option><option value="2005">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৪০ )</option><option value="2006">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪১ )</option><option value="2007">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০১ )</option><option value="2008">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০২ )</option><option value="2009">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৩ )</option><option value="2010">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৪ )</option><option value="2011">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৫ )</option><option value="2012">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৬ )</option><option value="2013">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৭ )</option><option value="2014">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৮ )</option><option value="2015">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৯ )</option><option value="2016">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১০ )</option><option value="2017">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১১ )</option><option value="2018">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১২ )</option><option value="2019">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৩ )</option><option value="2020">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৪ )</option>						</select>

    </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Biography: </label><div class="col-sm-10">
    <textarea ng-model="Candidate.biography"  class="form-control"></textarea></div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Image Name: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="Candidate.image"/></div>
  </div>
	<div class="form-group" ng-if="Candidate.type=='mayor'">
    <label class="control-label col-sm-2" for="name"><b>Affidavit PDF Name: </b></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="Candidate.affidavit_pdf"/></div>
  </div>
	<div class="form-group"  ng-if="Candidate.type=='mayor'">
		<label class="control-label col-sm-2" for="name"><b>PFRE PDF Name: </b></label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="Candidate.pfre_pdf"/></div>
	</div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Date of Birth:</label><div class="col-sm-10">
    <input type="text" class="form-control" ng-model="Candidate.date_of_birth"/></div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Husband or Father name:</label><div class="col-sm-10">
    <input type="text" class="form-control" ng-model="Candidate.husband_father_name"/></div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Mother name:</label><div class="col-sm-10">
    <input type="text" class="form-control" ng-model="Candidate.mother_name"/></div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Present Address:</label><div class="col-sm-10">
    <textarea  class="form-control" ng-model="Candidate.present_address" rows="3"></textarea> </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Permanent Address:</label><div class="col-sm-10">
    <textarea  class="form-control" ng-model="Candidate.permanent_address" rows="3"></textarea> </div>
  </div>
	<div class="form-group">
    <label class="control-label col-sm-2" for="about">About:</label><div class="col-sm-10">
    <textarea  class="form-control" ng-model="Candidate.about" rows="3"></textarea> </div>
  </div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="about">Media Coverage:</label>
		<div class="col-sm-10">
			<div class="table-responsive">
			<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>Name</td>
							<td>Source</td>
							<td>Link</td>
	            <td>Remove Item</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in Candidate.media_coverage">
							<td>{{item.Name}}</td>
							<td>{{item.Source}}</td>
							<td>{{item.Link}}</td>
							<td><input class ="btn btn-danger" type="button" value="Remove" ng-click="removeMediaCoverageItem($index)" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table-responsive">
			<table class="table table-bordered table-striped">

				<tr>
					<td>Name</td>
					<td>Source</td>
					<td>Link</td>
					<td>Add Item</td>
				</tr>
				<tr>
					<td><input class="form-control" type="text" ng-model="item.Name" /></td>
					<td><input class="form-control" type="text" ng-model="item.Source" /></td>
					<td><input class="form-control" type="text" ng-model="item.Link" /></td>
					<td><input class="btn btn-primary" type="Button" value="Add" ng-click="addMediaCoverageItem(item)" /> </td>
				</tr>
			</table>
		</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="about">Campaign links:</label>
		<div class="col-sm-10">
			<div class="table-responsive">
			<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>Name</td>
							<td>Source</td>
							<td>Link</td>
	            <td>Remove Item</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in Candidate.campaign_links">
							<td>{{item.Name}}</td>
							<td>{{item.Source}}</td>
							<td>{{item.Link}}</td>
							<td><input class ="btn btn-danger" type="button" value="Remove" ng-click="removeCampaignLinksItem($index)" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table-responsive">
			<table class="table table-bordered table-striped">

				<tr>
					<td>Name</td>
					<td>Source</td>
					<td>Link</td>
					<td>Add Item</td>
				</tr>
				<tr>
					<td><input class="form-control" type="text" ng-model="campaign_link.Name" /></td>
					<td><input class="form-control" type="text" ng-model="campaign_link.Source" /></td>
					<td><input class="form-control" type="text" ng-model="campaign_link.Link" /></td>
					<td><input class="btn btn-primary" type="Button" value="Add" ng-click="addCampaignLinksItem(campaign_link)" /> </td>
				</tr>
			</table>
		</div>
		</div>
	</div>

	<hr>
  <h2>1. Educational Info</h2>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">1. Maximum Educational Qualification:</label><div class="col-sm-10">
    <input type="text" class="form-control" ng-model="Candidate.fld_1_max_educational_qualifications"/></div>
  </div>

  <h2>2. Law/Court Related Info - At present</h2>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">2.a At present I am not accused criminal case:</label><div class="col-sm-10">
    <input type="checkbox" class="form-control" ng-model="Candidate.fld_2a_ami_fozdari_obhijukto_noi"/></div>
  </div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="name">If yes, total number of cases at present:</label><div class="col-sm-10">
		<input type="text" class="form-control" ng-model="Candidate.total_number_of_cases_present"/></div>
	</div>
  <!--<p>or</p>-->

  <!--<div class="form-group">-->
  <!--<label class="control-label col-sm-2" for="name">2.b At present, Reason if I am accused with criminal case:</label><div class="col-sm-10">-->
  <!--<textarea  class="form-control" ng-model="Candidate.fld_2b_ami_fozdari_obhijukto_keno" rows="3"></textarea> </div>-->
  <!--</div>-->

  <h2>3. Law/Court Related Info - At past</h2>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">3.a At past I am not accused criminal case:</label><div class="col-sm-10">
    <input type="checkbox" class="form-control" ng-model="Candidate.fld_3a_past_fozdari_mamla_nai"/></div>
  </div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="name">If yes, total number of cases at past:</label><div class="col-sm-10">
		<input type="text" class="form-control" ng-model="Candidate.total_number_of_cases_past"/></div>
	</div>
  <!--<p>or</p>-->

  <!--<div class="form-group">-->
  <!--<label class="control-label col-sm-2" for="name">3.b At past, Reason if I am accused with criminal case:</label><div class="col-sm-10">-->
  <!--<textarea  class="form-control" ng-model="Candidate.fld_3b_past_fozdari_keno" rows="3"></textarea> </div>-->
  <!--</div>-->


  <h2>4. My Business/Profession details</h2>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">4 Business Profession detail:</label>
    <div class="col-sm-10">
      <textarea  class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc" rows="3"></textarea>
      <!--<table>-->
      <!--<tr>-->
      <!--<th>Organization/Company Name</th>-->
      <!--<th>Address</th>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name1"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address1"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name2"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address2"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name3"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address3"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name4"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address4"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name5"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address5"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name6"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address6"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name7"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address7"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name8"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address8"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name9"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address9"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name10"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address10"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name11"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address11"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name12"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address12"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name13"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address13"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name14"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address14"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name15"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address15"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name16"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address16"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name17"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address17"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name18"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address18"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name19"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address19"/></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_name20"/></td>-->
      <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_4a_my_business_profession_desc.company_address20"/></td>-->
      <!--</tr>-->
      <!--</table>-->

    </div>
  </div>

  <h2>5. Income Source (Ownself and Dependent's)</h2>

  <div class="form-group">

    <div class="col-sm-12">
      <table>
        <tr>
          <th>Sl no.</th>
          <th>Income Source Scope</th>
          <th>Candidate's own Income yearly</th>
          <th>Candidate's dependent's no 1 Income yearly <input type="text" ng-model="Candidate.fld_5_mydepis1_who" /> </th>
          <th>Candidate's dependent's no 2 Income yearly <input type="text" ng-model="Candidate.fld_5_mydepis2_who" /> </th>
          <th>Candidate's dependent's no 3 Income yearly <input type="text" ng-model="Candidate.fld_5_mydepis3_who" /> </th>
          <th>Candidate's dependent's no 4 Income yearly <input type="text" ng-model="Candidate.fld_5_mydepis4_who" /> </th>
        </tr>
        <tr>
          <td>1</td>
          <td><b>Agriculture</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mis_agriculture_y" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis1_agriculture_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis2_agriculture_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis3_agriculture_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis4_agriculture_y"/></td>
        </tr>
        <tr>
          <td>2</td>
          <td><b>House / Appartment / Shop</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mis_house_appartment_shop_y" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis1_house_appartment_shop_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis2_house_appartment_shop_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis3_house_appartment_shop_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis4_house_appartment_shop_y"/></td>
        </tr>
        <tr>
          <td>3</td>
          <td><b>Business paritoshik </b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mis_business_paritoshik_y" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis1_business_paritoshik_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis2_business_paritoshik_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis3_business_paritoshik_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis4_business_paritoshik_y"/></td>
        </tr>
        <tr>
          <td>4</td>
          <td><b>Stock / Share </b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mis_stock_share_y" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis1_stock_share_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis2_stock_share_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis3_stock_share_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis4_stock_share_y"/></td>
        </tr>
        <tr>
          <td>5</td>
          <td><b>profession / teaching / doctor</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mis_profession_teaching_doctor_y" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis1_profession_teaching_doctor_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis2_profession_teaching_doctor_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis3_profession_teaching_doctor_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis4_profession_teaching_doctor_y"/></td>
        </tr>
        <tr>
          <td>6</td>
          <td><b>business / job</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mis_business_job_y" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis1_business_job_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis2_business_job_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis3_business_job_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis4_business_job_y"/></td>
        </tr>

        <tr>
          <td>7</td>
          <td><b>other</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mis_other_y" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis1_other_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis2_other_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis3_other_y"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_5_mydepis4_other_y"/></td>
        </tr>
      </table>
    </div>
  </div>

  <h2>6.a Liquid Property (Ownself and Dependent's)</h2>

  <div class="form-group">

    <div class="col-sm-12">
      <table>
        <tr>
          <th>Sl no.</th>
          <th>Property type Till date got nomination</th>
          <th>Candidate's own Property</th>
          <th>Wife/Husband's Property  <input type="text" ng-model="Candidate.fld_6a_mydepop1_who"/></th>
          <th>Candidate's dependent's no 2 Property <input type="text" ng-model="Candidate.fld_6a_mydepop2_who"/> </th>
          <th>Candidate's dependent's no 3 Property <input type="text" ng-model="Candidate.fld_6a_mydepop3_who"/></th>
          <th>Candidate's dependent's no 4 Property <input type="text" ng-model="Candidate.fld_6a_mydepop4_who"/> </th>
        </tr>
        <tr>
          <td>1</td>
          <td><b>Cash Money</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_cash_money" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_cash_money"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_cash_money"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_cash_money"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_cash_money"/></td>
        </tr>
        <tr>
          <td>2</td>
          <td><b>Foreign Property (with Currency)</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_foreign_cur" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_foreign_cur"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_foreign_cur"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_foreign_cur"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_foreign_cur"/></td>
        </tr>
        <tr>
          <td>3</td>
          <td><b>Bank / Arthik Protishthan</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_bank_arthik_protishthan" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_bank_arthik_protishthan"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_bank_arthik_protishthan"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_bank_arthik_protishthan"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_bank_arthik_protishthan"/></td>
        </tr>
        <tr>
          <td>4</td>
          <td><b>Bond / Stock / Share Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_bond_stock_share" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_bond_stock_share"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_bond_stock_share"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_bond_stock_share"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_bond_stock_share"/></td>
        </tr>
        <tr>
          <td>5</td>
          <td><b>Postal / Savings Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_postal_savings" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_postal_savings"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_postal_savings"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_postal_savings"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_postal_savings"/></td>
        </tr>
        <tr>
          <td>6</td>
          <td><b>Bus / Truck Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_bus_truck" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_bus_truck"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_bus_truck"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_bus_truck"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_bus_truck"/></td>
        </tr>
        <tr>
          <td>7</td>
          <td><b>Gold / Other Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_gold_other" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_gold_other"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_gold_other"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_gold_other"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_gold_other"/></td>
        </tr>
        <tr>
          <td>8</td>
          <td><b>Electric Equipments Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_electric_equipments" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_electric_equipments"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_electric_equipments"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_electric_equipments"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_electric_equipments"/></td>
        </tr>
        <tr>
          <td>9</td>
          <td><b>House hold Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_house_hold" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_house_hold"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_house_hold"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_house_hold"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_house_hold"/></td>
        </tr>
        <tr>
          <td>10</td>
          <td><b>Other Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_other" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop1_other"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop2_other"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop3_other"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mydepop4_other"/></td>
        </tr>
      </table>
    </div>
  </div>

  <h2>6.b Fixed Property (ownself and dependent's)</h2>

  <div class="form-group">

    <div class="col-sm-12">
      <table>
        <tr>
          <th>Sl no.</th>
          <th>Property type Till date got nomination</th>
          <th>Candidate's own Property</th>
          <th>Wife/Husband's Property  <input type="text" ng-model="Candidate.fld_6b_mydepsp1_who"/></th>
          <th>Candidate's dependent's no 2 Property <input type="text" ng-model="Candidate.fld_6b_mydepsp2_who"/> </th>
          <th>Candidate's dependent's no 3 Property <input type="text" ng-model="Candidate.fld_6b_mydepsp3_who"/></th>
          <th>Candidate's dependent's no 4 Property <input type="text" ng-model="Candidate.fld_6b_mydepsp4_who"/> </th>
        </tr>
        <tr>
          <td>1</td>
          <td><b>Agro Land</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_myop_krishi_jomi" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp1_krishi_jomi"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp2_krishi_jomi"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp3_krishi_jomi"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp4_krishi_jomi"/></td>
        </tr>
        <tr>
          <td>2</td>
          <td><b>Non Agro Land</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mysp_okrishi_jomi" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp1_okrishi_jomi"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp2_okrishi_jomi"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp3_okrishi_jomi"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp4_okrishi_jomi"/></td>
        </tr>
        <tr>
          <td>3</td>
          <td><b>Building / Residential / Commercial Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mysp_building_residential_commercial" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp1_building_residential_commercial"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp2_building_residential_commercial"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp3_building_residential_commercial"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp4_building_residential_commercial"/></td>
        </tr>
        <tr>
          <td>4</td>
          <td><b>House / Apartment Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mysp_house_apartment" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp1_house_apartment"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp2_house_apartment"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp3_house_apartment"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp4_house_apartment"/></td>
        </tr>
        <tr>
          <td>5</td>
          <td><b>Tea garden / Rubber / Fisheries Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mysp_firm_tea_rabar_fish" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp1_firm_tea_rabar_fish"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp2_firm_tea_rabar_fish"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp3_firm_tea_rabar_fish"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp4_firm_tea_rabar_fish"/></td>
        </tr>
        <tr>
          <td>6</td>
          <td><b>Other Property</b></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6a_mysp_other" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp1_other"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp2_other"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp3_other"/></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_6b_mydepsp4_other"/></td>
        </tr>
      </table>
    </div>
  </div>

  <h2>6.c My Liability </h2>

  <div class="form-group">

    <div class="col-sm-12">
      <table>
        <tr>
          <th>Total Liability Amount</th>
          <th><input type="text" class="form-control" ng-model="Candidate.fld_6c_myl_amount"/></th>
        </tr>
        <!--<tr>-->
        <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_6c_myl_type" /></td>-->
        <!--<td><input type="text" class="form-control" ng-model="Candidate.fld_6c_myl_amount"/></td>-->
        <!--</tr>-->
      </table>
    </div>
  </div>

  <h2>7 Liability Detail</h2>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">7.a I am not liable individually or jointly:</label><div class="col-sm-10">
    <input type="checkbox" class="form-control" ng-model="Candidate.fld_7a_myld_i_hove_no_liability"/></div>
  </div>

  <p>or</p>

  <div class="form-group">

    <div class="col-sm-12">
      <table>
        <tr>
          <th>Liability Type Specification</th>
          <th>Bank / Organization Name</th>
          <th>Liability Amount</th>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_1" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_1" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_1"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_2" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_2" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_2"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_3" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_3" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_3"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_4" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_4" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_4"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_5" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_5" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_5"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_6" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_6" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_6"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_7" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_7" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_7"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_8" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_8" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_8"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_9" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_9" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_9"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_10" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_10" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_10"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_11" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_11" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_11"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_12" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_12" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_12"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_13" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_13" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_13"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_14" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_14" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_14"/></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.type_spec_15" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.bank_organization_15" /></td>
          <td><input type="text" class="form-control" ng-model="Candidate.fld_7b_myld.liability_amount_15"/></td>
        </tr>

      </table>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-success" ng-click="addCandidate()">Save</button>
    </div>
  </div>
</form>
