
<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<a class="navbar-brand" ui-sref="admin.candidate.showall">Candidate > Add/Edit Candidate's Probable Fund Receivable or Expenditure </a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


<ul class="nav navbar-nav navbar-right">
	<li><a ui-sref="admin.candidate.showall">Go to index</a></li>

</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

	<form class="form-horizontal candidate-form" role="form">

    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Created By:</label><div class="col-sm-10">
      <input type="text" class="form-control" ng-model="Candidate.created_by" ng-required="true"/></div>
    </div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">Information Availability:</label><div class="col-sm-10">
			<input type="text" class="form-control" ng-model="Candidate.pfre_information_availability" ng-required="true"/></div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">Full Name:</label><div class="col-sm-10">
			<input type="text" class="form-control" ng-model="Candidate.name"/></div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="name">City </label><div class="col-sm-10">
			<select ng-model="Candidate.city" class="form-control" name="type">

												<option value="dscc">Dhaka south city corporation</option>
												<option value="dncc">Dhaka north city corporation</option>
												<option value="ccc">Chittagong city corporation</option>

										</select>
		</div></div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="name">Type: </label><div class="col-sm-10">
			<select ng-model="Candidate.type" class="form-control" name="type">

                        <option value="mayor">Mayoral Candidate</option>
                        <option value="council">Council Candidate</option>
                     </select>
		</div></div>

    <div ng-if="Candidate.city=='dscc' || Candidate.city=='dncc' || Candidate.city=='ccc'">
    <div class="form-group">
			<label class="control-label col-sm-2" for="name">Ward: </label><div class="col-sm-10">



      <select ng-if="Candidate.city=='dscc'" class="bigbangla" ng-model="Candidate.ward" >
        <option value="">--Select--</option>
        <option value="1889">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন (মেয়র)</option><option value="1890">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০১ )</option><option value="1891">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০২ )</option><option value="1892">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৩ )</option><option value="1893">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৪ )</option><option value="1894">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৫ )</option><option value="1895">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৬ )</option><option value="1896">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৭ )</option><option value="1897">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৮ )</option><option value="1898">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৯ )</option><option value="1899">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১০ )</option><option value="1900">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১১ )</option><option value="1901">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১২ )</option><option value="1902">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৩ )</option><option value="1903">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৪ )</option><option value="1904">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৫ )</option><option value="1905">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৬ )</option><option value="1906">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৭ )</option><option value="1907">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৮ )</option><option value="1908">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৯ )</option><option value="1909">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২০ )</option><option value="1910">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২১ )</option><option value="1911">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২২ )</option><option value="1912">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৩ )</option><option value="1913">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৪ )</option><option value="1914">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৫ )</option><option value="1915">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৬ )</option><option value="1916">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৭ )</option><option value="1917">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৮ )</option><option value="1918">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৯ )</option><option value="1919">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩০ )</option><option value="1920">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩১ )</option><option value="1921">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩২ )</option><option value="1922">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৩ )</option><option value="1923">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৪ )</option><option value="1924">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৫ )</option><option value="1925">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৬ )</option><option value="1926">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৭ )</option><option value="1927">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৮ )</option><option value="1928">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৯ )</option><option value="1929">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪০ )</option><option value="1930">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪১ )</option><option value="1931">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪২ )</option><option value="1932">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৩ )</option><option value="1933">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৪ )</option><option value="1934">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৫ )</option><option value="1935">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৬ )</option><option value="1936">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৭ )</option><option value="1937">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৮ )</option><option value="1938">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৯ )</option><option value="1939">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫০ )</option><option value="1940">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫১ )</option><option value="1941">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫২ )</option><option value="1942">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৩ )</option><option value="1943">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৪ )</option><option value="1944">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৫ )</option><option value="1945">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৬ )</option><option value="2021">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৭ )</option><option value="1946">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০১ )</option><option value="1947">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০২ )</option><option value="1948">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৩ )</option><option value="1949">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৪ )</option><option value="1950">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৫ )</option><option value="1951">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৬ )</option><option value="1952">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৭ )</option><option value="1953">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৮ )</option><option value="1954">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৯ )</option><option value="1955">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১০ )</option><option value="1956">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১১ )</option><option value="1957">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১২ )</option><option value="1958">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৩ )</option><option value="1959">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৪ )</option><option value="1960">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৫ )</option><option value="1961">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৬ )</option><option value="1962">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৭ )</option><option value="1963">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৮ )</option><option value="1964">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৯ )</option>						</select>


      <select ng-if="Candidate.city=='dncc'" class="bigbangla" ng-model="Candidate.ward" >
        <option value="">--Select--</option>
        <option value="1840">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন (মেয়র)</option><option value="1841">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০১ )</option><option value="1842">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০২ )</option><option value="1843">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৩ )</option><option value="1844">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৪ )</option><option value="1845">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৫ )</option><option value="1846">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৬ )</option><option value="1847">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৭ )</option><option value="1848">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৮ )</option><option value="1849">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৯ )</option><option value="1850">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১০ )</option><option value="1851">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১১ )</option><option value="1852">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১২ )</option><option value="1853">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৩ )</option><option value="1854">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৪ )</option><option value="1855">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৫ )</option><option value="1856">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৬ )</option><option value="1857">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৭ )</option><option value="1858">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৮ )</option><option value="1859">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৯ )</option><option value="1860">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২০ )</option><option value="1861">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২১ )</option><option value="1862">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২২ )</option><option value="1863">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৩ )</option><option value="1864">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৪ )</option><option value="1865">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৫ )</option><option value="1866">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৬ )</option><option value="1867">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৭ )</option><option value="1868">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৮ )</option><option value="1869">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৯ )</option><option value="1870">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩০ )</option><option value="1871">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩১ )</option><option value="1872">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩২ )</option><option value="1873">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৩ )</option><option value="1874">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৪ )</option><option value="1875">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৫ )</option><option value="1876">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৬ )</option><option value="1877">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০১ )</option><option value="1878">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০২ )</option><option value="1879">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৩ )</option><option value="1880">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৪ )</option><option value="1881">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৫ )</option><option value="1882">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৬ )</option><option value="1883">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৭ )</option><option value="1884">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৮ )</option><option value="1885">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৯ )</option><option value="1886">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১০ )</option><option value="1887">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১১ )</option><option value="1888">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১২ )</option>						</select>

      <select ng-if="Candidate.city=='ccc'" class="bigbangla" ng-model="Candidate.ward" >
        <option value="">--Select--</option>
        <option value="1965">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন (মেয়র)</option><option value="1966">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর (ওয়ার্ড নং- ০১)</option><option value="1967" selected="">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০২ )</option><option value="1968">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৩ )</option><option value="1969">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৪ )</option><option value="1970">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৫ )</option><option value="1971">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৬ )</option><option value="1972">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৭)</option><option value="1973">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৮ )</option><option value="1974">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৯ )</option><option value="1975">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১০ )</option><option value="1976">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১১ )</option><option value="1977">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১২ )</option><option value="1978">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৩ )</option><option value="1979">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৪ )</option><option value="1980">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৫ )</option><option value="1981">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৬ )</option><option value="1982">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৭ )</option><option value="1983">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৮ )</option><option value="1984">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৯ )</option><option value="1985">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২০ )</option><option value="1986">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২১ )</option><option value="1987">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২২ )</option><option value="1988">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৩ )</option><option value="1989">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৪ )</option><option value="1990">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৫ )</option><option value="1991">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৬ )</option><option value="1992">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৭)</option><option value="1993">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৮ )</option><option value="1994">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৯ )</option><option value="1995">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩০ )</option><option value="1996">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩১ )</option><option value="1997">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩২ )</option><option value="1998">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৩ )</option><option value="1999">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৪ )</option><option value="2000">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৫ )</option><option value="2001">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৬ )</option><option value="2002">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৭ )</option><option value="2003">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৮ )</option><option value="2004">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৯ )</option><option value="2005">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৪০ )</option><option value="2006">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪১ )</option><option value="2007">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০১ )</option><option value="2008">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০২ )</option><option value="2009">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৩ )</option><option value="2010">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৪ )</option><option value="2011">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৫ )</option><option value="2012">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৬ )</option><option value="2013">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৭ )</option><option value="2014">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৮ )</option><option value="2015">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৯ )</option><option value="2016">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১০ )</option><option value="2017">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১১ )</option><option value="2018">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১২ )</option><option value="2019">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৩ )</option><option value="2020">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৪ )</option>						</select>

      </div>
		</div>
    </div>



    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Permanent Address:</label><div class="col-sm-10">
      <textarea  class="form-control" ng-model="Candidate.permanent_address" rows="3"></textarea> </div>
    </div>

    <h1>1. Probable Fund Receivable Source</h1>
    <hr/>
    <h2>1.a Probable Fund Receivable Source : Own Income</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Probable Amount</th>
            <th>Income Source Name</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1a_pfs_own_amount" /></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1a_pfs_own"/></td>
          </tr>

        </table>
      </div>
    </div>

    <h2>1.b Probable Fund Receivable Source : From Relative's Loan</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Probable's Amount</th>
            <th>Relative's Name</th>
            <th>Relative's Address</th>
            <th>Relative's Relation</th>
            <th>Relative's Income source</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1b_pfs_relative_loan_owner_amount" /></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1b_pfs_relative_loan_owner_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1b_pfs_relative_loan_owner_address"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1b_pfs_relative_loan_owner_relation"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1b_pfs_relative_loan_owner_incomesource"/></td>
          </tr>

        </table>
      </div>
    </div>


    <h2>1.c Probable Fund Receivable Source : From Relative's Willingly Gift</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Probable's Amount</th>
            <th>Relative's Name</th>
            <th>Relative's Address</th>
            <th>Relative's Relation</th>
            <th>Relative's Income source</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1c_pfs_relative_gifter_amount" /></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1b_pfs_relative_gifter_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1b_pfs_relative_gifter_address"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1b_pfs_relative_gifter_relation"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1b_pfs_relative_gifter_incomesource"/></td>
          </tr>

        </table>
      </div>
    </div>


    <h2>1.d Probable Fund Receivable Source : From Non Relative's Loan</h2>
    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Probable's Amount</th>
            <th>Non Relative's Name</th>
            <th>Non Relative's Address</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1d_pfs_nonrelative_loan_owner_amount" /></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1d_pfs_nonrelative_loan_owner_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1d_pfs_nonrelative_loan_owner_address"/></td>
          </tr>

        </table>
      </div>
    </div>

    <h2>1.e Probable Fund Receivable Source : From Non Relative's Willingly Gift</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Probable's Amount</th>
            <th>Non Relative's Name</th>
            <th>Non Relative's Address</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1e_pfs_nonrelative_gifter_amount" /></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1e_pfs_nonrelative_gifter_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1e_pfs_nonrelative_gifter_address"/></td>
          </tr>

        </table>
      </div>
    </div>

    <h2>1.f Probable Fund Receivable Source : From Other's Source (Except 1.a, 1.b, 1.c, 1.d, 1.e)</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Others's Amount</th>
            <th>Others's Person Name</th>
            <th>Others's Person Address</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1e_pfs_other_gifter_amount" /></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1e_pfs_other_gifter_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_1e_pfs_other_gifter_address"/></td>
          </tr>

        </table>
      </div>
    </div>

    <h1>Probable Expenditure </h1>
    <h2>2.a Probable Expenditure : From Poster</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Poster Quantity</th>
            <th>Expenditure Amount</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2a_pe_poster_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2a_pe_poster_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.b Probable Expenditure : From Election Camp</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Election Camp/Office Quantity</th>
            <th>Camp/Office Establishment Expenditure Amount</th>
            <th>Camp/Office Worker Expenditure Amount</th>
            <th>Camp/Office Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4 = 2 + 3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2b_pe_election_camp_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2b_pe_election_camp_expenditure_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2b_pe_election_camp_worker_expenditure_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2b_pe_election_camp_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.c Probable Expenditure : From Central Election Camp/Office</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Camp/Office Establishment Expenditure Amount</th>
            <th>Camp/Office Worker Expenditure Amount</th>
            <th>Camp/Office Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3 = 1 + 2</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2c_pe_central_camp_arc_expenditure_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2c_pe_central_camp_worker_expenditure_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2c_pe_central_camp_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.d Probable Expenditure : From Candidate's TADA (Jatayat khoroch)</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Own or Agent's TADA Expenditure Amount</th>
            <th>Worker TADA Expenditure Amount</th>
            <th>Total TADA Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3 = 1 + 2</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2d_pe_tada_own_expenditure_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2d_pe_tada_worker_expenditure_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2d_pe_tada_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.e Probable Expenditure : From Local Meeting (Ghoroa Boithak or Shobha)</h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Venue Rent Expenditure Amount</th>
            <th>Worker Expenditure Amount (for Meeting Arrangement)</th>
            <th>Furniture Rent Expenditure Amount (for Meeting Arrangement)</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4 = 1 + 2 + 3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2e_pe_meeting_venue_expenditure_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2e_pe_meeting_worker_expenditure_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2e_pe_meeting_furniture_expenditure_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2e_pe_meeting_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.f Probable Expenditure : From Leaflet </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Press Name</th>
            <th>Leaflet Quantity</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2f_pe_leaflet_press_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2f_pe_leaflet_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2f_pe_leaflet_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.g Probable Expenditure : From Handbill </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Press Name</th>
            <th>Handbill Quantity</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2g_pe_handbill_press_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2g_pe_handbill_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2g_pe_handbill_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.h Probable Expenditure : From Sticker </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Press Name</th>
            <th>Sticker Quantity</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2h_pe_sticker_press_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2h_pe_sticker_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2h_pe_sticker_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.i.1 Probable Expenditure : From Banner  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Banner Quantity</th>
            <th>Banner Prepare Expenditure Amount</th>
            <th>Banner Hanging Expenditure Amount</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4=2+3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2i1_pe_banner_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2i1_pe_banner_prepare_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2i1_pe_banner_hanging_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2i1_pe_banner_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.i.2 Probable Expenditure : From Digital Banner  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Digital Banner Quantity</th>
            <th>Digital Banner Prepare Expenditure Amount</th>
            <th>Digital Banner Hanging Expenditure Amount</th>
            <th>Digital Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4=2+3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2i2_pe_dbanner_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2i2_pe_dbanner_prepare_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2i2_pe_dbanner_hanging_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2i2_pe_dbanner_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.j Probable Expenditure : From Raillies  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Raillies Quantity</th>
            <th>Mic/Hand Mic Expenditure Amount</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2j_pe_raillies_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2j_pe_dbanner_mic_handmic_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2j_pe_dbanner_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.k Probable Expenditure : From Miking  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Vehicle Rent Amout</th>
            <th>Worker Expenditure Amount</th>
            <th>Rent Amount</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4=1+2+3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2k_pe_miking_vehicle_rent_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2k_pe_miking_worker_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2k_pe_miking_rent_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2k_pe_miking_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.l Probable Expenditure : From Potrait  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Potrait Quantity</th>
            <th>Press Name</th>
            <th>Prepare Amount</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4=2+3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2l_pe_potrait_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2l_pe_potrait_press_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2l_pe_potrait_prepare_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2l_pe_potrait_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.m Probable Expenditure : From Election Symbol  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Symbol Quantity</th>
            <th>Symbol Prepare Amount</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2m_pe_symbol_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2m_pe_symbol_prepare_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2m_pe_symbol_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.n Probable Expenditure : From Office Appayon  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Office Quantity</th>
            <th>Office Appayon Expenditure Amount(daily)</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2n_pe_office_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2n_pe_office_daily_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2n_pe_office_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.o Probable Expenditure : From Worker  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Worker Quantity</th>
            <th>Worker(each) Expenditure Amount(daily)</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2o_pe_worker_quantity"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2o_pe_worker_man_daily_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2o_pe_worker_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>


    <h2>2.p Probable Expenditure : From TV or Other Electronic Media Campaign  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>TV Campaign Expenditure Amount</th>
            <th>Other Electronic Media Expenditure Amount</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3 = 1 + 2</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2p_pe_tv_campaign_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2p_pe_other_media_campaign_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2p_pe_tv_other_media_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>

    <h2>2.q Probable Expenditure : From Miscellaneous  </h2>

    <div class="form-group">

      <div class="col-sm-12">
        <table>
          <tr>
            <th>Miscellaneous Scope Name</th>
            <th>Expenditure Amount</th>
            <th>Total Expenditure Amount</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2q_pe_misc_scope_name"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2q_pe_misc_scope_amount"/></td>
            <td><input type="text" class="form-control" ng-model="Candidate.fld_pfre_2q_pe_tv_misc_scope_total_expenditure_amount"/></td>
          </tr>
        </table>
      </div>
    </div>


		    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-success" ng-click="editCandidate()">Save</button>
      </div>
    </div>
	</form>
