<div class="row">
    <div class="col-md-12">

        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Candidate Affidavit - ({{totalCandidates}})</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right admin-navbar-ul">

        <li><p class="navbar-btn" type="button" ng-csv="candidateList" filename="candidate.csv">
          <a  class="btn btn-primary">Export CSV</a>
          </p></li>

        <li><p class="navbar-btn"><a class="btn btn-success" ui-sref="admin.candidate.create">Create New</a></p></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="well">
     <div class="table-responsive">
       <table class="table">
         <thead>
         <tr>
           <th>Image</th>
           <th>Name</th>
           <th>City</th>
           <th>Type</th>
           <th>Ward</th>
           <th>Created By</th>
           <th>Edit Affidavit</th>
           <th>Edit PFRE</th>
           <th>Delete</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="row in candidateList | orderBy:'-id'">
           <td><img class="candi_image img-responsive"   src="/images/candidate_image/{{row.image}}" style="height:150px;"/></td>
           <td>{{row.name}}</td>
           <td>{{row.city}}</td>
           <td>{{row.type}}</td>
           <td>{{row.ward}}</td>
           <td>{{row.created_by}}</td>
           <td>
             <a ui-sref="admin.candidate.edit( {slug: row.id})"  target="_blank"><span class="badge">Edit Affidavit</span></a>
           </td>
           <td>
             <a ui-sref="admin.candidate.editpfre( {slug: row.id})"  target="_blank"><span class="badge">Edit PFRE</span></a>
           </td>
           <td><span class="badge">
          <span class="delete-button" ng-click="deleteCandidate(row)">delete</span>
        </span></td>

         </tr>
         </tbody>
       </table>
      </div>

    </div>



    </div>
</div>
