<h1>Election Result</h1>


<form class="form-horizontal candidate-form" role="form">


  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Type: </label><div class="col-sm-10">
    <select ng-model="search.type" class="form-control" name="type">

      <option value="mayor">Mayoral search</option>
      <option value="council">Council search</option>
    </select>
  </div>
  </div>



<div class="form-group">
  <label class="control-label col-sm-2" for="name">City </label><div class="col-sm-10">
  <select ng-model="search.city" class="form-control" name="type">

    <option value="dscc">Dhaka south city corporation</option>
    <option value="dncc">Dhaka north city corporation</option>
    <option value="ccc">Chittagong city corporation</option>

  </select>
</div></div>



<div ng-if="search.type=='council'">
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Ward: </label><div class="col-sm-10">



    <select ng-if="search.city=='dscc'" class="form-control" ng-model="search.ward" >
      <option value="">--Select--</option>
      <option value="1889">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন (মেয়র)</option><option value="1890">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০১ )</option><option value="1891">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০২ )</option><option value="1892">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৩ )</option><option value="1893">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৪ )</option><option value="1894">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৫ )</option><option value="1895">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৬ )</option><option value="1896">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৭ )</option><option value="1897">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৮ )</option><option value="1898">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৯ )</option><option value="1899">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১০ )</option><option value="1900">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১১ )</option><option value="1901">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১২ )</option><option value="1902">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৩ )</option><option value="1903">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৪ )</option><option value="1904">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৫ )</option><option value="1905">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৬ )</option><option value="1906">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৭ )</option><option value="1907">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৮ )</option><option value="1908">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৯ )</option><option value="1909">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২০ )</option><option value="1910">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২১ )</option><option value="1911">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২২ )</option><option value="1912">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৩ )</option><option value="1913">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৪ )</option><option value="1914">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৫ )</option><option value="1915">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৬ )</option><option value="1916">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৭ )</option><option value="1917">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৮ )</option><option value="1918">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৯ )</option><option value="1919">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩০ )</option><option value="1920">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩১ )</option><option value="1921">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩২ )</option><option value="1922">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৩ )</option><option value="1923">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৪ )</option><option value="1924">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৫ )</option><option value="1925">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৬ )</option><option value="1926">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৭ )</option><option value="1927">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৮ )</option><option value="1928">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৯ )</option><option value="1929">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪০ )</option><option value="1930">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪১ )</option><option value="1931">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪২ )</option><option value="1932">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৩ )</option><option value="1933">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৪ )</option><option value="1934">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৫ )</option><option value="1935">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৬ )</option><option value="1936">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৭ )</option><option value="1937">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৮ )</option><option value="1938">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪৯ )</option><option value="1939">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫০ )</option><option value="1940">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫১ )</option><option value="1941">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫২ )</option><option value="1942">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৩ )</option><option value="1943">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৪ )</option><option value="1944">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৫ )</option><option value="1945">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৬ )</option><option value="2021">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৫৭ )</option><option value="1946">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০১ )</option><option value="1947">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০২ )</option><option value="1948">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৩ )</option><option value="1949">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৪ )</option><option value="1950">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৫ )</option><option value="1951">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৬ )</option><option value="1952">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৭ )</option><option value="1953">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৮ )</option><option value="1954">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৯ )</option><option value="1955">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১০ )</option><option value="1956">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১১ )</option><option value="1957">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১২ )</option><option value="1958">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৩ )</option><option value="1959">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৪ )</option><option value="1960">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৫ )</option><option value="1961">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৬ )</option><option value="1962">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৭ )</option><option value="1963">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৮ )</option><option value="1964">ঢাকা দক্ষিণ সিটি কর্পোরেশন নির্বাচন সংরক্ষিত মহিলা আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৯ )</option>						</select>


    <select ng-if="search.city=='dncc'" class="form-control" ng-model="search.ward" >
      <option value="">--Select--</option>
      <option value="1840">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন (মেয়র)</option><option value="1841">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০১ )</option><option value="1842">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০২ )</option><option value="1843">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৩ )</option><option value="1844">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৪ )</option><option value="1845">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৫ )</option><option value="1846">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৬ )</option><option value="1847">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৭ )</option><option value="1848">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৮ )</option><option value="1849">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-০৯ )</option><option value="1850">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১০ )</option><option value="1851">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১১ )</option><option value="1852">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১২ )</option><option value="1853">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৩ )</option><option value="1854">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৪ )</option><option value="1855">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৫ )</option><option value="1856">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৬ )</option><option value="1857">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৭ )</option><option value="1858">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৮ )</option><option value="1859">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-১৯ )</option><option value="1860">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২০ )</option><option value="1861">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২১ )</option><option value="1862">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২২ )</option><option value="1863">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৩ )</option><option value="1864">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৪ )</option><option value="1865">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৫ )</option><option value="1866">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৬ )</option><option value="1867">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৭ )</option><option value="1868">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৮ )</option><option value="1869">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-২৯ )</option><option value="1870">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩০ )</option><option value="1871">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩১ )</option><option value="1872">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩২ )</option><option value="1873">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৩ )</option><option value="1874">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৪ )</option><option value="1875">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৫ )</option><option value="1876">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৩৬ )</option><option value="1877">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০১ )</option><option value="1878">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০২ )</option><option value="1879">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৩ )</option><option value="1880">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৪ )</option><option value="1881">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৫ )</option><option value="1882">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৬ )</option><option value="1883">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৭ )</option><option value="1884">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৮ )</option><option value="1885">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৯ )</option><option value="1886">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১০ )</option><option value="1887">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১১ )</option><option value="1888">ঢাকা উত্তর সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১২ )</option>						</select>

    <select ng-if="search.city=='ccc'" class="form-control" ng-model="search.ward" >
      <option value="">--Select--</option>
      <option value="1965">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন (মেয়র)</option><option value="1966">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর (ওয়ার্ড নং- ০১)</option><option value="1967" selected="">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০২ )</option><option value="1968">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৩ )</option><option value="1969">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৪ )</option><option value="1970">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৫ )</option><option value="1971">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৬ )</option><option value="1972">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৭)</option><option value="1973">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৮ )</option><option value="1974">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ০৯ )</option><option value="1975">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১০ )</option><option value="1976">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১১ )</option><option value="1977">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১২ )</option><option value="1978">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৩ )</option><option value="1979">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৪ )</option><option value="1980">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৫ )</option><option value="1981">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৬ )</option><option value="1982">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৭ )</option><option value="1983">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৮ )</option><option value="1984">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ১৯ )</option><option value="1985">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২০ )</option><option value="1986">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২১ )</option><option value="1987">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২২ )</option><option value="1988">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৩ )</option><option value="1989">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৪ )</option><option value="1990">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৫ )</option><option value="1991">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৬ )</option><option value="1992">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৭)</option><option value="1993">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৮ )</option><option value="1994">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ২৯ )</option><option value="1995">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩০ )</option><option value="1996">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩১ )</option><option value="1997">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩২ )</option><option value="1998">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৩ )</option><option value="1999">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৪ )</option><option value="2000">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৫ )</option><option value="2001">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৬ )</option><option value="2002">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৭ )</option><option value="2003">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৮ )</option><option value="2004">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৩৯ )</option><option value="2005">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং- ৪০ )</option><option value="2006">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সাধারণ আসনের কাউন্সিলর( ওয়ার্ড নং-৪১ )</option><option value="2007">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০১ )</option><option value="2008">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০২ )</option><option value="2009">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৩ )</option><option value="2010">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৪ )</option><option value="2011">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৫ )</option><option value="2012">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৬ )</option><option value="2013">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৭ )</option><option value="2014">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৮ )</option><option value="2015">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-০৯ )</option><option value="2016">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১০ )</option><option value="2017">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১১ )</option><option value="2018">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১২ )</option><option value="2019">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৩ )</option><option value="2020">চট্রগ্রাম সিটি কর্পোরেশন নির্বাচন সংরক্ষিত আসনের কাউন্সিলর( সংরক্ষিত মহিলা আসন-১৪ )</option>						</select>

  </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="button" class="btn btn-success" ng-click="loadCandidate()">Submit</button>
  </div>
</div>
</form>


<div class="well">
     <div class="table-responsive">
       <table class="table">
         <thead>
         <tr>
           <th>Image</th>
           <th>Link</th>
           <th>Name</th>
           <th>Is Winner</th>
           <th>Vote Received</th>
           <th>Vote Percentage</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="row in data">
           <td><img class="candi_image img-responsive"   src="/images/candidate_image/{{row.image}}" style="height:100px;"/></td>
           <td>
             <a ui-sref="admin.candidate.edit( {slug: row.id})"  target="_blank"><span class="badge">Edit Affidavit</span></a><br>
             <a ui-sref="admin.candidate.editpfre( {slug: row.id})"  target="_blank"><span class="badge">Edit PFRE</span></a>
           </td>
           <td><input class="form-control" type="text"  ng-model="row.name"></td>
           <td><input class="form-control" type="checkbox"  ng-model="row.is_winner"></td>
           <td><input class="form-control" type="number"  ng-model="row.vote_received"></td>
           <td><input class="form-control" type="number"  ng-model="row.vote_percentage"></td>
           <td><button class="btn btn-primary" ng-click="saveCandidate(row)">Save</button></td>
         </tr>

         </tbody>
       </table>
      </div>
</div>
