<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>City Corp Elections</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="/bower_components/angular-motion/dist/angular-motion.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">


<!--STYLES-->
<link rel="stylesheet" href="/styles/admin.css">
<link rel="stylesheet" href="/styles/animate.min.css">
<link rel="stylesheet" href="/styles/app.css">
<link rel="stylesheet" href="/styles/article.css">
<link rel="stylesheet" href="/styles/hover-min.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/jquery.countdown.css">
<link rel="stylesheet" href="/styles/leaflet.css">
<link rel="stylesheet" href="/styles/li-scroller.css">
<link rel="stylesheet" href="/styles/ng-table.min.css">
<link rel="stylesheet" href="/styles/owl.carousel.css">
<link rel="stylesheet" href="/styles/owl.theme.css">
<link rel="stylesheet" href="/styles/select.min.css">
<link rel="stylesheet" href="/styles/timeline.css">
<!--STYLES END-->
<link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/bower_components/angular-ui-grid/ui-grid.css" />
<link rel="stylesheet" href="/fonts/ultra/stylesheet.css" />
 </head>
 <body>
 <%- body %>
  </body>
</html>

   <script src="/bower_components/jquery/dist/jquery.min.js"></script>


<script src="/bower_components/angular/angular.min.js"></script>

<script src="/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/ng-csv/build/ng-csv.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="/bower_components/angular-translate/angular-translate.js"></script>

<script src="/vendors/wowjs/wow.min.js"></script>
<script src="/vendors/sails-socket-client/sails.io.js"></script>
<script src="/vendors/leafletjs/angular-leaflet-directive.min.js"></script>
<script src="/vendors/angular-scroll/angular-scroll.min.js"></script>

<script src="/vendors/leafletjs/leaflet.js"></script>
<script src="/vendors/ng-table/ng-table.min.js"></script>
<script src="/vendors/selectjs/select.min.js"></script>

<!--SCRIPTS-->
<script src="/js/dependencies/device.js"></script>
<script src="/js/dependencies/inewsticker.js"></script>
<script src="/js/dependencies/jquery-migrate-1.js"></script>
<script src="/js/dependencies/jquery.countdown.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/jquery.li-scroller.1.0.js"></script>
<script src="/js/dependencies/modal.js"></script>
<script src="/js/dependencies/news-ticker-horizontal.js"></script>
<script src="/js/dependencies/owl.carousel.min.js"></script>
<script src="/js/dependencies/parallax.min.js"></script>
<script src="/js/dependencies/tmstickup.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/AboutCitycorpController.js"></script>
<script src="/js/controllers/AdminController.js"></script>
<script src="/js/controllers/AdminElectionResultController.js"></script>
<script src="/js/controllers/CouncilorCityWardController.js"></script>
<script src="/js/controllers/CouncilorController.js"></script>
<script src="/js/controllers/CreateCandidateController.js"></script>
<script src="/js/controllers/ElectionObserberController.js"></script>
<script src="/js/controllers/ElectionResultsController.js"></script>
<script src="/js/controllers/ElectionTimelineController.js"></script>
<script src="/js/controllers/IncidentReportsController.js"></script>
<script src="/js/controllers/MalpracticeController.js"></script>
<script src="/js/controllers/NewsController.js"></script>
<script src="/js/controllers/NewsEditController.js"></script>
<script src="/js/controllers/ObservationResultsController.js"></script>
<script src="/js/controllers/SubscriberController.js"></script>
<script src="/js/controllers/WardController.js"></script>
<script src="/js/controllers/candidatesController.js"></script>
<script src="/js/controllers/candidatesEditController.js"></script>
<script src="/js/controllers/candidatesEditPFREController.js"></script>
<script src="/js/controllers/candidatesMayoralController.js"></script>
<script src="/js/controllers/candidatesPFREController.js"></script>
<script src="/js/controllers/cccmapController.js"></script>
<script src="/js/controllers/cccvotermapController.js"></script>
<script src="/js/controllers/controllers.js"></script>
<script src="/js/controllers/dhakathonController.js"></script>
<script src="/js/controllers/dnccmapController.js"></script>
<script src="/js/controllers/dsccmapController.js"></script>
<script src="/js/controllers/election_result/CouncilorStateController.js"></script>
<script src="/js/controllers/election_result/KeyNumberStateController.js"></script>
<script src="/js/controllers/election_result/MayoralStateController.js"></script>
<script src="/js/controllers/election_result/ReservedStateController.js"></script>
<script src="/js/controllers/homeController.js"></script>
<script src="/js/controllers/incident/cccIncidentController.js"></script>
<script src="/js/controllers/incident/cccIncidentMobileController.js"></script>
<script src="/js/controllers/incident/dnccIncidentController.js"></script>
<script src="/js/controllers/incident/dnccIncidentMobileController.js"></script>
<script src="/js/controllers/incident/dsccIncidentController.js"></script>
<script src="/js/controllers/incident/dsccIncidentMobileController.js"></script>
<script src="/js/controllers/loginController.js"></script>
<script src="/js/controllers/maps/cccPollingController.js"></script>
<script src="/js/controllers/maps/cccPollingMobileController.js"></script>
<script src="/js/controllers/maps/cccPopulationController.js"></script>
<script src="/js/controllers/maps/cccPopulationMobileController.js"></script>
<script src="/js/controllers/maps/cccVoterController.js"></script>
<script src="/js/controllers/maps/cccVoterMobileController.js"></script>
<script src="/js/controllers/maps/dnccPollingController.js"></script>
<script src="/js/controllers/maps/dnccPollingMobileController.js"></script>
<script src="/js/controllers/maps/dnccPopulationController.js"></script>
<script src="/js/controllers/maps/dnccPopulationMobileController.js"></script>
<script src="/js/controllers/maps/dnccVoterController.js"></script>
<script src="/js/controllers/maps/dnccVoterMobileController.js"></script>
<script src="/js/controllers/maps/dsccPollingController.js"></script>
<script src="/js/controllers/maps/dsccPollingMobileController.js"></script>
<script src="/js/controllers/maps/dsccPopulationController.js"></script>
<script src="/js/controllers/maps/dsccPopulationMobileController.js"></script>
<script src="/js/controllers/maps/dsccVoterController.js"></script>
<script src="/js/controllers/navController.js"></script>
<script src="/js/controllers/registerController.js"></script>
<script src="/js/controllers/show_candidateController.js"></script>
<script src="/js/controllers/uploadController.js"></script>
<script src="/js/controllers/view_candidateController.js"></script>
<script src="/js/localization/bn_BN.js"></script>
<script src="/js/localization/en_EN.js"></script>
<script src="/js/routes.js"></script>
<script src="/js/services/accessLevels.js"></script>
<script src="/js/services/auth.js"></script>
<script src="/js/services/currentUser.js"></script>
<script src="/js/services/localStorage.js"></script>
<script src="/js/services/translateProvider.js"></script>
<!--SCRIPTS END-->

    <script>
        $(document).ready(function() {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
<script>
 new WOW().init();
</script>
<script src="/js/dependencies/jquery.countdown.js"></script>

    <script src="/js/dependencies/inewsticker.js"></script>

    <script src="/js/dependencies/owl.carousel.min.js"></script>
    <script>

        $(document).scroll(function() {
            if ($(this).scrollTop() > 20)
            {
                $(".large_menu").addClass('normal_menu');
                //$("#logo_name").show():


            }
            else {
                $(".large_menu").removeClass('normal_menu'); // Add brandnewclass for transition effects while returning back to the previous state.\
              //  $("#logo_name").hide():
            }

        });
    </script>






<style>
    #scroll_top {
        background: none repeat scroll 0 0 #4D7886;
        bottom: 200px;
        color: #FFFFFF;
        display: none;
        font-weight: bold;
        opacity: 0.8;
        padding: 15px 20px;
        position: fixed;
        right: 0;
        z-index:100;
    }
</style>

<a id="scroll_top"  href="#top" class="scrollup"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript">
    $(document).ready(function() {



        $(window).scroll(function() {
            if ($(this).scrollTop() > 600) {
                $('#scroll_top').fadeIn();
            } else {
                $('#scroll_top').fadeOut();
            }
        });



        $("a[href='#top']").click(function() {
            $("html, body").animate({scrollTop: 0}, "slow");
            return false;
        });

    });
</script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61182850-1', 'auto');
 // ga('send', 'pageview');

</script>
