
@keyframes animatedBackground {
0% {
    background-position: 0 0;
}
100% {
    background-position: 100% 0;
}
}
#timeline {
    animation: 40s linear 0s normal none infinite running animatedBackground;
    background: url("/images/stardust.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.timeline {
    height: 680px;
    min-height: 540px;
    overflow-x: auto;
    padding: 246px 30px;
    position: relative;
}
.bar {
    background: none repeat scroll 0 0 transparent;
    border-top: 8px dotted white;
    height: 7px;
    left: 0;
    margin: 20px;
    overflow: visible;
    position: relative;
    width: 1470px;
}
.event_date {
    background: url("/images/calender.png") repeat scroll 0 0 / 84px 84px transparent;
    display: block;
    height: 84px;
    line-height: 66px;
    padding: 11px;
    position: absolute;
    text-align: center;
    top: 216px;
    width: 84px;
    z-index: 10000;
}
.event_date h5 {
    color: brown;
    font-size: 30px;
    margin: 0;
    padding: 15px 0 0;
}
.event_date h6 {
    color: white;
    margin: 0;
    padding: 2px 0 0;
    text-shadow: 1px 1px 1px black;
}
#first_event {
    background: url("/images/folded-red.png") no-repeat scroll 0 0 / 170px 220px transparent;
    border: medium none;
    border-radius: 3px;
    color: brown;
    display: inline-block;
    font-size: 18px;
    height: 280px;  width: 172px;
    max-width: 600px;
    min-width: 200px;
    padding: 44px;
    position: absolute;
    text-align: center;
    top: 8px;
    vertical-align: top;
  
    z-index: 1000;
}
#first_event_date {
    left: 50px;
}
#first_event_line {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-right: 6px dotted #f7ef5e;
    content: "";
    display: block;
    height: 100px;
    left: 91px;
    margin-left: -2px;
    position: absolute;
    top: 127px;
    width: 1px;
    z-index: 1;
}
#second_event {
    background: url("/images/note-g.png") no-repeat scroll 0 0 / 180px 180px transparent;
    color: white;
    display: inline-block;
    font-size: 12px;
    
    left: 150px;
    max-width: 600px;
    min-width: 200px;
    padding: 70px 30px 30px;
    position: absolute;
    text-align: center;
    top: 300px;
    vertical-align: top;
        height: 280px;  width: 172px;
    z-index: 11;
}
#second_event_date {
    left: 217px;
}
#second_event_line {
    border-right: 6px dotted red;
    bottom: 311px;
    content: "";
    display: block;
    height: 90px;
    left: 249px;
    position: absolute;
    width: 5px;
    z-index: 1;
}
#third_event {
    background: url("/images/note-b.png") no-repeat scroll 0 0 / 180px 180px rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    font-size: 18px;
        height: 280px;  width: 172px;
    left: 396px;
    max-width: 600px;
    min-width: 200px;
    padding: 56px 24px 10px 10px;
    position: absolute;
    text-align: center;
    top: 10px;
    vertical-align: top;
   
    z-index: 10;
}
#third_event_date {
    left: 490px;
}
#third_event_line {
    border-right: 6px dotted #68bd4f;
    content: "";
    display: block;
    height: 100px;
    left: 532px;
    position: absolute;
    top: 148px;
    width: 5px;
    z-index: 1;
}
#fourth_event {
    background: url("/images/note-red.png") no-repeat scroll 0 0 / 200px 200px rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    font-size: 12px;
       height: 280px;  width: 172px;
    left: 670px;
    padding: 90px 30px 30px 20px;
    position: absolute;
    text-align: center;
    top: 300px;
    vertical-align: top;
    
    z-index: 111;
}
#fourth_event_date {
    left: 717px;
}
#fourth_event_line {
    border-right: 6px dotted brown;
    bottom: 301px;
    content: "";
    display: block;
    height: 90px;
    left: 752px;
    position: absolute;
    width: 5px;
    z-index: 1;
}
#fifth_event {
    background: url("/images/note-r.png") no-repeat scroll 0 0 / 198px 194px rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    font-size: 18px;
        height: 280px;  width: 172px;
    left: 770px;
    padding: 77px 10px 10px 20px;
    position: absolute;
    text-align: center;
    top: 10px;
    vertical-align: top;
 
    z-index: 10;
}
#fifth_event_date {
    left: 890px;
}
#fifth_event_line {
    border-right: 6px dotted green;
    content: "";
    display: block;
    
    left: 932px;
    margin-left: -2px;
    position: absolute;
    top: 138px;
       height: 280px;  width: 172px;
    z-index: 1;
}
#sixth_event {
    background: url("/images/note-r.png") no-repeat scroll 0 0 / 250px 250px rgba(0, 0, 0, 0);
    color: #fff;
    display: block;
    font-size: 12px;
        height: 280px;  width: 172px;
    left: 1070px;
    padding: 70px 50px 10px 36px;
    position: absolute;
    text-align: center;
    top: 300px;
  
    z-index: 11;
}
#sixth_event_date {
    left: 1077px;
}
#sixth_event_line {
    border-right: 6px dotted green;
    bottom: 336px;
    content: "";
    display: block;
    height: 90px;
    left: 1112px;
    position: absolute;
    width: 5px;
    z-index: 1;
}
#seventh_event {
    background: url("/images/note-lb.png") no-repeat scroll 0 0 / 200px 200px rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    font-size: 18px;
 
    left: 1380px;
    padding: 90px 10px 10px;
    position: absolute;
    text-align: center;
    top: 10px;
    vertical-align: top;
       height: 280px;  width: 172px;
    z-index: 10;
}
#seventh_event_date {
    left: 1500px;
}
#seventh_event_line {
    border-right: 6px dotted yellow;
    display: block;
    height: 100px;
    left: 1542px;
    margin-left: -2px;
    position: absolute;
    top: 188px;
    width: 5px;
    z-index: 1;
}
