<div class="col-md-12 hidden-xs hidden-sm" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >

  <div ui-view style="width:100%">
  <div  ng-show="showme" class=" animated fadeIn map_side_pop_div" style="width: 200px">

    <h4 class="map_header_h4">{{'WARD' | translate}} <b translate="{{ward}}"></b></h4></li>


<div ng-repeat= "candidate in councilorCandidate">  <h5 class="map_header_h5">
  <a ui-sref="councilor.profile( {slug: candidate.id})" target="_blank"><img class="candi_image img-responsive" ng-src="/images/candidate_image/{{candidate.image}}"></a>
</h5>
<h5 class="map_header_h5">
  <a ui-sref="councilor.profile( {slug: candidate.id})" target="_blank">  <b>{{candidate.name}}</b></a><br>
</h5>
  <span>Vote Received: {{candidate.vote_received}}</span><br>
  <span>Vote Percentage: {{candidate.vote_percentage| number:2}}%</span>

</div>

                </div>

        <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="1680px"></leaflet>
</div>
</div>

<div class="col-md-12 hidden-lg hidden-md" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >

  <div ui-view style="width:100%">
  <div  ng-show="showme" class=" animated fadeIn map_side_pop_div" style="width: 200px">

    <h4 class="map_header_h4">{{'WARD' | translate}} <b translate="{{ward}}"></b></h4></li>


<div ng-repeat= "candidate in councilorCandidate">  <h5 class="map_header_h5">
  <a ui-sref="councilor.profile( {slug: candidate.id})" target="_blank"><img class="candi_image img-responsive" ng-src="/images/candidate_image/{{candidate.image}}"></a>
</h5>
<h5 class="map_header_h5">
  <a ui-sref="councilor.profile( {slug: candidate.id})" target="_blank">  <b>{{candidate.name}}</b></a><br>
</h5>
  <span>Vote Received: {{candidate.vote_received}}</span><br>
  <span>Vote Percentage: {{candidate.vote_percentage| number:2}}%</span>

</div>

                </div>

        <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="1680px"></leaflet>
</div>
</div>