<!-- <div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item active">Councilor Candidate</li>
      <li class="list-group-item"><a ui-sref="election_results.councilor.state({city: 'dscc'})">DSCC</a></li>
      <li class="list-group-item"><a ui-sref="election_results.councilor.state({city: 'dncc'})">DNCC</a></li>
      <li class="list-group-item"><a ui-sref="election_results.councilor.state({city: 'ccc'})">CCC</a></li>
    </ul>
  </div>
  <div class="col-md-9" ui-view>

  </div>

</div> -->
<div class="container-fluid">
<tabset justified="true" class="my-tabset">
<tab select="goCity('election_results.councilor.state','dscc')">
  <tab-heading>
              <h4 ><span class="hidden-xs hidden-sm">{{'Dhaka South'|translate}}</span> <span class="hidden-xs hidden-sm hidden-md"> {{'City Corporation'|translate}}</span>
              <span class="hidden-lg hidden-md">{{'DSCC'|translate}}</span>
              </h4>
  </tab-heading>
</tab>
<tab select="goCity('election_results.councilor.state','dncc')">
  <tab-heading>
              <h4 ><span class="hidden-xs hidden-sm">{{'Dhaka North'|translate}}</span> <span class="hidden-xs hidden-sm hidden-md"> {{'City Corporation'|translate}}</span>
              <span class="hidden-lg hidden-md">{{'DNCC'|translate}}</span>
              </h4>
  </tab-heading>
</tab>
<tab select="goCity('election_results.councilor.state','ccc')">
  <tab-heading>
              <h4 ><span class="hidden-xs hidden-sm">{{'Chittagong'|translate}}</span> <span class="hidden-xs hidden-sm hidden-md"> {{'City Corporation'|translate}}</span>
              <span class="hidden-lg hidden-md">{{'Chittagong'|translate}}</span>
              </h4>
  </tab-heading>
</tab>
</tabset>


    <div class="row" ui-view>

    </div>

  </div>
