<style>
  .my-circle
  {
    box-shadow: 0px 0px 1px 1px #FFF;
    border-radius: 100%;
    margin-right: 5px;
  }
  </style>
<div class="visible-xs visible-sm container-fluid map_container_xs">
   <div class="row">
      <div class="col-md-12" id="" style="position:relative; margin:0 -15px" >
          <span class='step' style='background-color: #fff; color: gray;'>?</span>  <u>{{"Number of incident" | translate}}</u>
        <ul class="incident-list" style="none";>
          <li ng-click="showAllIncident()"  > <i class="fa fa-circle my-circle" style="color: black" ></i>  <b>{{"All Incident" | translate}}</b>  </li>

            <li ng-click="showThisIncident(1)" data-incident="1" > <i class="fa fa-circle my-circle" style="color: {{getColor(1)}}" ></i>  {{"1. Refuse to receive vote" | translate}}  </li>

            <li ng-click="showThisIncident(2)" data-incident="2" > <i class="fa fa-circle my-circle" style="color: {{getColor(2)}}" ></i>  {{"2. Intimidation by anyone" | translate}}  </li>
          <li ng-click="showThisIncident(3)" data-incident="3" > <i class="fa fa-circle my-circle" style="color: {{getColor(3)}}" ></i>  {{"3. Violation of electoral campaign law" | translate}} </li>
          <li ng-click="showThisIncident(4)" data-incident="4" > <i class="fa fa-circle my-circle" style="color: {{getColor(4)}}" ></i>  {{"4. Violence" | translate}} </li>
          <li ng-click="showThisIncident(5)" data-incident="5" > <i class="fa fa-circle my-circle" style="color: {{getColor(5)}}" ></i>  {{"5. Declaration of closure of polling center" | translate}} </li>
          <li ng-click="showThisIncident(6)" data-incident="6" > <i class="fa fa-circle my-circle" style="color: {{getColor(6)}}" ></i>  {{"6. Vote resumed in the closed center" | translate}} </li>
          <li ng-click="showThisIncident(7)" data-incident="7" > <i class="fa fa-circle my-circle" style="color: {{getColor(7)}}" ></i>  {{"7. Polling agent thrown out from the center" | translate}} </li>
          <li ng-click="showThisIncident(8)" data-incident="8" > <i class="fa fa-circle my-circle" style="color: {{getColor(8)}}" ></i>  {{"8. Anyone arrested" | translate}} </li>
          <li ng-click="showThisIncident(9)" data-incident="9" > <i class="fa fa-circle my-circle" style="color: {{getColor(9)}}" ></i>  {{"9. Anyone killed" | translate}} </li>
          <li ng-click="showThisIncident(10)" data-incident="10" > <i class="fa fa-circle my-circle" style="color: {{getColor(10)}}" ></i>  {{"10. Observers were restricted to enter in the center" | translate}} </li>
          <li ng-click="showThisIncident(11)" data-incident="11" > <i class="fa fa-circle my-circle" style="color: {{getColor(11)}}" ></i>  {{"11. Observers were expelled from the center" | translate}} </li>
          <li ng-click="showThisIncident(12)" data-incident="12" > <i class="fa fa-circle my-circle" style="color: {{getColor(12)}}" ></i>  {{"12. Observers were not allowed to enter in the counting room" | translate}} </li>
          <li ng-click="showThisIncident(13)" data-incident="13" > <i class="fa fa-circle my-circle" style="color: {{getColor(13)}}" ></i>  {{"13. Probable stuffing" | translate}} </li>
          <li ng-click="showThisIncident(14)" data-incident="14" > <i class="fa fa-circle my-circle" style="color: {{getColor(14)}}" ></i>  {{"14. Alteration of ballot boxes" | translate}}  </li>
          <li ng-click="showThisIncident(15)" data-incident="15" > <i class="fa fa-circle my-circle" style="color: {{getColor(15)}}" ></i>  {{"15. Declaration of result withheld in the center" | translate}}  </li>
          <li ng-click="showThisIncident(16)" data-incident="16" > <i class="fa fa-circle my-circle" style="color: {{getColor(16)}}" ></i>  {{"16. Problem with distribution of electoral materials (pen, paper etc)" | translate}} </li>

          </ul>

            <leaflet defaults="defaults" class=" animated zoomIn"  id="map" markers="markers" layers="layers" center="bd" geojson="geojson" width="100%" height="980px"></leaflet>
         </div>

      </div>
   </div>
</div>

<div class="hidden-xs hidden-sm container-fluid" style="" class="map_container">
   <div class="row">
      <div class="gis_menu" style="margin-top: 60px;">
        <h2 class="gis_header_h1_xs">{{'Incident List' | translate}}</h2>
        <span class='step my-circle' style='  background-color: transparent;  color: white;'><b>?</b></span> {{"Number of incident" | translate}}
        <hr style="   margin-top: 5px;    margin-bottom: 5px;    ">
        <ul class="incident-list">
          <li ng-click="showAllIncident()" data-incident="0" > <i class="fa fa-circle my-circle" style="color: black" ></i>  <b>{{"All Incident" | translate}}</b>  </li>

          <li ng-click="showThisIncident(1)" data-incident="1" > <i class="fa fa-circle my-circle" style="color: {{getColor(1)}}" ></i>  {{"1. Refuse to receive vote" | translate}}  </li>
          <li ng-click="showThisIncident(2)" data-incident="2" > <i class="fa fa-circle my-circle" style="color: {{getColor(2)}}" ></i>  {{"2. Intimidation by anyone" | translate}}  </li>
          <li ng-click="showThisIncident(3)" data-incident="3" > <i class="fa fa-circle my-circle" style="color: {{getColor(3)}}" ></i>  {{"3. Violation of electoral campaign law" | translate}} </li>
          <li ng-click="showThisIncident(4)" data-incident="4" > <i class="fa fa-circle my-circle" style="color: {{getColor(4)}}" ></i>  {{"4. Violence" | translate}} </li>
          <li ng-click="showThisIncident(5)" data-incident="5" > <i class="fa fa-circle my-circle" style="color: {{getColor(5)}}" ></i>  {{"5. Declaration of closure of polling center" | translate}} </li>
          <li ng-click="showThisIncident(6)" data-incident="6" > <i class="fa fa-circle my-circle" style="color: {{getColor(6)}}" ></i>  {{"6. Vote resumed in the closed center" | translate}} </li>
          <li ng-click="showThisIncident(7)" data-incident="7" > <i class="fa fa-circle my-circle" style="color: {{getColor(7)}}" ></i>  {{"7. Polling agent thrown out from the center" | translate}} </li>
          <li ng-click="showThisIncident(8)" data-incident="8" > <i class="fa fa-circle my-circle" style="color: {{getColor(8)}}" ></i>  {{"8. Anyone arrested" | translate}} </li>
          <li ng-click="showThisIncident(9)" data-incident="9" > <i class="fa fa-circle my-circle" style="color: {{getColor(9)}}" ></i>  {{"9. Anyone killed" | translate}} </li>
          <li ng-click="showThisIncident(10)" data-incident="10" > <i class="fa fa-circle my-circle" style="color: {{getColor(10)}}" ></i>  {{"10. Observers were restricted to enter in the center" | translate}} </li>
          <li ng-click="showThisIncident(11)" data-incident="11" > <i class="fa fa-circle my-circle" style="color: {{getColor(11)}}" ></i>  {{"11. Observers were expelled from the center" | translate}} </li>
          <li ng-click="showThisIncident(12)" data-incident="12" > <i class="fa fa-circle my-circle" style="color: {{getColor(12)}}" ></i>  {{"12. Observers were not allowed to enter in the counting room" | translate}} </li>
          <li ng-click="showThisIncident(13)" data-incident="13" > <i class="fa fa-circle my-circle" style="color: {{getColor(13)}}" ></i>  {{"13. Probable stuffing" | translate}} </li>
          <li ng-click="showThisIncident(14)" data-incident="14" > <i class="fa fa-circle my-circle" style="color: {{getColor(14)}}" ></i>  {{"14. Alteration of ballot boxes" | translate}}  </li>
          <li ng-click="showThisIncident(15)" data-incident="15" > <i class="fa fa-circle my-circle" style="color: {{getColor(15)}}" ></i>  {{"15. Declaration of result withheld in the center" | translate}}  </li>
          <li ng-click="showThisIncident(16)" data-incident="16" > <i class="fa fa-circle my-circle" style="color: {{getColor(16)}}" ></i>  {{"16. Problem with distribution of electoral materials (pen, paper etc)" | translate}} </li>
        </ul>

      </div>
      <div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;" >
         <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="1680px"></leaflet>
      </div>
   </div>
</div>
