<!-- <div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item active">Key Number</li>
      <li class="list-group-item"><a ui-sref="election_results.key_number.state({city: 'dscc'})">DSCC</a></li>
      <li class="list-group-item"><a ui-sref="election_results.key_number.state({city: 'dncc'})">DNCC</a></li>
      <li class="list-group-item"><a ui-sref="election_results.key_number.state({city: 'ccc'})">CCC</a></li>
    </ul>
  </div>
  <div class="col-md-9" ui-view>

  </div>

</div> -->
<div class="container-fluid">
<tabset justified="true" class="my-tabset">
<tab select="goCity('election_results.key_number.state','dscc')">
  <tab-heading>
              <h4 >{{'Dhaka South'|translate}} <span class="hidden-sm hidden-md"> {{'City Corporation'|translate}}</h4>
  </tab-heading>
</tab>
<tab select="goCity('election_results.key_number.state','dncc')">
  <tab-heading>
              <h4 >{{'Dhaka North'|translate}}  <span class="hidden-sm hidden-md">{{'City Corporation'|translate}}</h4>
  </tab-heading>
</tab>
<tab select="goCity('election_results.key_number.state','ccc')">
  <tab-heading>
              <h4 >{{'Chittagong'|translate}}  <span class="hidden-sm hidden-md">{{'City Corporation'|translate}}</h4>
  </tab-heading>
</tab>
</tabset>


    <div class="row" ui-view>

    </div>

  </div>
