<div class="container">
  <br/>
  <div class="well">
       <div class="table-responsive">
         <table class="table">
           <thead>
           <tr>
             <th>Image</th>
             <th>Name</th>
             <th>Vote Received</th>
             <!--<th>Percentage</th>-->

           </tr>
           </thead>
           <tbody>
           <tr >
             <td><img class="img-thumbnail" style="width: 150px;" ng-src="{{image1}}"></td>
             <td>{{name1}}</td>
             <td>{{vote1}}</td>
           </tr>

           <tr >
             <td><img class="img-thumbnail" style="width: 150px;" ng-src="{{image2}}"></td>
             <td>{{name2}}</td>
             <td>{{vote2}}</td>
           </tr>

           </tbody>
         </table>
        </div>
        <div class="well">{{result}}</div>

  </div>
</div>
