<div class="container-fluid">
<div class="well">
     <div class="table-responsive">
       <table class="table">
         <thead>
         <tr>
           <th>Image</th>
           <th>Name</th>
           <th>Vote Received</th>
           <th>Percentage</th>

         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="row in candidate_result">
           <td><a ui-sref="view_candidate.profile( {slug: row.id})"><img class="candi_image img-responsive"   ng-src="/images/candidate_image/{{row.image}}" style="height:100px;"/></a></td>
           <td><a ui-sref="view_candidate.profile( {slug: row.id})">{{row.name}}</a></td>
           <td ng-if="row.is_winner">{{row.vote_received}}</td>
           <td ng-if="!row.is_winner">Data Coming Soon</td>


           <td ng-if="row.is_winner">{{(row.vote_received* 100)/total_vote | number:2}}%</td>
           <td ng-if="!row.is_winner">-</td>

         </tr>

         </tbody>
       </table>
      </div>
</div>
</div>
