<div class="container-fluid">
<tabset justified="true" class="my-tabset">
<tab select="goCity('election_results.mayoral.state','dscc')" >
  <tab-heading>
              
              <h4 ><span class="hidden-xs hidden-sm">{{'Dhaka South'|translate}}</span> <span class="hidden-md hidden-xs hidden-sm"> {{'City Corporation'|translate}}</span>
                <span class="col-md-4 visible-xs visible-sm">{{'DSCC'|translate}}</span>
              </h4>
  </tab-heading>
</tab>
<tab select="goCity('election_results.mayoral.state','dncc')" >
  <tab-heading>
              <h4 ><span class="hidden-xs hidden-sm">{{'DNCC'|translate}}</span> <span class="hidden-md hidden-xs hidden-sm"> {{'City Corporation'|translate}}</span>
                <span class="col-md-4 visible-xs visible-sm">{{'DNCC'|translate}}</span>
              </h4>
  </tab-heading>
</tab>
<tab select="goCity('election_results.mayoral.state','ccc')" >
  <tab-heading>
              <h4 ><span class="hidden-xs hidden-sm">{{'Cittagong'|translate}}</span> <span class="hidden-md hidden-xs hidden-sm"> {{'City Corporation'|translate}}</span>
                <span class="col-md-4 visible-xs visible-sm">{{'Cittagong'|translate}}</span>
              </h4>
  </tab-heading>
</tab>
</tabset>


    <div class="row" ui-view>

    </div>

  </div>
