<div class="container">
  <div class="row">

  <div ng-repeat="ward in reservedFemale | filter:{ type: 'female' }" style="padding:4px; float: left;">
  <button class="btn btn-primary"  ng-click="showReserveWinner(ward);">{{ward.label}}</button>
  </div>

  </div>
<div class="row">
<br>

  <div ng-repeat= "candidate in winnerData"  class="col-md-12 map_header_h5">
    <div  class="col-md-4">

    <h5 class="map_header_h5">
      <a ui-sref="councilor.profile( {slug: candidate.id})" target="_blank" ><img class=" img-responsive" ng-src="/images/candidate_image/{{candidate.image}}" style="height:300px;"></a>
  </h5>
</div>
<div  class="col-md-4">

  <h2>
    {{candidate.name}}
  </h2>
  <span>Vote Received: {{candidate.vote_received}}</span><br>

<div>
  </div>
</div>
</div>
