<div class="row">
    <div class="col-md-12">

        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">News</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right admin-navbar-ul">
      <li>
        <p class="navbar-btn" type="button" ng-csv="newsList" filename="news.csv">
          <a  class="btn btn-primary">Export CSV</a>
        </p>
        </li>
        <li><p class="navbar-btn"><a class="btn btn-success" ui-sref="admin.news.create">Create New</a></p></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="well">
     <div class="table-responsive" style="height:600px;">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Link</th>
            <th>Source</th>
            <th>Tags</th>
            <th>Featured</th>
            <th>Order</th>

            <th>Delete</th>
            <th>Edit</th>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in newsList">
            <td>{{row.date | date:'mediumDate'}}</td>
            <td>{{row.title}}</td>
            <td>{{row.link}}</td>
            <td>{{row.source}}</td>
            <td>{{row.tags}}</td>
            <td>{{row.featured}}</td>
            <td>{{row.order}}</td>
            <td><span class="badge">
          <span class="delete-button" ng-click="deleteNews(row)">delete</span>
        </span></td>
        <td>
          <a ui-sref="admin.news.edit( {slug: row.id})">edit</a>
       </td>
          </tr>
        </tbody>
      </table>
      </div>

    </div>



    </div>
</div>
