     
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="admin.news.showall">News > Create news </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   

      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="admin.news.showall">Go to index</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 
    <div class="well">
        <form name="myForm" class="form-horizontal" role="form">
            

            <div class="form-group">
                <label class="control-label col-sm-4" for="date">News Date:</label>
                <div class="col-sm-4">
                    
                    <input type="date" class="form-control" id="exampleInput" name="input_date" ng-model="News.date"
       placeholder="yyyy-MM-dd" min="1900-01-01" max="2050-12-31" required />
                </div>
                <div class="col-sm-4">
                <span style="color:green;" >{{News.date | date:'mediumDate'}}</span> 
                <span class="error" ng-show="myForm.input_date.$error.required">
       Required!</span>
   <span class="error" ng-show="myForm.input_date.$error.date">
       Not a valid date!</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="title">News Title:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="News.title" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="link">News Link:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="News.link" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="source">News Source:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="News.source" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="tags">News Tags:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="News.tags" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="featured">Is Featured:</label>
                <div class="col-sm-1">
                    <input type="checkbox" class="form-control" ng-model="News.featured">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="featured">News order:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="input" ng-model="News.order" required>

                </div>
                <div class="col-sm-4">
                 <span class="error" ng-show="myForm.input.$error.required">Required!</span>
                <span class="error" ng-show="myForm.input.$error.number">
    Not valid number!</span>
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" class="btn btn-success my-btn-green" ng-click="createNews()">Submit</button>
                </div>
            </div>
        </form>
    </div>
