
@keyframes animatedBackground {
0% {
    background-position: 0 0;
}
100% {
    background-position: 100% 0;
}
}
#timeline {
    height: 360px;
    animation: 30s linear 0s normal none infinite running animatedBackground;
    background: url("/images/blurred-lights.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    padding-top: 10px;
    overflow-y:hidden;
    overflow-x:auto;
}
#timeline:hover {
}
#timeline_inner {
    height: 267px;
    margin: 16px auto auto;
    position: relative;
    width: 1220px;
    margin-top: -30px;
}
.entry {
}
.timeline {
    height: 680px;
    min-height: 540px;
    overflow-x: auto;
    position: relative;
}
.bar {
    background: none repeat scroll 0 0 transparent;
    border-top: 2px dotted white;
    height: 7px;
    left: 102px;
    margin: 20px;
    overflow: visible;
    position: absolute;
    top: 164px;
    width: 917px;
}
.event_date {
    background: none repeat scroll 0 0 #444;
    border: 1px solid black;
    box-shadow: 0 0 16px white, 0 0 7px black;
    display: block;
    height: 49px;
    line-height: 66px;
    opacity: 0.87;
    padding: 3px;
    position: absolute;
    text-align: center;
    top: 159px;
    width: 47px;
    z-index: 10000;
}
.event_date:hover
{
    box-shadow: 0 0 10px #000;
    cursor: pointer;
}
.event_date h5 {
    color: #eaeaea;
    font-size: 19px;
    font-weight: 100;
    margin: 0;
    padding: 7px 0 0;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.event_date h6 {
    color: white;
    margin: 0;
    padding: 2px 0 0;
    text-shadow: 1px 1px 1px black;
}


#first_event_date {
    left: 100px;
}
#second_event_date {
    left: 215px;
}
#third_event_date {
    left: 330px;
}
#fourth_event_date {
    left: 445px;
}
#fifth_event_date {
    left: 675px;
}
#april_nine_event_date {
    left: 790px;
}
#seventh_event_date {
    left: 895px;
}
#eighth_event_date {
    left: 1010px;
}
#april_six_event_date {
    left: 560px;
}
#first_event {
    background: url("/images/new_gray_bubble.png") no-repeat scroll 0 0 transparent;
    height: 201px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 1000;
    display: none;
}
#second_event {
    background: url("/images/new_blue_bubble.png") no-repeat scroll 0 0 transparent;
    height: 201px;
    left: 135px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 11;

    display: none;
}
#third_event {
    background: url("/images/new_green_bubble.png") no-repeat scroll 0 0 transparent;
    height: 201px;
    left: 250px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 200px;
    z-index: 10;

    display: none;
}
#fourth_event {
    background: url("/images/new_gray_bubble.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    display: inline-block;
    height: 201px;
    left: 365px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 111;

    display: none;
}
#april_ten_event {
    background: url("/images/new_green_bubble.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    display: inline-block;
    height: 201px;
    left: 710px;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: top;
    width: 200px;
    z-index: 10;

    display: none;
}
#april_nine_event {
    background: url("/images/new_green_bubble.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    display: block;
    height: 201px;
    left: 595px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 11;

    display: none;
}
#april_twoeight_event {
    background: url("/images/new_gray_bubble.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    display: inline-block;
    height: 201px;
    left: 930px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 10;

    display: none;
}
#april_twosix_event {
    background: url("/images/new_blue_bubble.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    display: block;
    height: 201px;
    left: 815px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 11;

    display: none;
}
#april_six_event {
    background: url("/images/new_blue_bubble.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    display: inline-block;
    height: 201px;
    left: 480px;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: top;
    width: 200px;
    z-index: 10;

    display: none;

}
.entry p {
    color: white;
    font-family: Helvetica_regularregular;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.entry-top {
    padding: 25px;
}
.entry-bottom {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 30px;
    text-align: center;
}
.entry i {
    color: #ccc;
    display: block;
    font-size: 28px;
    margin-bottom: 5px;
}
