   <div class="gis_menu">
                    <h1 class="gis_header_h1" translate="Dhaka South">Dhaka South</h1>
                    <!--<div>{{'A gis map showing the important places and statistics'|translate}}</div>-->

                    <h4 class="gis_header_h4"><i class="fa fa-database"></i> {{'Statistics'|translate}}</h4>
                    <ul>
                        <li><a ui-sref="map.dscc.population"><i class="fa fa-male"></i> {{'Population Data'|translate}}</a></li>


                    </ul>
                    <h4 class="gis_header_h4"><i class="fa fa-map-marker"></i> {{'Locations'|translate}}</h4>
                    <ul>
                        <li><a ui-sref="map.dsccpolling"><i class="fa fa-inbox"></i>{{'Polling Stations'|translate}}</a></li>

                    </ul>

                </div>

<div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >




        <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="1680px"></leaflet>

    </div>
