<div class="inner_menu">&nbsp;</div>


<!-- <div class="visible-xs visible-sm container-fluid map_container_xs">

    <div class="row">






        <div class="col-md-12" id="" style="position:relative;padding:0px;margin:40px;margin-top: 20px;" >


    <h1 class="gis_header_h1_xs" translate="Dhaka South">Dhaka South</h1>
                    <div>{{'A gis map showing the important places and statistics'|translate}}</div>

                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" markers="markers" layers="layers" center="bd" geojson="geojson" width="100%" height="980px"></leaflet>

        </div>

        </div>
    </div> -->


<div class="container-fluid" style="" class="map_container">

    <div class="row">


      <!-- <div class="gis_menu">
                    <h1 class="gis_header_h1" translate="Dhaka South">Dhaka South</h1>
                    <!--<div>{{'A gis map showing the important places and statistics'|translate}}</div>-->

                   <!--  <h4 class="gis_header_h4"><i class="fa fa-database"></i> {{'Statistics'|translate}}</h4>
                    <ul>
                        <li><a ui-sref="map.dscc.population"><i class="fa fa-male"></i> {{'Population Data'|translate}}</a></li>
                        <li><a ui-sref="map.dscc.voter"><i class="fa fa-table"></i> {{'Voter Data'|translate}}</a></li>

                    </ul>
                    <h4 class="gis_header_h4"><i class="fa fa-map-marker"></i> {{'Locations'|translate}}</h4>
                    <ul>
                        <li><a ui-sref="map.dsccpolling"><i class="fa fa-inbox"></i> {{'Polling Stations'|translate}}</a></li>

                    </ul>

                </div> --> -->

                <div ui-view></div>


        </div>
    </div>
