<div class="inner_menu">&nbsp;</div>

<!-- 
<div class="visible-xs visible-sm container-fluid map_container_xs">

    <div class="row">


<<<<<<< HEAD
=======




>>>>>>> 7a55766c9ee9648554842d5a78daa8814f04c4ea
        <div class="col-md-12" id="" style="position:relative;padding:0px;margin-top: 20px;" >


    <h1 class="gis_header_h1_xs" translate="Dhaka North">Dhaka North</h1>
                    <div>{{'A gis map showing the important places and statistics'|translate}}</div>

                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="980px"></leaflet>

        </div>

        </div>
    </div> -->


<div class="container-fluid" style="" class="map_container">

    <div class="row">

        <h1 class="" style="margin-top:80px;color:black;text-align:center;" translate="Dhaka South">Dhaka South</h1>
        <h4 style="color:black;text-align:center">{{'Polling Stations'|translate}}</h4>


     <!--  <div class="gis_menu"> 
                    <h1 class="gis_header_h1" translate="Dhaka South">Dhaka South</h1>
                    <!--<div>{{'A gis map showing the important places and statistics'|translate}}</div>-->
                    <!--
                    <h4 class="gis_header_h4"><i class="fa fa-database"></i> {{'Statistics'|translate}}</h4>
                    <!-- <ul>
                        <li><a ui-sref="map.dscc.population"><i class="fa fa-male"></i> {{'Population Data'|translate}}</a></li>
                        <li><a ui-sref="map.dscc.voter"><i class="fa fa-table"></i> {{'Voter Data'|translate}}</a></li>

                    </ul>
                    <h4 class="gis_header_h4"><i class="fa fa-map-marker"></i> {{'Locations'|translate}}</h4>
                    <ul>
                        <li><a ui-sref="map.dsccpolling"><i class="fa fa-inbox"></i> {{'Polling Stations'|translate}}</a></li>

                    </ul> -->

 


                    <!-- <button class="btn btn-primary" ng-repeat="ward in wardList | orderBy: ward " ng-click="loadPS(ward)">{{ward}}</button> -->
                   

                   <!--  <br/><br/>
                        <div  ng-show="showme" class="bounceIn">
                          <img class="img-responsive"  src="/images/pollingstationimages/{{image}}">
                          <h4 class="map_header_h4">{{name}}</h4>
                          <div ng-repeat = 'data in pollingdata'>
                            <h5 class="map_header_h5" style="line-height: 1.3;">
                            Polling station sl. no. :<b> {{data.sl}} </b><br/>
                            Type: <b> {{data.type}} </b><br/>
                            No. of booths: <b> {{data.booth}} </b><br/>
                            Registered voters: <b> {{data.voter}}
                            </h5>
                          </div>
                        </div>
                </div> -->






                <div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >

<!--
                  <div  ng-show="showme" class=" animated fadeIn map_side_pop_div" style="">

                                            <h4 class="map_header_h4">Ward {{ward}}</h4></li>

                                            <h5 class="map_header_h5">

                                              Population: <b> {{population}} </b></h5>
                                              <h5 class="map_header_h5">  Male: <b> {{male}} </b></h5>
                                                <h5 class="map_header_h5">  Female: <b> {{female}} </b></h5>
                                                  <h5 class="map_header_h5">  Image: <b> {{image}} </b>
                                        </h5>



                                </div> -->

                        <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="1680px"></leaflet>

                    </div>




        </div>
    </div>
