<div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >


  <div  ng-show="showme" class=" animated fadeIn map_side_pop_div" style="">

                            <h4 class="map_header_h4">Ward {{ward}}</h4></li>

                        <h5 class="map_header_h5">

                            Voter: <b>{{voter}}</b>
                        </h5>



                </div>

        <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="1680px"></leaflet>

</div>
