<div id="timeline" class="content">

    <div class="content_header"> 
        <h1>Election timeline</h1>
        <h4>As the events unfolded</h4>
    </div>


    <div class="timeline">
        <div class="bar"></div>


        <div id="first_event" class="entry entry-top">
            <i class="fa fa-bullhorn"></i>
            <p> ECB Declares Election Schedule</p>

        </div>
 
        <div class="event_date" id="first_event_date"> 

            <h6>March</h6>
            <h5>18</h5>
            <br clear="all"/>
        </div>




        <div id="second_event" class="entry entry-bottom">
            <p> Deadline to file nominations</p>
        </div>
       
        <div class="event_date" id="second_event_date"> 

            <h6>March</h6><h5>28</h5>
            <br clear="all"/>
        </div>


        <div id="third_event" class="entry entry-top">

            <p> <i class="fa fa-video-camera"></i> <br/>Scrutiny of nomination papers</p>
        </div>
    
        <div class="event_date" id="third_event_date"> 

            <h6>April</h6> <h5>01</h5>
            <br clear="all"/>
        </div>



        <div id="fourth_event" class="entry entry-bottom">
            <p> Scrutiny of nomination papers</p>
        </div>
     
        <div class="event_date" id="fourth_event_date"> 

            <h6>April</h6><h5>02</h5>
            <br clear="all"/>
        </div>



        <div id="fifth_event" class="entry entry-top">

            <p> Withdrawal of nomination papers</p>
        </div>
      
        <div class="event_date" id="fifth_event_date"> 

            <h6>April</h6>  <h5>09</h5>
            <br clear="all"/>
        </div>


        <div id="sixth_event" class="entry entry-bottom">

            <p>    Allocation of election symbols among
                candidates </p>
        </div>
 
        <div class="event_date" id="sixth_event_date"> 

            <h6>April</h6> <h5>02</h5>
            <br clear="all"/>
        </div>


        <div id="seventh_event" class="entry entry-top">
            <p> Election day</p>
        </div>
 
        <div class="event_date" id="seventh_event_date"> 

            <h6>April</h6>  <h5>28</h5>
            <br clear="all"/>
        </div>

    </div>

</div>