<!-- <div class="container">
	<h2>All candidates</h2>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4"  ng-repeat="candidate in candidates">
                        <div style="visibility: visible;" class="box box-1">
                            <div class="description"><div class="thumbnail">
                            <img src="images/candidates/{{candidate.image}}" alt="photo">
                                </div><h4>{{candidate.name}}</h4>
                                <h5>{{candidate.ward}}</h5>
                                
                                <p>{{candidate.biography}}</p>
                                <a href="#" class="default-btn btn btn-2"><i class="fa fa-file-text-o"></i></a>
                            </div>
                        </div>
                    </div>


	</div>
</div> -->



<div class="container-fluid">
<div class="col-lg-3">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Dhaka North City Candidates
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       
           
             <!--  -->
<div class="media" ng-repeat="candidate in candidates">
  <div class="media-left media-middle">
    <a ui-sref="candidates.show_candidate( {slug: candidate.id})">
      <img class="media-object" src="{{candidate.image}}" height="" alt="..." style="width: 64px; height: 64px;">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{candidate.name}}</h4>
  </div>
</div> 
<!--  -->
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dhaka South City Candidates
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
                     <!--  -->
<div class="media" ng-repeat="candidate in candidates">
  <div class="media-left media-middle">
    <a ui-sref="candidates.show_candidate( {slug: candidate.id})">
      <img class="media-object" src="{{candidate.image}}" height="" alt="..." style="width: 64px; height: 64px;">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{candidate.name}}</h4>
  </div>
</div> 
<!--  -->
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Cittagong City Candidates
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
                     <!--  -->
<div class="media" ng-repeat="candidate in candidates">
  <div class="media-left media-middle">
    <a ui-sref="candidates.show_candidate( {slug: candidate.id})">
      <img class="media-object" src="{{candidate.image}}" height="" alt="..." style="width: 64px; height: 64px;">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{candidate.name}}</h4>
  </div>
</div> 
<!--  -->
      </div>
    </div>
  </div>
</div>
</div><!-- col lg 3 -->
<div class="col-lg-9">
<div ui-view ></div>
</div>
</div>