<div class="inner_menu">&nbsp;</div>

<div class="visible-xs visible-sm container-fluid map_container_xs">

    <div class="row">






        <div class="col-md-12" id="" style="position:relative;padding:0px;margin:40px;margin-top: 20px;" >


    <h1 class="gis_header_h1_xs">Chittagong</h1>
                    <!--<div>A gis map showing the important places and statistics</div>-->

                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="980px"></leaflet>

        </div>






        </div>
    </div>


<div class="hidden-xs hidden-sm container-fluid" style="" class="map_container">

    <div class="row">



      <div class="gis_menu">
                    <h1 class="gis_header_h1">Chittagong</h1>
                    <!--<div>A gis map showing the important places and statistics</div>-->

                    <h4 class="gis_header_h4"><i class="fa fa-map-marker"></i> Locations</h4>
                    <ul>
                        <li><i class="fa fa-inbox"></i> Polling Stations</li>

                    </ul>
                    <h4 class="gis_header_h4"><i class="fa fa-database"></i> Statistics</h4>
                    <ul>
                        <li><i class="fa fa-male"></i> Population Data</li>
                        <li><a ui-sref="cccvotermap"><i class="fa fa-table"></i> Voter Data</a></li>

                    </ul>
                    <h2 style="color: #158CBA">Data Coming Soon</h2>
                </div>


        <div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >


                <div  ng-show="showme" class=" animated lightSpeedIn map_side_pop_div" style="position:absolute;top:20px;left:20px;background:black;color:white">

                            <h4 class="map_header_h4">District : {{name}}</h4></li>



                        <h5>
                            <span class="badge pull-right">{{gap}}%</span>
                            Gender Gap (%)
                        </h5>
                        <h5 >
                            <span class="badge pull-right ">( {{femper}}%)</span>
                            <span class="badge pull-right ">{{feminc}}</span>

                            New Female Voters &nbsp;&nbsp;
                        </h5>
                        <h5 >
                            <span class="badge pull-right">( {{maleper}}% )</span>
                            <span class="badge pull-right">{{maleinc}}</span>

                            New Male Voters
                        </h5>


                </div>


                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="1680px"></leaflet>

        </div>






        </div>
    </div>
