<style>
	::-webkit-scrollbar {
		width: 10px;
		height: 16px;
		background-color: transparent;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
		width: 6px;
	}

	::-webkit-scrollbar-track-piece {
		background-color: rgba(45, 45, 45, 0.5);
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(45, 45, 45, 1);
		width: 10px;
	}

	#container::-webkit-scrollbar {
		width: initial;
		height: initial;
		background-color: initial;
	}

	#container::-webkit-scrollbar-track {
		background-color: initial;
		width: initial;
	}

	#container::-webkit-scrollbar-track-piece {
		background-color: initial;
	}

	#container::-webkit-scrollbar-thumb {
		/*  */

		background-color: initial;
		width: initial;
	}

	#scroll {
		overflow: auto;
	}

	#scroll ul {
		float: left;
		margin-right: -9999em;
		white-space: nowrap;
		list-style: none;
		margin-top: 10px;
	}

	#scroll li {
		text-align: center;
		float: left;
		display: inline;
	}

	#scroll img {
		border: 0;
		display: block;
		border: 1px solid #A3CBE0;
	}

	#scroll a:active img,
	#scroll a:focus img,
	#scroll a:hover img {
		border: 1px solid #000;
	}

	#scroll a {
		text-decoration: none;
		font-weight: bold;
		color: #000;
	}

	#scroll a:active,
	#scroll a:focus,
	#scroll a:hover {
		color: #FFF;
	}

	#scroll span {
		padding: 5px 0 0;
		display: block;
	}
</style>
<div class="inner_menu">&nbsp;</div>

<br/>
<br/>
<br/>
<div id="candidates_section" class=" content">
	<div id="" class="">
		<div class="content_header">
			<h1 translate="COUNCILOR_CANDIDATES">Councilor Candidates</h1>
			<h4 style="color:white;font-size: 14px;" translate="COUNCILOR_CANDIDATES_SUB" >Below are profiles of councilor candidates who have submitted nomination papers to the Election Commission. The majority of information below (including all ‘Financial’ and ‘Probable Funding Source’ data) has been directly transposed from submitted nomination papers provided by the candidates themselves. The final list of candidates will be provided shortly.</h4>

		</div>
		<div class="row-fluid" style="">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<ul id="myTab" class="" role="tablist">
					<li class="col-md-4 col-lg-4 col-sm-4 col-xs-4 tabheader active  " id="tab_button_ctg"><a class="" href="" ng-click='changeTab("south");' role="tab" data-toggle="tab"><span class="visible-xs">{{'DSCC'|translate}}</span><span class="hidden-xs">{{'Dhaka South'|translate}} <span class="hidden-sm hidden-md"> {{'City Corporation'|translate}}</span></span></a></li>
					<li class="col-md-4 col-lg-4 col-sm-4 col-xs-4 tabheader" id="tab_button_north"><a class="" href="" ng-click='changeTab("north");' role="tab" data-toggle="tab"><span class="visible-xs">{{'DNCC'|translate}}</span><span class="hidden-xs">{{'Dhaka North'|translate}}  <span class="hidden-sm hidden-md">{{'City Corporation'|translate}}</span></span></a> </li>
					<li class="col-md-4 col-lg-4 col-sm-4 col-xs-4 tabheader" id="tab_button_south"><a class="" href="" ng-click='changeTab("chittagong");' role="tab" data-toggle="tab"><span class="visible-xs">{{'CCC'|translate}}</span><span class="hidden-xs">{{'Chittagong'|translate}}  <span class="hidden-sm hidden-md">{{'City Corporation'|translate}}</span></span></a></li>

				</ul>
				<div id="myTabContent" class="tab-content">



					<div id="south" class="tab-pane active">
						<div class="row">
							<accordion>
							<accordion-group is-open="status.open[0]">
		<accordion-heading>
			<i  ng-class="{'fa fa-chevron-circle-down': status.open[0], 'fa fa-chevron-circle-right': !status.open[0]}"> {{'General ward councilor'|translate}}</i>
		</accordion-heading>
              <div ng-repeat="ward in dsccward | filter:{ type: 'ward' }" style="padding:4px; float: left;">
							<button class="btn btn-primary"  ng-click="selectWard(ward.id, 'dscc', ward.name);">{{ward.label}}</button>
              </div>
						</accordion-group>
						<accordion-group is-open="status.open[1]">
	<accordion-heading>
		<i  ng-class="{'fa fa-chevron-circle-down': status.open[1], 'fa fa-chevron-circle-right': !status.open[1]}"> {{'Reserved ward councilor (Woman)'|translate}}</i>
	</accordion-heading>
						<div ng-repeat="ward in dsccward | filter:{ type: 'female' }" style="padding:4px; float: left;">
						<button class="btn btn-primary"  ng-click="selectWard(ward.id, 'dscc', ward.name);">{{ward.label}}</button>
						</div>
					</accordion-group>
					</accordion>
					<a   href="http://123.49.39.5/asset2013/index_city.php?electionid=44"><i class="fa fa-file-pdf-o"></i> {{'Original Document'|translate}}</a>
						</div>
					</div>
					<div id="north" class="tab-pane">
            <div class="row">
						<accordion>
							<accordion-group is-open="status.open[2]">
		<accordion-heading>
			<i  ng-class="{'fa fa-chevron-circle-down': status.open[2], 'fa fa-chevron-circle-right': !status.open[2]}"> {{'General ward councilor'|translate}}</i>
		</accordion-heading>
              <div ng-repeat="ward in dnccward | filter:{ type: 'ward' }" style="padding:4px; float: left;">
							<button class="btn btn-primary"  ng-click="selectWard(ward.id, 'dncc', ward.name);">{{ward.label}}</button>
              </div>
						</accordion-group>
						<accordion-group is-open="status.open[3]">
	<accordion-heading>
		<i  ng-class="{'fa fa-chevron-circle-down': status.open[3], 'fa fa-chevron-circle-right': !status.open[3]}"> {{'Reserved ward councilor (Woman)'|translate}}</i>
	</accordion-heading>
						<div ng-repeat="ward in dnccward | filter:{ type: 'female' }" style="padding:4px; float: left;">
						<button class="btn btn-primary"  ng-click="selectWard(ward.id, 'dncc', ward.name);">{{ward.label}}</button>
						</div>
					</accordion-group>
					</accordion>
					<a  href="http://123.49.39.5/asset2013/index_city.php?electionid=45"><i class="fa fa-file-pdf-o"></i> {{'Original Document'|translate}}</a>
						</div>
					</div>
					<div class="tab-pane" id="chittagong">
            <div class="row">
						<accordion>
							<accordion-group is-open="status.open[4]">
						<accordion-heading>
							<i  ng-class="{'fa fa-chevron-circle-down': status.open[4], 'fa fa-chevron-circle-right': !status.open[4]}"> 				{{'General ward councilor'|translate}}</i>
						</accordion-heading>
              <div ng-repeat="ward in cccward | filter:{ type: 'ward' }" style="padding:4px; float: left;">
							<button class="btn btn-primary"  ng-click="selectWard(ward.id, 'ccc', ward.name);">{{ward.label}}</button>
              </div>
						</accordion-group>
						<accordion-group is-open="status.open[5]">
					<accordion-heading>
						<i  ng-class="{'fa fa-chevron-circle-down': status.open[5], 'fa fa-chevron-circle-right': !status.open[5]}"> 				{{'Reserved ward councilor (Woman)'|translate}}</i>
					</accordion-heading>
						<div ng-repeat="ward in cccward | filter:{ type: 'female' }" style="padding:4px; float: left;">
						<button class="btn btn-primary"  ng-click="selectWard(ward.id, 'ccc', ward.name);">{{ward.label}}</button>
						</div>
					</accordion-group>
					</accordion>
					<a  href="http://123.49.39.5/asset2013/index_city.php?electionid=43"><i class="fa fa-file-pdf-o"></i> {{'Original Document'|translate}}</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" id="mcandi_cont">

	<div id="councilor-data" class="col-md-4"  style="padding-left:0px; visibility: hidden;">

		<div class="panel panel-info candidate-list-panel">
			<div class="panel-heading" style="  background: url('/images/mochaGrunge.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
">
				<h3 class="panel-title">{{ward_title}}</h3>
			</div>
			<div class="panel-body" style="height:600px; overflow: auto">
				<div class="media" ng-repeat="candidate in candidates">
					<div class="media-left media-middle">
						<a ui-sref="councilor.profile( {slug: candidate.id})">
							<img class="media-object" src="/images/candidate_image/{{candidate.image}}" height="" alt="..." style="width: 64px; height: 64px;">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><a style="color:black;" ui-sref="councilor.profile( {slug: candidate.id})">{{candidate.name}}</a></h4>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-8" id="councilor-list" style="padding-right:0px;">
		<div ui-view style="min-height:800px;" ></div>
	</div>
</div>
