<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" >

    </div>
    <div class="modal-body">

<img class="img-responsive" ng-src="{{items}}" style="max-height:600px;">
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</script>


<div style="position: relative;background-repeat: no-repeat;background-size: 100%;position:relative">
 <img src="/images/slides/dhakathon-banner_notext.jpg" style="position:absolute;z-index: 0;left:0px;top:0px;width:100%"/>

<h1 style="position:relative;z-index: 100;color: white;
    font-size: 110px;
    font-weight: 100;
    margin: 0;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;" >
 {{'HACKATHON_FOR_ELECTIONS' | translate}}
</h1>



<div class="container" style="padding:30px;position: relative;z-index: 2" class="article_container">
    <div style="background:white;box-shadow: 0px 0px 20px black;padding:20px" id="dhakathon_cont" style="min-height:100vh;">
<div class="row">
  <div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >


    <div style="position: relative" class="content_header">


        <div style="font-size: 20px;text-align: justify">
            CityCorpElections.org supported Bangladesh’s first ‘Hackathon for Elections’ event on April 17 and 18. ‘Dhakathon’ presented by The Asia Foundation and HiFi Public brought together young computer programmers and coders from around Dhaka with the goal of creating mobile and online apps for the upcoming City Corporation Elections. Twelve teams competed for 36hrs straight, battling fatigue and coding challenges to create a range of apps. Drawing on candidate profile and poling station geolocation datasets provided by this website, apps were built to provide voters with greater information relating to the ‘how’, ‘who’ and ‘where’ of elections, as well as focussing on election day results and crowd sourcing incidences. See below for the profile of each of the apps.</h4>

    </div>

        <div id="dhakathon_accord">
    <accordion close-others="oneAtATime">
<h2 style="color:#333; font-size:30px;font-weight: 100;font-family: Helvetica,sans-serif;text-align: center">Dhakathon Apps</h2>
      <accordion-group is-open="status.open[0]">
        <accordion-heading>
            <h2 class="hack_header"><i class="fa fa-puzzle-piece"></i> VoteFor [Winner] </h2>
            <span class="opener_btn"> <i  ng-class="{'fa fa-chevron-circle-down': status.open[0], 'fa fa-chevron-circle-right': !status.open[0]}">  </i></span>
        </accordion-heading>
        <div class="">

          <div class="col-md-12">
            <div class="col-md-3">
              <label>Team Name:</label>
            </div>
            <div class="col-md-9">
              <label>IITDU-Coders</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Members Name:</label>
            </div>
            <div class="col-md-9">
              <!-- <label>Application Name:</label> -->
              <ol>
              <li>Maunuddin Talukder</li>
              <li>Shafiq Ullah Shohag</li>
              <li>Kazi Srabon</li>
              <li>Md. Yusuf</li>
              </ol>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Application Name:</label>
            </div>
            <div class="col-md-9">
              <label>VoteFor</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Objective:</label>
            </div>
            <div class="col-md-9">
              <p>This is an Android Application which will help and encourage the voters to vote</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Description:</label>
            </div>
            <div class="col-md-9">
<p>This application will assist the users to vote by providing the location of polling stations using map, providing information of candidates, and the steps to vote i.e. “How to vote”, “What things
should know before voting”.<br>
Voters can view candidates profile information where we provide candidates name, location where he/she stands for, and ratings given by the voters through our app. Candidates can also
view their state of ratings here.<br>
Voters can also see the map of their selected location of the polling station with the name of that polling station. They can take a look on other polling stations using map. This app will assist
them to show the nearest polling station from their position as well.<br>
The most important thing is to remind the voters until the election event will be end. So our app will give push notification on top of the smart phone to remind them about the date and time of
election. This notification always works on background and notifies the users after a certain time.<br>
The app is serving other features like photo sharing in the social media with hash tag, and basic information about election. This will show some basic rules of the election and voting process.
</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Gallery:</label>
            </div>
            <div class="col-md-9">
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/1.png" ng-click="open('/images/dhakathon/IITDU_coders/1.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/2.png" ng-click="open('/images/dhakathon/IITDU_coders/2.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/3.png" ng-click="open('/images/dhakathon/IITDU_coders/3.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/4.png" ng-click="open('/images/dhakathon/IITDU_coders/4.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/5.png" ng-click="open('/images/dhakathon/IITDU_coders/5.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/6.png" ng-click="open('/images/dhakathon/IITDU_coders/6.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/7.png" ng-click="open('/images/dhakathon/IITDU_coders/7.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/8.png" ng-click="open('/images/dhakathon/IITDU_coders/8.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/9.png" ng-click="open('/images/dhakathon/IITDU_coders/9.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/10.png" ng-click="open('/images/dhakathon/IITDU_coders/10.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/11.png" ng-click="open('/images/dhakathon/IITDU_coders/11.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/12.png" ng-click="open('/images/dhakathon/IITDU_coders/12.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/13.png" ng-click="open('/images/dhakathon/IITDU_coders/13.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/14.png" ng-click="open('/images/dhakathon/IITDU_coders/14.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/15.png" ng-click="open('/images/dhakathon/IITDU_coders/15.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/IITDU_coders/16.png" ng-click="open('/images/dhakathon/IITDU_coders/16.png')">
              </div>
            </div>
          </div>
         </div>
      </accordion-group>

      <accordion-group is-open="status.open[1]">


                  <accordion-heading>
            <h2 class="hack_header"><i class="fa fa-puzzle-piece"></i> elect360 [1st Runner Up ] </h2>
            <span class="opener_btn"> <i  ng-class="{'fa fa-chevron-circle-down': status.open[1], 'fa fa-chevron-circle-right': !status.open[1]}">  </i></span>
        </accordion-heading>
        <div class="hack_cont">

          <div class="col-md-12">
            <div class="col-md-3">
              <label>Team Name:</label>
            </div>
            <div class="col-md-9">
              <label>RITL</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Members Name:</label>
            </div>
            <div class="col-md-9">
              <!-- <label>Application Name:</label> -->
              <ol>
                <li>Zamilur Rashid</li>
                <li>Razin Iqbal Kabir</li>
                <li>Hosne Mobarak Rubai</li>
                <li>Ikrum Hossain</li>
                <li>Hanif Muhammad</li>
              </ol>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Application Name:</label>
            </div>
            <div class="col-md-9">
              <label>elect360</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Objective:</label>
            </div>
            <div class="col-md-9">
              <p>Real-time engagement between candidates and voters</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Description:</label>
            </div>
            <div class="col-md-9">
<p>Public knowledge and transparency are key to the election process. elect360 is your gateway to being informed and engaged in the 2015 Dhaka City Corporation Mayoral Election. The app is ready to be uploaded to the Play Store.<br>

elect360, in partnership with the citycorpelection.org portal, tells you where to find your designated polling station and candidate information. This includes social media links, assets history and criminal records. <br>

We believe that interaction breeds transparency, and apps increase user involvement. On Android, the elect360 app lets you interact with candidates in real-time. A candidate can use the app to make their location and events public, and users can follow any such alerts within a 1-km radius. You can also 'Like' any candidate, and be notified to their alerts no matter where you are. <br>

Data from elect360 user polls are dynamically quantified in real-time. We aim to partner with content publishers to disseminate monthly citizen’s reports, providing approval ratings for the elected candidate.
 </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Gallery:</label>
            </div>
            <div class="col-md-9">
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/RITL/1.jpg" ng-click="open('/images/dhakathon/RITL/1.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/RITL/2.png" ng-click="open('/images/dhakathon/RITL/2.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/RITL/3.png" ng-click="open('/images/dhakathon/RITL/3.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/RITL/4.png" ng-click="open('/images/dhakathon/RITL/4.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/RITL/5.png" ng-click="open('/images/dhakathon/RITL/5.png')">
              </div>

            </div>
          </div>
         </div>
      </accordion-group>

      <accordion-group is-open="status.open[2]">

                            <accordion-heading>
            <h2 class="hack_header"><i class="fa fa-puzzle-piece"></i> Bangladesh -eElection2015! [2nd Runner Up ] </h2>
            <span class="opener_btn"> <i  ng-class="{'fa fa-chevron-circle-down': status.open[2], 'fa fa-chevron-circle-right': !status.open[2]}">  </i></span>
        </accordion-heading>
        <div class="">

          <div class="col-md-12">
            <div class="col-md-3">
              <label>Team Name:</label>
            </div>
            <div class="col-md-9">
              <label>Supernova</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Members Name:</label>
            </div>
            <div class="col-md-9">
              <ol>
              <li>Zahidul Alam</li>
              <li>Emon Afroza</li>
              <li>Akter Rezwanur Rahman</li>
              </ol>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Application Name:</label>
            </div>
            <div class="col-md-9">
              <label>Bangladesh -eElection2015!</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Objective:</label>
            </div>
            <div class="col-md-9">
              <p>Chose right candidate, Vote right candidate</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Description:</label>
            </div>
            <div class="col-md-9">
      <p>This application is basically on - net and off - net based
      <br><b>feature #1</b>: Home page it starts with a countdown timer, which notifies remaining time of election
      <br><b>feature #2</b>: Main app idea is divided into three major parts.First part contains candidate information.Mayoral and council election candidate information will generate using JSON data.In council and another is reserve women council.
      <br><b>feature #3</b>: Social media part.There will be two hashtags.One is selfie and another is violence.Data will be provided from Facebook and twitter.Once anyone uploads picture using selfie our app will show it.By using violence, user will upload violence picture
      if anywhere violence occurs and from this all users will be able to notify election.
      <br><b>feature #4</b>: Mapping: We will provide two types of mapping.One is nearest polling station search mapping and other is tracking SMS location that provides road mapping between my location and govt.provided SMS location.
      <br><b>feature #5</b>: push notification about Election result.We will provide result notification from ECB website as soon as possible
      <br><b>feature #6</b>: We will describe "How to vote for new voter by providing images and you-tube video link.
      <br><b>feature #7</b>: We will provide "
      Ask a question option, so that a user can ask a question.
      <br><b>feature #8</b>: Final result will be shown by Percentaile representation</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Gallery:</label>
            </div>
            <div class="col-md-9">
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Supernova/1.png" ng-click="open('/images/dhakathon/Supernova/1.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Supernova/2.png" ng-click="open('/images/dhakathon/Supernova/2.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Supernova/3.png" ng-click="open('/images/dhakathon/Supernova/3.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Supernova/4.png" ng-click="open('/images/dhakathon/Supernova/4.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Supernova/5.png" ng-click="open('/images/dhakathon/Supernova/5.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Supernova/6.png" ng-click="open('/images/dhakathon/Supernova/6.png')">
              </div>

            </div>
          </div>
         </div>
      </accordion-group>

       <accordion-group is-open="status.open[3]">


                             <accordion-heading>
            <h2 class="hack_header"><i class="fa fa-puzzle-piece"></i> Interaction </h2>
            <span class="opener_btn"> <i  ng-class="{'fa fa-chevron-circle-down': status.open[3], 'fa fa-chevron-circle-right': !status.open[3]}">  </i></span>
        </accordion-heading>
        <div class="">

          <div class="col-md-12">
            <div class="col-md-3">
              <label>Team Name:</label>
            </div>
            <div class="col-md-9">
              <label>The Scientist</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Members Name:</label>
            </div>
            <div class="col-md-9">
              <!-- <label>Application Name:</label> -->
              <ol>
              <li>Md. Nayeem Reza</li>
              <li>Dipto Das</li>
              <li>Md. Shariful Islam Foysal</li>
              <li>Md. Moyeen Uddin</li>
              </ol>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Application Name:</label>
            </div>
            <div class="col-md-9">
              <label>Interaction</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Objective:</label>
            </div>
            <div class="col-md-9">
              <p>Interaction between voters and candidates can ensure a free, fair and beneficial election</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Description:</label>
            </div>
            <div class="col-md-9">
<p>We face some difficulties in the time election, immediate before and after that. Some of them considered as:
<ul>
 <li>I. Voters sometimes don’t have enough information about the candidates. </li>
 <li>II. Candidates sometimes wonders while their mass-communication is being successful and what the voters want. </li>
 <li>III. In most of the cases, a huge lack in communication among the voters and the elected leader is noticed. </li>
 </ul>
How about an app to help in this context?
<br>The app ‘Interaction’ () targets a discontinuous interaction among candidates and voters.
<br>This app registers a user according to his/her voting area. It takes user’s name, contact no, City Corporation, Ward no as input from the voters. Besides all these, it needs to enter National ID no and be verified to register as a candidate.
<br>User will be provided with detail information about the Mayoral candidates, Counselor candidates, and reserved female quota candidates only for his corresponding voting area. It saves the hassle of the voter to browse for all the candidates non-relating to his voting area. Every candidate has a forum where they can have real time interaction with their voters and know about their opinions and answer voters’ questions. An unofficial survey allows a user to ‘SUPPORT’ a candidate to show their popularity. Again, they can ‘UNSUPPORT’ the candidate later if necessary. This forum remains active even after the election, which ensures a responsibility from the elected candidate. It can also indicate the ups and downs in the candidates’ popularity after election.
<br>This app also filters the news related to election according to the user’s area and sends those to news feed.
<br>This app also helps to know about the locations of polling centers and the procedures of voting.  We believe a free and fair election for democracy is in eyes of future generation. This can be ensured with the use of information technology and this app is a small step ahead for that journey.
 </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Gallery:</label>
            </div>
            <div class="col-md-9">
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/The_Scientist/1.png" ng-click="open('/images/dhakathon/The_Scientist/1.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/The_Scientist/2.jpg" ng-click="open('/images/dhakathon/The_Scientist/2.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/The_Scientist/3.png" ng-click="open('/images/dhakathon/The_Scientist/3.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/The_Scientist/4.jpg" ng-click="open('/images/dhakathon/The_Scientist/4.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/The_Scientist/5.png" ng-click="open('/images/dhakathon/The_Scientist/5.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/The_Scientist/6.png" ng-click="open('/images/dhakathon/The_Scientist/6.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/The_Scientist/7.jpg" ng-click="open('/images/dhakathon/The_Scientist/7.jpg')">
              </div>

            </div>
          </div>
         </div>
      </accordion-group>

      <accordion-group is-open="status.open[4]">


                            <accordion-heading>
            <h2 class="hack_header"><i class="fa fa-puzzle-piece"></i> Ensuring Election Transparency</h2>
            <span class="opener_btn"> <i  ng-class="{'fa fa-chevron-circle-down': status.open[4], 'fa fa-chevron-circle-right': !status.open[4]}">  </i></span>
        </accordion-heading>
        <div class="">

          <div class="col-md-12">
            <div class="col-md-3">
              <label>Team Name:</label>
            </div>
            <div class="col-md-9">
              <label>CODE ARCHITECT</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Members Name:</label>
            </div>
            <div class="col-md-9">
              <!-- <label>Application Name:</label> -->
              <ol>
              <li>Md. Shakil Shahadat</li>
              <li>Md. Shafiul Anam</li>
              <li>Abu Sabir Hossain</li>
              <li>Sujon Miya</li>
              </ol>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Application Name:</label>
            </div>
            <div class="col-md-9">
              <label>Ensuring Election Transparency</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Objective:</label>
            </div>
            <div class="col-md-9">
              <p>A free and fair mayoral election using technology</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Description:</label>
            </div>
            <div class="col-md-9">
<p>We all want a free and fair election. But how do we ensure transparency and accountability before and after the election. We suggest more vivid and interactive interaction between the candidates and voters using technology i.e. internet. We want the candidate to publish more information about them in order to be more transparent. We want them to engage in debate with other candidates through our web app. We want the voter to know and ask more question to their future beacons. We want to make such a social media integrate web app where both candidates and voter will indulge themselves to know each other. More  in a civilized manner.</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Gallery:</label>
            </div>
            <div class="col-md-9">
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Code_Architect/1.png" ng-click="open('/images/dhakathon/Code_Architect/1.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Code_Architect/2.png" ng-click="open('/images/dhakathon/Code_Architect/2.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Code_Architect/3.png" ng-click="open('/images/dhakathon/Code_Architect/3.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Code_Architect/4.png" ng-click="open('/images/dhakathon/Code_Architect/4.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Code_Architect/5.png" ng-click="open('/images/dhakathon/Code_Architect/5.png')">
              </div>
            </div>
          </div>
         </div>
      </accordion-group>
      <accordion-group is-open="status.open[5]">


                            <accordion-heading>
            <h2 class="hack_header"><i class="fa fa-puzzle-piece"></i> LEADERS ELECTION</h2>
            <span class="opener_btn"> <i  ng-class="{'fa fa-chevron-circle-down': status.open[5], 'fa fa-chevron-circle-right': !status.open[5]}">  </i></span>
        </accordion-heading>
        <div class="">

          <div class="col-md-12">
            <div class="col-md-3">
              <label>Team Name:</label>
            </div>
            <div class="col-md-9">
              <label>Dot hack</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Members Name:</label>
            </div>
            <div class="col-md-9">
              <!-- <label>Application Name:</label> -->
              <ol>
              <li>Arefin Newaz Prince</li>
              <li>Md. Rubayet Hossain</li>
              <li>Md. Iftakharul Islam</li>
              <li>Hemendra Rupak Biswas</li>
              </ol>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Application Name:</label>
            </div>
            <div class="col-md-9">
              <label>LEADERS ELECTION</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Objective:</label>
            </div>
            <div class="col-md-9">
              <p>A simple and easy app to gather information about coming City Corporation Election</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Description:</label>
            </div>
            <div class="col-md-9">
<p>The main purpose of the app is to provide a system to the voter to know information about their candidates of coming city corporation election.

<br>Voters can see a full biography of the candidates through the app.

<br>The App provides shorted result base on a specifia area or word or zone.

<br>Our app shows map of the polling stations.

<br>The app arrage a virtual voting system to shows peoples choice. </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Gallery:</label>
            </div>
            <div class="col-md-9">
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Dot_hack/1.jpg" ng-click="open('/images/dhakathon/Dot_hack/1.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Dot_hack/2.jpg" ng-click="open('/images/dhakathon/Dot_hack/2.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Dot_hack/3.jpg" ng-click="open('/images/dhakathon/Dot_hack/3.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Dot_hack/4.jpg" ng-click="open('/images/dhakathon/Dot_hack/4.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Dot_hack/5.jpg" ng-click="open('/images/dhakathon/Dot_hack/5.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Dot_hack/6.jpg" ng-click="open('/images/dhakathon/Dot_hack/6.jpg')">
              </div>

            </div>
          </div>
         </div>
      </accordion-group>
      <accordion-group is-open="status.open[6]">

                            <accordion-heading>
            <h2 class="hack_header"><i class="fa fa-puzzle-piece"></i> Election Interact </h2>
            <span class="opener_btn"> <i  ng-class="{'fa fa-chevron-circle-down': status.open[6], 'fa fa-chevron-circle-right': !status.open[6]}">  </i></span>
        </accordion-heading>

        <div class="">

          <div class="col-md-12">
            <div class="col-md-3">
              <label>Team Name:</label>
            </div>
            <div class="col-md-9">
              <label>Pipilika</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Members Name:</label>
            </div>
            <div class="col-md-9">
              <!-- <label>Application Name:</label> -->
              <ol>
              <li>Nahid Islam</li>
              <li>Ali Abdullah Khan</li>
              <li>A.S.M Nesar Uddin</li>
              <li>Md. Al-Amin Sarker</li>
              </ol>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Application Name:</label>
            </div>
            <div class="col-md-9">
              <label>Election Interact</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Objective:</label>
            </div>
            <div class="col-md-9">
              <p>A platform for the voters and the candidates to interact with each other.</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Description:</label>
            </div>
            <div class="col-md-9">
<p>Election-Interact works passively to merge the gap between the candidates and the voters. Voters can get information about their candidates. Voters can share thier problems for their area through the app. There will be a generic represention of the common problems. Who ever uses the app can access the problem statistics for particular area by selecting their ward number. There is a option of No-vote. Voters can cast a "No-Vote"and have to provide a reason for their casting"No-Vote". Based on the No vote against a candidate can present the popularity statistics of the candidates of a particular area. In this way people can know about their candidates, candidates can know the demands and needs of their ward dwellers. Election commission can know the reasons why people are not interested to cast votes etc.</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Gallery:</label>
            </div>
            <div class="col-md-9">
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/1.png" ng-click="open('/images/dhakathon/Pipilika/1.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/2.png" ng-click="open('/images/dhakathon/Pipilika/2.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/3.png" ng-click="open('/images/dhakathon/Pipilika/3.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/4.png" ng-click="open('/images/dhakathon/Pipilika/4.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/5.png" ng-click="open('/images/dhakathon/Pipilika/5.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/6.png" ng-click="open('/images/dhakathon/Pipilika/6.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/7.png" ng-click="open('/images/dhakathon/Pipilika/7.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/8.png" ng-click="open('/images/dhakathon/Pipilika/8.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/9.png" ng-click="open('/images/dhakathon/Pipilika/9.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Pipilika/10.png" ng-click="open('/images/dhakathon/Pipilika/10.png')">
              </div>

            </div>
          </div>
         </div>
      </accordion-group>
      <accordion-group is-open="status.open[7]">
                   <accordion-heading>
            <h2 class="hack_header"><i class="fa fa-puzzle-piece"></i> Chose the Correct Person, Give your Vote </h2>
            <span class="opener_btn"> <i  ng-class="{'fa fa-chevron-circle-down': status.open[7], 'fa fa-chevron-circle-right': !status.open[7]}">  </i></span>
        </accordion-heading>
        <div class="">

          <div class="col-md-12">
            <div class="col-md-3">
              <label>Team Name:</label>
            </div>
            <div class="col-md-9">
              <label>Think Big</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Members Name:</label>
            </div>
            <div class="col-md-9">
              <!-- <label>Application Name:</label> -->
              <ol>
              <li>Ismith Pasha</li>
              <li>Rahat Islam</li>
              <li>Ruhol Amin</li>
              </ol>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Application Name:</label>
            </div>
            <div class="col-md-9">
              <label>Voter Right</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Objective:</label>
            </div>
            <div class="col-md-9">
              <p>Chose the Correct Person, Give your Vote</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Description:</label>
            </div>
            <div class="col-md-9">
<p></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Gallery:</label>
            </div>
            <div class="col-md-9">
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/1.jpg" ng-click="open('/images/dhakathon/Think_big/1.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/2.png" ng-click="open('/images/dhakathon/Think_big/2.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/3.png" ng-click="open('/images/dhakathon/Think_big/3.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/4.png" ng-click="open('/images/dhakathon/Think_big/4.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/5.png" ng-click="open('/images/dhakathon/Think_big/5.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/6.png" ng-click="open('/images/dhakathon/Think_big/6.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/7.png" ng-click="open('/images/dhakathon/Think_big/7.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/8.png" ng-click="open('/images/dhakathon/Think_big/8.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/9.png" ng-click="open('/images/dhakathon/Think_big/9.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/10.jpg" ng-click="open('/images/dhakathon/Think_big/10.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/11.jpg" ng-click="open('/images/dhakathon/Think_big/11.jpg')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Think_big/12.jpg" ng-click="open('/images/dhakathon/Think_big/12.jpg')">
              </div>

            </div>
          </div>
         </div>
      </accordion-group>
      <accordion-group is-open="status.open[8]">

                            <accordion-heading>
            <h2 class="hack_header"><i class="fa fa-puzzle-piece"></i> Election Analyser </h2>
            <span class="opener_btn"> <i  ng-class="{'fa fa-chevron-circle-down': status.open[8], 'fa fa-chevron-circle-right': !status.open[8]}">  </i></span>
        </accordion-heading>

        <div class="">

          <div class="col-md-12">
            <div class="col-md-3">
              <label>Team Name:</label>
            </div>
            <div class="col-md-9">
              <label>Renascence</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Members Name:</label>
            </div>
            <div class="col-md-9">
              <!-- <label>Application Name:</label> -->
              <ol>
              <li>Mahbubur Rahman</li>
              <li>Anik Rahman Chowdhury</li>
              <li>Md. Karim Khan</li>
              <li>Chayan Roy  </li>
              <li>Rafiqul Hasan Rony</li>
              </ol>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Application Name:</label>
            </div>
            <div class="col-md-9">
              <label>Election Analyser</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Objective:</label>
            </div>
            <div class="col-md-9">
              <p>This is Survey and Awareness base web application</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Description:</label>
            </div>
            <div class="col-md-9">
<p>Here with this application our main motto is how people can easily find and choose their better and qualified candidate. In this application we know details information about candidate on candidate summery. On candidate summery everyone compare about candidate income, expenditure, budget, asset, their family income and so on. Candidate is our main priority so here in this application Candidate is our admin and so people can easily communicate  to their candidate , question them, request them and discuss all over problem of the area where they live. On this forum people can see and discuss one another status, comments, candidate bulletins, candidate workout and details information in the ward or city corporation and working activity of candidate. On this forum there is a section name “post your problem” where people submit their ward and city corporation problem and discuss with candidate. People can always communicate their candidate even after election so candidate easily understand what people need, how to handle the problem, what is the most important work for this ward or city corporation. With this app people also know every detail budget for their ward or city corporation. When people discuss all information about election, working activity of candidate they have a good assumption of pre-election and after election condition. So knowing every detail after people can pre-vote their candidate and then we see which candidate has great popularity and working activity. After getting this every feedback we get a graphical analysis for every candidate then people easily find out and choose their better qualified future candidate.</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Gallery:</label>
            </div>
            <div class="col-md-9">

              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/1.png" ng-click="open('/images/dhakathon/Renascence/1.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/2.png" ng-click="open('/images/dhakathon/Renascence/2.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/3.png" ng-click="open('/images/dhakathon/Renascence/3.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/4.png" ng-click="open('/images/dhakathon/Renascence/4.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/5.png" ng-click="open('/images/dhakathon/Renascence/5.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/6.png" ng-click="open('/images/dhakathon/Renascence/6.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/7.png" ng-click="open('/images/dhakathon/Renascence/7.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/8.png" ng-click="open('/images/dhakathon/Renascence/8.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/9.png" ng-click="open('/images/dhakathon/Renascence/9.png')">
              </div>
              <div class="col-md-3" style="height:150px; width:150px; overflow: hidden;">
                <img class="img-responsive" ng-src="/images/dhakathon/Renascence/10.png" ng-click="open('/images/dhakathon/Renascence/10.png')">
              </div>
            </div>
          </div>
         </div>
      </accordion-group>

    </accordion>

        </div>
</div>
    </div>
</div>

</div>
</div>
</div>
