<div class="inner_menu">&nbsp;</div>


<div class="visible-xs visible-sm container-fluid map_container_xs">

    <div class="row">






        <div class="col-md-12" id="" style="position:relative;padding:0px;margin:40px;margin-top: 20px;" >


    <h1 class="gis_header_h1_xs">Dhaka North</h1>
                    <!--<div>A gis map showing the important places and statistics</div>-->

                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="980px"></leaflet>

        </div>






        </div>
    </div>


<div class="hidden-xs hidden-sm container-fluid" style="" class="map_container">

    <div class="row">


      <div class="gis_menu">
                    <h1 class="gis_header_h1">Dhaka North</h1>
                    <!--<div>A gis map showing the important places and statistics</div>-->

                    <h4 class="gis_header_h4"><i class="fa fa-map-marker"></i> Locations</h4>
                    <ul>
                        <li><i class="fa fa-inbox"></i> Polling Stations</li>

                    </ul>
                    <h4 class="gis_header_h4"><i class="fa fa-database"></i> Statistics</h4>
                    <ul>
                        <li><i class="fa fa-male"></i> Population Data</li>
                        <li><i class="fa fa-table"></i> Voter Data</li>

                    </ul>
                    <h2 style="color: #158CBA">Data Coming Soon</h2>
                </div>



        <div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >




                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="1680px"></leaflet>

            </div>






        </div>
    </div>
