<div>

          <img style="position:absolute;height:100%;width:100%" src="/images/slides/election_visualization_bg.jpg"/>
          <div class="container" style="padding-top:60px">
            <div class="row">
              <div class="col-md-12" style="text-align: center">
                <h3 style="color: white;
  text-shadow: 1px 1px 1px black;
  font-family: Helvetica Neue,sans-serif;
  font-size: 110px;
  font-weight: 100;
  letter-spacing: 1px;" translate="Election Results">Election Results </h3>




              </div>
            </div>
          </div>


      </div>


<div id="elections_section" style="min-height:100vh;">
  <div class="inner_menu">&nbsp;</div>
<br/><br/><br/>
<div class="container-fluid" style="padding: 0 30px;" class="article_container">
<div class="row">
  <div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >
    <tabset justified="true" class="my-tabset-head">
      <tab select="go('election_results.mayoral')" class="hidden-xs hidden-sm">
        <tab-heading >
                   <span class="councilor-results"> <img src="/images/slides/vb-mayor.png" /></span>
                    <h4 translate="Mayoral Results">Mayoral Results</h4>
        </tab-heading>
      </tab>
      <tab select="go('election_results.councilor')" class="hidden-xs hidden-sm">
        <tab-heading>
                    <span class="councilor-results"> <img src="/images/slides/vb-councilor.png" /></span>
                    <h4 translate="Councilor Results">Councilor Results</h4>
        </tab-heading>
      </tab>
      <tab select="go('election_results.reserved')" class="hidden-xs hidden-sm">
        <tab-heading>
        <span class="reserved-seats-results"> <img src="/images/slides/vb-reserved.png"/></span>
                    <h4 translate="Reserved Seats Results">Reserved Seats Results</h4>
        </tab-heading>
      </tab>
      <tab select="go('election_results.key_number')" class="hidden-xs hidden-sm">
        <tab-heading>
                          <span class="key-features"> <img src="/images/slides/vb-stats.png"/></span>
                    <h4 translate="Key Numbers">Key Numbers</h4>
        </tab-heading>
      </tab>
    </tabset>
<div class="row-fluid tabset-view" ui-view id="">
</div>





</div>
</div>
</div>
</div>


<style>
li:active{border:none}
li.active a h4{color:white}
li.active a{
 background:url('/images/transpBlack75.png');
 color:black;
 border-size:0px;
}
a{border:none}
.nav-tabs > li > a{
    border-radius: 0px;
}
.nav-tabs.nav-justified > li > a{
    border-radius: 0px;
    border:solid 0px white;
    color:white;
}
.nav-tabs.nav-justified > li > a:hover{
    color:white;
    background:#ccc;
}
</style>
