<div id="timeline" class="content" style="height:700px; padding-top:100px;">

    <div class="content_header">
        <h1 id="timeline_h1" translate="ELECTION_TIMELINE">Election timeline</h1>
        <!-- <h4 id="timeline_h4">As the events unfolded</h4> -->
    </div>


    <div id="timeline_inner" >
        <div class="bar"></div>


        <div id="first_event" class="entry entry-top zoomIn animated">

            <p> <i class="fa fa-bullhorn"></i>{{'ECB Declares Election Schedule'|translate}}</p>

        </div>





        <div id="second_event" class="  entry entry-bottom zoomIn animated">
            <p> <i class="fa fa-clock-o"></i>{{'Deadline to file nominations'|translate}}</p>
        </div>




        <div id="third_event" class="  entry entry-top zoomIn animated">

            <p> <i class="fa fa-crosshairs"></i>{{'Scrutiny of nomination papers'|translate}}</p>
        </div>





        <div id="fourth_event" class="  entry entry-bottom zoomIn animated">
            <p> <i class="fa fa-crosshairs"> </i>{{'Scrutiny of nomination papers'|translate}}</p>
        </div>









              <div id="april_six_event" class="  entry entry-top zoomIn animated">

            <p>  <i class="fa fa-flag-checkered"> </i>
           <span style="display: block">{{'Campaign period begins'|translate}}</span>


                 </p>
        </div>




        <div id="april_nine_event" class="  entry entry-bottom zoomIn animated">

            <p>


       <i class="fa fa-reply"></i> {{'Withdrawal of nomination papers'|translate}}</p>

        </div>

        <div id="april_ten_event" class="  entry entry-top zoomIn animated">

            <p> <i class="fa fa-thumb-tack"> </i>
            <span  >{{'Allocation of  symbols'|translate}}</span>
            </p>
        </div>


        <div id="april_twosix_event" class="entry entry-bottom zoomIn animated">
              <p><i class="fa fa-power-off">  </i> {{'Campaign period ends'|translate}}</p>

        </div>


        <div id="april_twoeight_event" class="   entry entry-top zoomIn animated">
            <p><i class="fa fa-trophy">  </i> {{'Election day'|translate}}</p>

        </div>



















                <div ng-mouseover="timelineShow('first_event_date')"  ng-mouseleave="timelineHide('first_event_date')"  class="event_date hvr-grow" id="first_event_date">

            <h6 translate="March">March</h6><h5 translate="18">18</h5>
            <br clear="all"/>
        </div>
        <div ng-mouseover="timelineShow('second_event_date')"  ng-mouseleave="timelineHide('second_event_date')"    class="event_date hvr-grow" id="second_event_date">

            <h6 translate="March">March</h6><h5 translate="29">29</h5>
            <br clear="all"/>
        </div>

                <div  ng-mouseover="timelineShow('third_event_date')"  ng-mouseleave="timelineHide('third_event_date')"  class="event_date hvr-grow" id="third_event_date">

            <h6 translate="April">April</h6> <h5 translate="01">01</h5>
            <br clear="all"/>
        </div>

                <div  ng-mouseover="timelineShow('fourth_event_date')"  ng-mouseleave="timelineHide('fourth_event_date')"  class="event_date hvr-grow" id="fourth_event_date">

            <h6 translate="April">April</h6><h5 translate="02">02</h5>
            <br clear="all"/>
        </div>
                <div  ng-mouseover="timelineShow('fifth_event_date')"  ng-mouseleave="timelineHide('fifth_event_date')"  class="event_date hvr-grow" id="fifth_event_date">

            <h6 translate="April">April</h6>  <h5 translate="09">09</h5>
            <br clear="all"/>
        </div>

                <div  ng-mouseover="timelineShow('april_six_event_date')"  ng-mouseleave="timelineHide('april_six_event_date')"  class=" event_date hvr-grow " id="april_six_event_date">

            <h6 translate="April">April</h6> <h5 translate="08">08</h5>
            <br clear="all"/>
        </div>


             <div  ng-mouseover="timelineShow('april_nine_event_date')"  ng-mouseleave="timelineHide('april_nine_event_date')"  class=" event_date hvr-grow " id="april_nine_event_date">

            <h6 translate="April">April</h6> <h5 translate="10">10</h5>
            <br clear="all"/>
        </div>

                <div  ng-mouseover="timelineShow('seventh_event_date')"  ng-mouseleave="timelineHide('seventh_event_date')"  class="event_date hvr-grow" id="seventh_event_date">

            <h6 translate="April">April</h6>  <h5 translate="26">26</h5>
            <br clear="all"/>
        </div>

        <div  ng-mouseover="timelineShow('eighth_event_date')"  ng-mouseleave="timelineHide('eighth_event_date')"  class="event_date hvr-grow" id="eighth_event_date">

            <h6 translate="April">April</h6>  <h5 translate="28">28</h5>
            <br clear="all"/>
        </div>

    </div>

</div>
