<!-- <div style="position:relative;height:500px;"> -->

          <div class="container">
            <div class="row" style="  position: absolute;  margin-top: 60px;">
              <div class="col-md-12" style="text-align: center">
                <h1 style="color:white;text-shadow: 1px 1px 1px black;font-size:60px;font-weight: 100;letter-spacing: 1px" translate="Know Your Citizen Election Observers">Know Your Citizen Election Observers</h1>
                <h3 style="color:white;text-shadow: 1px 1px 1px black;font-size:20px;font-weight: 100;letter-spacing: 1px" translate="Eyes & Ears On Election Day">Your Eyes & Ears On Election Day </h3>

              </div>
            </div>
          </div>
<img style="width:100%;min-height: 400px; margin-top: -60px;" src="/images/slides/observers-banner-bg.jpg"/>

<!-- </div> -->
<div id="observers_section" style="min-height:100vh;">
  <div class="inner_menu">&nbsp;</div>

<div class="container" class="article_container">
<div class="row">
  <div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >



            <div class="row">

</div><!-- col md 9 -->

            </div>

            <div class="row">
                <div class="col-md-12">
                          <div style="box-shadow: 0px 0px 20px black;background:white;padding:20px;font-size: 20px;font-family: Helvetica Neue,sans-serif">
                            On Election Day, the Election Working Group plan to deploy 1000 citizen election observers across Dhaka North and Dhaka South City Corporations and 700 in Chittagong City Corporation. These citizen observers will be at the polling stations, working to closely monitor the electoral process and providing a strong civil society presence and voice on the credibility of the elections.
  <br>Fully trained and accredited citizen observers will provide real-time reports back to EWG’s Election HQ throughout the day, where they will be aggregated into a database to provide a comprehensive view of issues relating to inclusiveness and the credibility of the process undertaken. The team will also monitor any reported incidences of fraud or violence.
  <br>EWG will provide a preliminary report on their findings the following day (April 29) at a press conference at the Dhaka Press Club.

            <h2 style="text-align: center">Observer Deployment</h2>
                        <div class="row">
                <div class="col-lg-12">
                    <div id="map_block_first" style="visibility: visible;position: relative " class="map_block  col-md-4 col-lg-4 col-sm-12 col-xs-12 "  >
                       <a ui-sref='map.dscc.map' > <h4 translate="Dhaka South">Dhaka South</h4></a>
                         <h3 class="ob_h3">{{'404' | translate}} {{'OBSERVERS' | translate}}</h3>

                        <a ui-sref='map.dscc.map' ><img class="img-responsive" src="/images/dscc-map.png"/></a>

                    </div>
                    <div id="map_block_second" style="visibility: visible;position: relative" class="map_block col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <a ui-sref='map.dncc.map' ><h4 translate="Dhaka North">Dhaka North</h4></a>
                               <h3 class="ob_h3">{{'496' | translate}} {{'OBSERVERS' | translate}}</h3>
                        <a ui-sref='map.dncc.map' ><img class="img-responsive" src="/images/dncc-map.png"/></a>

                    </div>
                    <div id="map_block_third" style="visibility: visible; position:relative" class="map_block col-md-4 col-lg-4 col-sm-12 col-xs-12">
                         <a ui-sref='map.ccc.map' ><h4 translate="Chittagong"> Chittagong</h4></a>
                             <h3 class="ob_h3">{{'700' | translate}} {{'OBSERVERS' | translate}}</h3>
                        <a ui-sref='map.ccc.map' ><img class="img-responsive" src="/images/ctg-map.png"/></a>

                    </div>
                </div>
            </div>
            </div>
                </div>

            </div>


        </div>

    </div>
</div>
