    <footer style="padding:80px;">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                    <div class="brand">
                        <div class="">
<img style="height:80px; float: left; padding-right: 20px;" src="/images/WHITELOGO.png"/>

                        </div>
                        <div>
                            <h1 class="brand-name">
                            <a href="#/home">Election Working Group</a>
                        </h1>

                        </div>
                    </div>
                </div>




                <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-offset-2 col-xs-8">


                <div class="footer_telephone pull-right">

                    <address class="" translate="ewg-address"><span>EWG</span><br>House 5, Road 8<br>
Baridhara Residential Area<br>Dhaka, 1212</address><br>

                    <strong>{{'E-mail'|translate}}: info@ewgbg.org</strong>
                </div>



                 </div>


            </div>

        </div>
    </footer>
