<style type="text/css">
   .tabheader{
    width: 50%;
        position: relative;
color: red;
background: #ffffff;
font-size: 26px;
text-transform: uppercase;
text-align: center;
padding: 0px;
margin: 0px;

    }  
      
     

    .candidates .nav-tabs > li.active > a, 
    .candidates .nav-tabs > li.active > a:hover, 
    .candidates .nav-tabs > li.active > a:focus{
        background-color: #3f454d;
        color: #FFE;
    }


</style>
<!--========================================================
                        SLIDER
=========================================================-->
    <!-- <div style="display: block; height: 800px;" class="camera_wrap">
        <div class="camera_fakehover">
            <div class="camera_src camerastarted hovered">
                <div data-src="/images/slide-1.jpg">

                </div>
                <div data-src="/images/slide-2.jpg">

                </div>
                <div data-src="/images/slide-3.jpg">

                </div>
            </div>
            <div class="camera_target">
                <div class="cameraCont">
                    <div style="visibility: visible; display: none; z-index: 1;" class="cameraSlide cameraSlide_0"><img data-portrait="" data-alignment="" style="visibility: visible; height: 800px; margin-left: -282.379px; margin-right: -282.379px; margin-top: 0px; position: absolute; width: 1575.76px;" class="imgLoaded" src="images/slide-1.jpg" height="990" width="1950">
                        <div style="width: 1011px; height: 800px;" class="camerarelative"></div>
                    </div>
                    <div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_1"><img data-portrait="" data-alignment="" style="visibility: visible; height: 800px; margin-left: -282.379px; margin-right: -282.379px; margin-top: 0px; position: absolute; width: 1575.76px;" class="imgLoaded" src="images/slide-2.jpg" height="990" width="1950">
                        <div style="width: 1011px; height: 800px;" class="camerarelative"></div>
                    </div>
                    <div style="display: block; z-index: 999;" class="cameraSlide cameraSlide_2 cameracurrent"><img data-portrait="" data-alignment="" style="visibility: visible; height: 800px; margin-top: 0px; position: absolute; margin-left: -282.379px; margin-right: -282.379px; width: 1575.76px;" class="imgLoaded" src="images/slide-3.jpg" height="990" width="1950">
                        <div style="width: 1011px; height: 800px;" class="camerarelative"></div>
                    </div>
                    <div style="z-index: 1; display: none;" class="cameraSlide cameraSlide_3 cameranext">
                        <div style="width: 1011px; height: 800px;" class="camerarelative"></div>
                    </div>
                </div>
            </div>
            <div class="camera_overlayer"></div>
            <div class="camera_target_content">
                <div class="cameraContents">
                    <div style="display: none;" class="cameraContent">
                        <div class="camera-caption">
                            <h2>Rich experience in debt collection industry</h2>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipiscin. </h5>
                            <a href="#" class="default-btn btn btn-1">reaD more</a>
                        </div>
                    </div>
                    <div style="display: none;" class="cameraContent">
                        <div class="camera-caption">
                            <h2>Getting bad debts paid is our main aim</h2>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipiscin. </h5>
                            <a href="#" class="default-btn btn btn-1">reaD more</a>
                        </div>
                    </div>
                    <div style="display: block;" class="cameraContent cameracurrent">
                        <div class="camera-caption">
                            <h2>Getting bad debts paid is our main aim</h2>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipiscin. </h5>
                            <a href="#" class="default-btn btn btn-1">reaD more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="camera_pie">
                <canvas style="position: absolute; z-index: 1002; right: 0px; top: 0px; display: block; opacity: 0;" height="38" width="38" id="pie_1"></canvas>
            </div>
            <div class="camera_commands">
                <div style="display: none;" class="camera_play"></div>
                <div style="display: block;" class="camera_stop"></div>
            </div>
        </div>
        <div style="display: none; visibility: visible;" class="camera_loader"></div>
    </div> -->

			 <!-- <div class="sp-slideshow" style="margin-top:-40px;">
			
				<input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked" />
				<label for="button-1" class="button-label-1"></label>
				
				<input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
				<label for="button-2" class="button-label-2"></label>
				
				<input id="button-3" type="radio" name="radio-set" class="sp-selector-3" />
			
				
				<label for="button-1" class="sp-arrow sp-a1"></label>
				<label for="button-2" class="sp-arrow sp-a2"></label>
				
				
				<div class="sp-content">
					<div class="sp-parallax-bg"></div>
					<ul class="sp-slider clearfix">
					<li><img src="/images/slideshow/dhk.jpg" alt="image01"  /></li>
					<li><img src="/images/slideshow/ctg.jpg" alt="image01" /></li>
						
					</ul>
				</div>
		
			</div>  -->

  <div id="myCarousel" style="margin-top: -40px;" class="carousel slide"  data-ride="carousel"> 
  <!-- Indicators -->
  
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active"> <img src="images/slide-1.jpg" style="width:100%" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
        <ul id="timer_dhaka_north" class="timer_countdown">
      <li><span class="days">00</span><p class="days_text">Days</p></li>
        <li class="seperator">:</li>
        <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
        <li class="seperator">:</li>
        <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
        <li class="seperator">:</li>
        <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
    </ul>
          <h1>Dhaka North</h1>
          <p>Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item"> <img src="images/slide-2.jpg" style="width:100%" data-src="" alt="Dhaka South">
      <div class="container">
        <div class="carousel-caption">
        <ul id="timer_dhaka_south" class="timer_countdown">
      <li><span class="days">00</span><p class="days_text">Days</p></li>
        <li class="seperator">:</li>
        <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
        <li class="seperator">:</li>
        <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
        <li class="seperator">:</li>
        <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
    </ul>
          <h1>Dhaka South</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae egestas purus. </p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item"> <img src="images/slide-3.jpg" style="width:100%" data-src="" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
        <ul id="timer_chittagong" class="timer_countdown">
      <li><span class="days">00</span><p class="days_text">Days</p></li>
        <li class="seperator">:</li>
        <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
        <li class="seperator">:</li>
        <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
        <li class="seperator">:</li>
        <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
    </ul>
          <h1>Chittagong</h1>
          <p>Donec sit amet mi imperdiet mauris viverra accumsan ut at libero.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
    <!--========================================================
                        CONTENT
=========================================================-->
    <!-- <div class="row">
        
    </div> -->
    
    <div class="content">
 
        <h1>Election timeline</h1>
<div class="timeline-bottom">
   
    <div id="day24" class="entry entry-top">
        <h1>1995</h1>
        Here's the info about this date
    </div>
    <div class="entry entry-top">
        <h1>2000</h1>
        Here's the info about this date
    </div>
    <div class="entry entry-top">
        <h1>2005</h1>
        Here's the info about this date
    </div>
    <div class="entry entry-top">
        <h1>2010</h1>
        Here's the info about this date
    </div>
    
      <div class="bar"></div>
      
          <div class="entry entry-bottom">
        <h1>1995</h1>
        Here's the info about this date
    </div>
    <div  class="entry entry-bottom">
        <h1>2000</h1>
        Here's the info about this date
    </div>
    <div class="entry entry-bottom">
        <h1>2005</h1>
        Here's the info about this date
    </div>
    <div class="entry entry-bottom">
        <h1>2010</h1>
        Here's the info about this date
    </div>
</div>
    
    </div>
    
    <div id="content">
        
        <h1>Know your candidates</h1>
        <div class="block-1 bg-2">
            <div class="container candidates">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li id = "myTab1" class="active tabheader"><a class="" href="" ng-click='changeTab("asia");' role="tab" data-toggle="tab">Mayoral Candidates</a></li>
            <li id = "myTab2" class="tabheader"><a class="" href="" ng-click='changeTab("africa");' role="tab" data-toggle="tab">Councilor Candidates</a></li>
         </ul>
         <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="asia">
<div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;" class="box box-1  fadeInLeft animated" data-wow-delay="0.5s">
                            <div class="description"><div class="thumbnail">
                            <img src="images/Anonymous_Person_Moc.jpg" alt="photo">
                                </div><h4>Commercial Debt Recovery</h4>
                                <h5>liquam rhoncus, libero non congue ultri.</h5>
                                <p>Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua.</p>
                                <a href="#" class="default-btn btn btn-2"><i class="fa fa-file-text-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;" class="box box-1  fadeInLeft animated" data-wow-delay="0.4s">
                            <div class="description"><div class="thumbnail">
                            <img src="images/Anonymous_Person_Moc.jpg" alt="photo">
                                </div>
                                <h4>Legal Debt Recovery</h4>
                                <h5>liquam rhoncus, libero non congue ultri.</h5>
                                <p>Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua.</p>
                                <a href="#" class="default-btn btn btn-2"><i class="fa fa-file-text-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="col-lg-4 col-md-4 col-sm-4  fadeInLeft animated" data-wow-delay="0.3s">
                        <div class="box box-1">
                            <div class="description"><div class="thumbnail">
                            <img src="images/Anonymous_Person_Moc.jpg" alt="photo">
                                </div>
                                <h4>Debtor Search</h4>
                                <h5>liquam rhoncus, libero non congue ultri.</h5>
                                <p>Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua.</p>
                                <a href="#" class="default-btn btn btn-2"><i class="fa fa-file-text-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="africa" class="tab-pane">
<div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;" class="box box-1  fadeInLeft animated" data-wow-delay="0.4s">
                            <div class="description">
                              <div class="thumbnail">
                            <img src="images/Anonymous_Person_Moc.jpg" alt="photo">
                                </div>  <h4>Legal Debt Recovery</h4>
                                <h5>liquam rhoncus, libero non congue ultri.</h5>
                                <p>Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua.</p>
                                <a href="#" class="default-btn btn btn-2"><i class="fa fa-file-text-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="col-lg-4 col-md-4 col-sm-4  fadeInLeft animated" data-wow-delay="0.3s">
                        <div class="box box-1">
                            <div class="description"><div class="thumbnail">
                            <img src="images/Anonymous_Person_Moc.jpg" alt="photo">
                                </div>
                                <h4>Debtor Search</h4>
                                <h5>liquam rhoncus, libero non congue ultri.</h5>
                                <p>Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua.</p>
                                <a href="#" class="default-btn btn btn-2"><i class="fa fa-file-text-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
            </div>
        </div>
        <div class="block-2 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="box box-2 wow fadeInLeft animated" data-wow-delay="0.3s">
                            <div class="badge">01</div>
                            <h4>An Expert Method to Rapid Debt Collection</h4>
                            <h5>Mes cuml dia sed ineniasinge dolor ipsum ludin estibulum commete ipsum comnetus.</h5>
                            <p>Dolor nunc vule putateulr ips dol consec.Donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua ludin dolor nec met quam accumsan dolore. Сondime netus lullam utlacus adipiscing ipsum molestie euismod estibulum vel libero ipsum sit amet sollicitudin ante. </p>
                        </div>
                        <div style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;" class="box box-2 wow fadeInLeft animated" data-wow-delay="0.4s">
                            <div class="badge">02</div>
                            <h4>An Undeniable Approach for Rapid Debt Collection</h4>
                            <h5>Mes cuml dia sed ineniasinge dolor ipsum ludin estibulum commete ipsum comnetus.</h5>
                            <p>Dolor nunc vule putateulr ips dol consec.Donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua ludin dolor nec met quam accumsan dolore. Сondime netus lullam utlacus adipiscing ipsum molestie euismod estibulum vel libero ipsum sit amet sollicitudin ante. </p>
                        </div>
                        <div style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;" class="box box-2 wow fadeInLeft animated" data-wow-delay="0.5s">
                            <div class="badge">03</div>
                            <h4>A Relentless Pursuit of Collection Perfection</h4>
                            <h5>Mes cuml dia sed ineniasinge dolor ipsum ludin estibulum commete ipsum comnetus.</h5>
                            <p>Dolor nunc vule putateulr ips dol consec.Donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua ludin dolor nec met quam accumsan dolore. Сondime netus lullam utlacus adipiscing ipsum molestie euismod estibulum vel libero ipsum sit amet sollicitudin ante. </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <h4 class="title-1">Featured <br> Articles </h4>
                        <div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="thumb-pad-1 wow fadeInRight animated" data-wow-delay="0.3s">
                            <div class="thumbnail">
                                <img src="images/page1-img1.jpg" alt="photo">
                                <div class="caption">
                                    <h5>Mes cuml dia sed inger alie dolore ipsum ame</h5>
                                    <p>Mes cuml dia sed in lacus ut eniascet dol ingerto aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen lusto dolor ltissim comes cuml dia sed inertio lacusueni ascet dolingerto aliiqt sit.</p>
                                    <p>Mes cuml dia sed in lacus ut eniascet ingerto aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen lusto dolor ltissim comes cuml dia sed inertio lacusueni ascet dolingerto aliiqt sit amet eism com odictor ut ligulate cot ameti dapibu emo enim ipsam voluptatem.</p>
                                </div>
                            </div>
                        </div>
                        <ul class="list list-1">
                            <li style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="wow fadeInRight animated" data-wow-delay="0.3s"><a href="#">Mes cuml dia sed ineniasinge<span>estibulum commete ipsum.</span></a></li>
                            <li style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;" class="wow fadeInRight animated" data-wow-delay="0.4s"><a href="#">Donec semp erte laciniate<span>ultricie upien disse come </span></a></li>
                            <li style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;" class="wow fadeInRight animated" data-wow-delay="0.5s"><a href="#">Mes cuml dia sed ineniasinge<span>estibulum commete ipsum.</span></a></li>
                            <li style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;" class="wow fadeInRight animated" data-wow-delay="0.6s"><a href="#">Donec semp erte laciniate<span>ultricie upien disse come </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-position: 0% 67px;" class="block-3 parallax-bg-1 parallax">
            <div class="box box-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2><a href="#" class="link link-1">get a free quote</a></h2>
                            <h5>Mes cuml dia sed ineniasinge dolor ipsum commete ipsum comnetu Dolor ipsum commete ipsum comnetus Mes ineniasinge </h5>
                        </div>
                        <div class="col-lg-2 col-lg-offset-2">
                            <a href="#" class="btn-default btn btn-3"><i class="fa  fa-comments"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;" class="box box-4 wow fadeIn animated" data-wow-delay="0.3s">
                            <h4>New <br> Clients</h4>
                            <h5>Mes cuml dia sed ineni Dolor ipsum come </h5>
                            <a href="#" class="default-btn btn btn-4"><i class="fa fa-file-text-o"></i></a>
                        </div>
                        <div style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;" class="box box-4 wow fadeIn animated" data-wow-delay="0.4s">
                            <h4>Client <br> Access</h4>
                            <h5>Mes cuml dia sed ineni Dolor ipsum come </h5>
                            <a href="#" class="default-btn btn btn-4"><i class="fa fa-file-text-o"></i></a>
                        </div>
                        <div style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;" class="box box-4 wow fadeIn animated" data-wow-delay="0.5s">
                            <h4>Immediate <br> Action</h4>
                            <h5>Mes cuml dia sed ineni Dolor ipsum come </h5>
                            <a href="#" class="default-btn btn btn-4"><i class="fa fa-file-text-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>