<div id="myCarousel" class="visible-md visible-lg" >
  <carousel interval="myInterval" style="overflow: hidden;">
    <style>
      #cbtna{
      left: 450px;
      position: absolute;
      top: 161px;
      z-index: 324324324;
      display: none;
      padding-left: 70px;
      padding-right: 70px;
      box-shadow: 0px 0px 20px white;
      }
      #cbtndiv a#cbtna{display:none}
      #cbtndiv:hover {cursor: pointer}
      #cbtndiv:hover img{opacity:0.7}
      #cbtndiv:hover a#cbtna{display:block}
      #third_slide:hover {opacity:0.7}
    </style>
    <slide>
      <img style="margin:auto;height:100%" ng-src="{{'images/slides/silde-1-eng.jpg'|translate}}" style="margin:auto;">
    </slide>
    <!-- <slide >
      <img style="position:absolute;height:100%;width:100%; " src="/images/slides/bg.jpg"/>
                <div class="container" style="padding-top:60px">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <h1 style="color:white;text-shadow: 1px 1px 1px black;font-size:60px;font-weight: 100;letter-spacing: 1px" translate="KNOW_YOUR_MAYORAL_CANDIDATES">Know Your Mayoral Candidates</h1>
                            <h3 style="color:white;text-shadow: 1px 1px 1px black;font-size:20px;font-weight: 100;letter-spacing: 1px" translate="SLIDER_2_SUBTITLE">A portal showing biographic & financial
      information of mayoral candidates </h3>
                            <div id="cbtndiv" style="position:relative;height:400px;width:100%;overflow:hidden;text-align: center">
                           <a  ui-sref="view_candidate" >
                                <img style="box-shadow: 0px 18px 40px black"  src="/images/slides/mayoral-faces.jpg" /></a>

                            </div>
                        </div>
                    </div>
                </div>

            </slide> -->
    <!-- <slide>
      <img style="position:absolute;height:100%;width:100%" src="/images/slides/slidethreebg.jpg"/>
      <div class="container" style="padding-top:60px">
          <div class="row">
              <div class="col-md-12" style="text-align: center">
                  <h1 style="color:white;text-shadow: 1px 1px 1px black;font-size:60px;font-weight: 100;letter-spacing: 1px" translate="KNOW_YOUR_COUNCILOR_CANDIDATES">Know Your Councilor Candidates</h1>
                  <h3 style="color:white;text-shadow: 1px 1px 1px black;font-size:20px;font-weight: 100;letter-spacing: 1px" translate="SLIDER_3_SUBTITLE">A portal showing biographic & financial
      information of councilor candidates </h3>
                                        <a ui-sref="councilor">
                  <div style="position:relative;height:400px;width:100%;overflow:hidden;text-align: center">

                <img id="third_slide" src="/images/slides/councilor-faces.png"/>
                  </div></a>
              </div>
          </div>
      </div>

      </slide> -->
    <!-- <slide>
      <a  ui-sref="election_obserber" >
      <img style="position:absolute;height:100%;width:100%" src="/images/slides/observers-banner-bg.jpg"/>
        <div class="container" style="padding-top:60px">
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <h1 style="color:white;text-shadow: 1px 1px 1px black;font-size:60px;font-weight: 100;letter-spacing: 1px" translate="Know Your Citizen Election Observer">Know Your Citizen Election Observer</h1>
              <h3 style="color:white;text-shadow: 1px 1px 1px black;font-size:20px;font-weight: 100;letter-spacing: 1px" translate="Your Eyes & Ears On Election Day">Your Eyes & Ears On Election Day </h3>

            </div>
          </div>
        </div>
      </a>

      </slide> -->
    <slide>
      <a  ui-sref="dhakathon" >
      <img style="position:absolute;height:100%;width:100%" ng-src="{{'dhakathon-banner'|translate}}" src="/images/slides/dhakathon-banner.jpg"/>
      </a>
    </slide>
    <slide>
      <a  ui-sref="election_results" >
        <img style="position:absolute;height:100%;width:100%" src="/images/slides/election_visualization_bg.jpg"/>
        <div class="container" style="padding-top:60px">
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <h3 style="color: white;
                text-shadow: 1px 1px 1px black;
                font-family: Helvetica Neue,sans-serif;
                font-size: 110px;
                font-weight: 100;
                letter-spacing: 1px;" translate="Election Results">Election Results </h3>
              <h1 style="color: black;
                text-shadow: 0px 0px 26px white;
                font-size: 74px;
                margin-bottom: 40px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: bold;">&nbsp;</h1>
              <div class="row" style="color: white">
                <div class="col-md-3">
                  <span class="mayoral-result"> <img ng-src="/images/slides/vb-mayor.png" /></span>
                  <h4 translate="Mayoral Results">Mayoral Results</h4>
                </div>
                <div class="col-md-3">
                  <span class="councilor-results"> <img ng-src="/images/slides/vb-councilor.png" /></span>
                  <h4 translate="Councilor Results">Councilor Results</h4>
                </div>
                <div class="col-md-3">
                  <span class="reserved-seats-results"> <img ng-src="/images/slides/vb-reserved.png"/></span>
                  <h4 translate="Reserved Seats Results">Reserved Seats Results</h4>
                </div>
                <div class="col-md-3">
                  <span class="key-features"> <img ng-src="/images/slides/vb-stats.png"/></span>
                  <h4 translate="Key Numbers">Key Numbers</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </slide>
  </carousel>
</div>
<!--========================================================
  CONTENT
  =========================================================-->
<div class="container-fluid">
  <div class="row">
    <div class=" visible-lg visible-md" >
      <div id="news_strip" ng-init="init()">
        <div class="shadow left">&nbsp;</div>
        <div  ng-mouseover="conf.news_move_flag=false" ng-mouseout="conf.news_move_flag=true">
          <a ng-repeat="(k, n) in news track by $index" ng-style="{'left': get_news_right($index)}" id="news_{{$index}}" rel="nofollow" target="_blank" href="{{n.link}}">
          <span class="title"><i class="fa fa-chevron-circle-right"></i>&nbsp;{{n.title}}</span>
          </a>
        </div>
        <div class="shadow right">
          <i class="fa fa-step-backward" ng-click="scrollBackward()"></i>
          <i class="fa fa-pause" ng-click="conf.news_move_flag=false" ng-show="conf.news_move_flag"></i>
          <i class="fa fa-play" ng-click="conf.news_move_flag=true" ng-hide="conf.news_move_flag"></i>
          <i class="fa fa-step-forward" ng-click="scrollForward()"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="overflow: hidden; background: url('/images/slides/slidethreebg.jpg');">
    <div class="home_boxes col-md-4" style="  background: url('/images/slides/bg.jpg');">
      <a  ui-sref="view_candidate" >
        <h3 class="text-center" style="font-family: Helvetica Neue,sans-serif;color:white;text-shadow: 1px 1px 1px black;font-weight: 100;letter-spacing: 1px" translate="KNOW_YOUR_MAYORAL_CANDIDATES">Know Your Mayoral Candidates</h3>
        <img class="img-responsive" style="width: 60%; margin: 0 auto;" ng-src="/images/slides/mayoral-faces.jpg" />
      </a>
    </div>
    <div class="home_boxes col-md-4">
      <a  ui-sref="councilor" >
        <h3 class="text-center" style="font-family: Helvetica Neue,sans-serif;color:white;text-shadow: 1px 1px 1px black;font-weight: 100;letter-spacing: 1px" translate="KNOW_YOUR_COUNCILOR_CANDIDATES">Know Your Councilor Candidates</h3>
        <img class="img-responsive" ng-src="/images/slides/councilor-faces.png" />
      </a>
    </div>
    <div class="home_boxes col-md-4">
      <a  ui-sref="election_obserber" >
        <div style="width:100%;padding-right:30px;position:absolute;text-align: center">
          <h3 style="text-align: center;font-family: Helvetica Neue,sans-serif;color:white;text-shadow: 1px 1px 1px black;font-weight: 100;letter-spacing: 1px" translate="Know Your Citizen Election Observers">Know Your Citizen Election Observers</h3>
        </div>
        <img class="img-responsive" style="min-height:200px" src="/images/slides/observers-banner-bg.jpg"/>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="overflow: hidden; background: url('/images/blurred-lights.jpg'); background-size: cover; padding-bottom: 25px;">
    <div class="">
      <div class="content_header">
        <h1 id="timeline_h1">{{'EWG INCIDENT REPORTS' | translate}}</h1>
        <!-- <h4 id="timeline_h4">As the events unfolded</h4> -->
      </div>
      <div class="big_incident">
        <div class="col-md-4" style="background: #31353b;">
          <a ui-sref="observation_results" class="ng-binding" href="#/observation-results" style="width:550px;margin-left:auto;margin-right:auto;display:block;">
            <div style="overflow: hidden;background: #31353b;color:white;position:relative;height: 448px;width: 550px;">
              <img class="img-responsive" style="height:48px;position:absolute;left: 280px;top: 42px;" src="/images/infographics/voter-inti.png">
              <h4 style="position:absolute;left: 270px;top: 93px;font-size: 11px;">Intimidation of Voters</h4>
              <hr style="position:absolute;top: 95px;left: 240px;width: 54px; border:0px;border-top: 3px solid white;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);">
              <hr style="position:absolute;top: 68px;left: 266px;width: 100px; border:0px;border-top: 3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 364px;top: 72px;background:#222;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin: 0;padding: 0;">33</h6>
              </span>
              <img class="img-responsive" style="height: 60px;position:absolute;left: 78px;top: 124px;" src="/images/infographics/magistrate.png">
              <h4 style="position:absolute;left: 76px;top: 181px;font-size:11px;">Violation Of<br>
                Campaign Law
              </h4>
              <hr style="position:absolute;top: 170px;left: 149px;width: 32px; border:0px;border-top:3px solid white;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg);">
              <hr style="position:absolute;top: 164px;left: 68px;width: 83px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 29px;top: 169px;background:#222;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">20</h6>
              </span>
              <img class="img-responsive" style="height: 48px;position:absolute;left: 62px;top: 238px;" src="/images/infographics/arrest.png">
              <h4 style="position:absolute;left: 52px;top: 284px;font-size:11px;">Arrests within station</h4>
              <hr style="position:absolute;top: 260px;left: 137px;width: 34px; border:0px;border-top:3px solid white;-webkit-transform: rotate(160deg);-ms-transform: rotate(160deg);transform: rotate(160deg);">
              <hr style="position:absolute;top: 266px;left: 43px;width: 95px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 7px;top: 270px;background:#222;border-radius: 100%;padding-left: 14px;padding-bottom: 11px;padding-right: 14px;padding-top: 11px;">
                <h6 style="font-family: monospace;font-size: 16px;margin:0;padding:0;">2</h6>
              </span>
              <img class="img-responsive" style="height: 48px;position:absolute;left: 112px;top: 326px;" src="/images/infographics/kicked.png">
              <h4 style="position:absolute;left: 92px;top: 368px;font-size:11px;">Polling agents removed<br> from polling station</h4>
              <hr style="position:absolute;top: 333px;left: 168px;width: 52px; border:0px;border-top:3px solid white;-webkit-transform: rotate(128deg);-ms-transform: rotate(128deg);transform: rotate(128deg);">
              <hr style="position:absolute;top: 353px;left: 81px;width: 98px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 46px;top: 358px;background:#222;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">24</h6>
              </span>
              <img class="img-responsive" style="height: 44px;position:absolute;left: 370px;top: 333px;" src="/images/infographics/locked.png">
              <h4 style="position:absolute;left: 298px;top: 376px;font-size:11px;">Polling station declared closed</h4>
              <hr style="position:absolute;top: 339px;left: 312px;width: 52px; border:0px;border-top:3px solid white;-webkit-transform: rotate(241deg);-ms-transform: rotate(241deg);transform: rotate(241deg);">
              <hr style="position:absolute;top: 361px;left: 349px;width: 98px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 448px;top: 364px;background:#222;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">21</h6>
              </span>
              <img class="img-responsive" style="height: 54px;position:absolute;left: 400px;top: 234px;" src="/images/infographics/violent.png">
              <h4 style="position:absolute;left: 397px;top: 282px;font-size:11px;">Violent Incident</h4>
              <hr style="position:absolute;top: 260px;left: 371px;width: 34px; border:0px;border-top:3px solid white;-webkit-transform: rotate(204deg);-ms-transform: rotate(204deg);transform: rotate(204deg);">
              <hr style="position:absolute;top: 267px;left: 402px;width: 95px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 482px;top: 270px;background:#222;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left:6px;padding-bottom:2px;font-size: 16px;margin:0;padding:0;">66</h6>
              </span>
              <img class="img-responsive" style="height: 41px;position:absolute;left: 424px;top: 132px;" src="/images/infographics/voted.png">
              <h4 style="position:absolute;left: 378px;top: 173px;font-size:11px;">Incidence of ballot stuffing</h4>
              <hr style="position:absolute;top: 162px;left: 357px;width: 32px; border:0px;border-top:3px solid white;-webkit-transform: rotate(-37deg);-ms-transform: rotate(-37deg);transform: rotate(-37deg);">
              <hr style="position:absolute;top: 153px;left: 385px;width: 120px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 504px;top: 156px;background:#222;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">55</h6>
              </span>
              <span class="hvr-grow" style="position:absolute;left: 166px;top: 144px;border: 20px solid #222;border-radius: 50%;text-align:center;height: 210px;width: 210px;background: #222;">
                <h2 style="font-size: 26px;margin-top: 46px;">Dhaka South</h2>
                <h3 style="font-size: 13px;margin-top: -1px;"><i class="fa fa-child"></i><i class="fa fa-child" style="padding-right:4px"></i>1,870,363 Voters</h3>
                <h4 style="font-size: 13px;margin-top: 0px;"><i class="fa fa-sitemap" style="padding-right:6px;font-size: 14px;"></i>57 Wards</h4>
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-4" style="background:#99bf38">
          <a ui-sref="observation_results" class="ng-binding" href="#/observation-results" style="width:550px;margin-left:auto;margin-right:auto;display:block;">
            <div style="overflow: hidden;background: #99bf38;color:white;position:relative;height: 448px;width: 550px;">
              <img class="img-responsive" style="height:48px;position:absolute;left: 280px;top: 42px;" src="/images/infographics/voter-inti.png">
              <h4 style="position:absolute;left: 270px;top: 93px;font-size: 11px;">Intimidation of Voters</h4>
              <hr style="position:absolute;top: 95px;left: 240px;width: 54px; border:0px;border-top: 3px solid white;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg)">
              <hr style="position:absolute;top: 68px;left: 266px;width: 100px; border:0px;border-top: 3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 364px;top: 72px;background:#678B0B;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin: 0;padding: 0;">39</h6>
              </span>
              <img class="img-responsive" style="height: 60px;position:absolute;left: 78px;top: 124px;" src="/images/infographics/magistrate.png">
              <h4 style="position:absolute;left: 76px;top: 181px;font-size:11px;">Violation Of<br>
                Campaign Law
              </h4>
              <hr style="position:absolute;top: 170px;left: 149px;width: 32px; border:0px;border-top:3px solid white;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg);">
              <hr style="position:absolute;top: 164px;left: 68px;width: 83px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 29px;top: 169px;background:#678B0B;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">25</h6>
              </span>
              <img class="img-responsive" style="height: 48px;position:absolute;left: 62px;top: 238px;" src="/images/infographics/arrest.png">
              <h4 style="position:absolute;left: 52px;top: 284px;font-size:11px;">Arrests within station</h4>
              <hr style="position:absolute;top: 260px;left: 137px;width: 34px; border:0px;border-top:3px solid white;-webkit-transform: rotate(160deg);-ms-transform: rotate(160deg);transform: rotate(160deg);">
              <hr style="position:absolute;top: 266px;left: 43px;width: 95px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 7px;top: 270px;background:#678B0B;border-radius: 100%;/* padding: 91px; */padding-left: 14px;padding-bottom: 11px;padding-right: 14px;padding-top: 11px;">
                <h6 style="font-family: monospace;font-size: 16px;margin:0;padding:0;">2</h6>
              </span>
              <img class="img-responsive" style="height: 48px;position:absolute;left: 112px;top: 326px;" src="/images/infographics/kicked.png">
              <h4 style="position:absolute;left: 92px;top: 368px;font-size:11px;">Polling agents removed<br> from polling station</h4>
              <hr style="position:absolute;top: 333px;left: 168px;width: 52px; border:0px;border-top:3px solid white;-webkit-transform: rotate(128deg);-ms-transform: rotate(128deg);transform: rotate(128deg);">
              <hr style="position:absolute;top: 353px;left: 81px;width: 98px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 46px;top: 358px;background:#678B0B;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">19</h6>
              </span>
              <img class="img-responsive" style="height: 44px;position:absolute;left: 370px;top: 333px;" src="/images/infographics/locked.png">
              <h4 style="position:absolute;left: 298px;top: 376px;font-size:11px;">Polling station declared closed</h4>
              <hr style="position:absolute;top: 339px;left: 312px;width: 52px; border:0px;border-top:3px solid white;-webkit-transform: rotate(241deg);-ms-transform: rotate(241deg);transform: rotate(241deg);">
              <hr style="position:absolute;top: 361px;left: 349px;width: 98px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 448px;top: 364px;background:#678B0B;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;font-size: 16px;margin:0;padding-right:4px;padding-left:4px;">6</h6>
              </span>
              <img class="img-responsive" style="height: 54px;position:absolute;left: 400px;top: 234px;" src="/images/infographics/violent.png">
              <h4 style="position:absolute;left: 397px;top: 282px;font-size:11px;">Violent Incident</h4>
              <hr style="position:absolute;top: 260px;left: 371px;width: 34px; border:0px;border-top:3px solid white;-webkit-transform: rotate(204deg);-ms-transform: rotate(204deg);transform: rotate(204deg);">
              <hr style="position:absolute;top: 267px;left: 402px;width: 95px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 482px;top: 270px;background:#678B0B;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left:6px;padding-bottom:2px;font-size: 16px;margin:0;padding:0;">26</h6>
              </span>
              <img class="img-responsive" style="height: 41px;position:absolute;left: 424px;top: 132px;" src="/images/infographics/voted.png">
              <h4 style="position:absolute;left: 378px;top: 173px;font-size:11px;">Incidence of ballot stuffing</h4>
              <hr style="position:absolute;top: 162px;left: 357px;width: 32px; border:0px;border-top:3px solid white;-webkit-transform: rotate(-37deg);-ms-transform: rotate(-37deg);transform: rotate(-37deg);">
              <hr style="position:absolute;top: 153px;left: 385px;width: 120px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 504px;top: 156px;background:#678B0B;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">46</h6>
              </span>
              <span class="hvr-grow" style="position:absolute;left: 166px;top: 144px;border: 20px solid #678B0B;border-radius: 50%;text-align:center;height: 210px;width: 210px;background: #678B0B;">
                <h2 style="font-size: 26px;margin-top: 46px;">Dhaka North</h2>
                <h3 style="font-size: 13px;margin-top: -1px;"><i class="fa fa-child"></i><i class="fa fa-child" style="padding-right:4px"></i>2,345,374 Voters</h3>
                <h4 style="font-size: 13px;margin-top: 0px;"><i class="fa fa-sitemap" style="padding-right:6px;font-size: 14px;"></i>36 Wards</h4>
              </span>
            </div>
          </a>
        </div>
        <div class="col-md-4" style="background:#23527c;">
          <a ui-sref="observation_results" class="ng-binding" href="#/observation-results" style="width:550px;margin-left:auto;margin-right:auto;display:block;">
            <div style="overflow: hidden;background: #23527c;color:white;position:relative;height: 448px;width: 550px;">
              <img class="img-responsive" style="height:48px;position:absolute;left: 280px;top: 42px;" src="/images/infographics/voter-inti.png">
              <h4 style="position:absolute;left: 270px;top: 93px;font-size: 11px;">Intimidation of Voters</h4>
              <hr style="position:absolute;top: 95px;left: 240px;width: 54px; border:0px;border-top: 3px solid white;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg)">
              <hr style="position:absolute;top: 68px;left: 266px;width: 100px; border:0px;border-top: 3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 364px;top: 72px;background:#162635;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin: 0;padding: 0;">33</h6>
              </span>
              <img class="img-responsive" style="height: 60px;position:absolute;left: 78px;top: 124px;" src="/images/infographics/magistrate.png">
              <h4 style="position:absolute;left: 76px;top: 181px;font-size:11px;">Violation Of<br>
                Campaign Law
              </h4>
              <hr style="position:absolute;top: 170px;left: 149px;width: 32px; border:0px;border-top:3px solid white;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg);">
              <hr style="position:absolute;top: 164px;left: 68px;width: 83px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 29px;top: 169px;background:#162635;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;font-size: 16px;margin:0;padding-left:4px;padding-right:4px;">5</h6>
              </span>
              <img class="img-responsive" style="height: 48px;position:absolute;left: 62px;top: 238px;" src="/images/infographics/arrest.png">
              <h4 style="position:absolute;left: 52px;top: 284px;font-size:11px;">Arrests within station</h4>
              <hr style="position:absolute;top: 260px;left: 137px;width: 34px; border:0px;border-top:3px solid white;-webkit-transform: rotate(160deg);-ms-transform: rotate(160deg);transform: rotate(160deg);">
              <hr style="position:absolute;top: 266px;left: 43px;width: 95px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 7px;top: 270px;background:#162635;border-radius: 100%;/* padding: 91px; */padding-left: 14px;padding-bottom: 11px;padding-right: 14px;padding-top: 11px;">
                <h6 style="font-family: monospace;/* padding-left: 26px; *//* padding-bottom: 74px; */font-size: 16px;margin:0;padding:0;">2</h6>
              </span>
              <img class="img-responsive" style="height: 48px;position:absolute;left: 112px;top: 326px;" src="/images/infographics/kicked.png">
              <h4 style="position:absolute;left: 92px;top: 368px;font-size:11px;">Polling agents removed<br> from polling station</h4>
              <hr style="position:absolute;top: 333px;left: 168px;width: 52px; border:0px;border-top:3px solid white;-webkit-transform: rotate(128deg);-ms-transform: rotate(128deg);transform: rotate(128deg);">
              <hr style="position:absolute;top: 353px;left: 81px;width: 98px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 46px;top: 358px;background:#162635;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">31</h6>
              </span>
              <img class="img-responsive" style="height: 44px;position:absolute;left: 370px;top: 333px;" src="/images/infographics/locked.png">
              <h4 style="position:absolute;left: 298px;top: 376px;font-size:11px;">Polling station declared closed</h4>
              <hr style="position:absolute;top: 339px;left: 312px;width: 52px; border:0px;border-top:3px solid white;-webkit-transform: rotate(241deg);-ms-transform: rotate(241deg);transform: rotate(241deg);">
              <hr style="position:absolute;top: 361px;left: 349px;width: 98px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 448px;top: 364px;background:#162635;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">31</h6>
              </span>
              <img class="img-responsive" style="height: 54px;position:absolute;left: 400px;top: 234px;" src="/images/infographics/violent.png">
              <h4 style="position:absolute;left: 397px;top: 282px;font-size:11px;">Violent Incident</h4>
              <hr style="position:absolute;top: 260px;left: 371px;width: 34px; border:0px;border-top:3px solid white;-webkit-transform: rotate(204deg);-ms-transform: rotate(204deg);transform: rotate(204deg);">
              <hr style="position:absolute;top: 267px;left: 402px;width: 95px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 482px;top: 270px;background:#162635;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left:6px;padding-bottom:2px;font-size: 16px;margin:0;padding:0;">72</h6>
              </span>
              <img class="img-responsive" style="height: 41px;position:absolute;left: 424px;top: 132px;" src="/images/infographics/voted.png">
              <h4 style="position:absolute;left: 378px;top: 173px;font-size:11px;">Incidence of ballot stuffing</h4>
              <hr style="position:absolute;top: 162px;left: 357px;width: 32px; border:0px;border-top:3px solid white;-webkit-transform: rotate(-37deg);-ms-transform: rotate(-37deg);transform: rotate(-37deg);">
              <hr style="position:absolute;top: 153px;left: 385px;width: 120px; border:0px;border-top:3px solid white;">
              <span class="hvr-grow" style="position:absolute;left: 504px;top: 156px;background:#162635;border-radius: 100%;padding: 10px;">
                <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 16px;margin:0;padding:0;">37</h6>
              </span>
              <span class="hvr-grow" style="position:absolute;left: 166px;top: 144px;border: 20px solid #162635;border-radius: 50%;text-align:center;height: 210px;width: 210px;background: #162635;">
                <h2 style="font-size: 26px;margin-top: 46px;">Chittagong</h2>
                <h3 style="font-size: 13px;margin-top: -1px;"><i class="fa fa-child"></i><i class="fa fa-child" style="padding-right:4px"></i>1,813,449 Voters</h3>
                <h4 style="font-size: 13px;margin-top: 0px;"><i class="fa fa-sitemap" style="padding-right:6px;font-size: 14px;"></i>41 Wards</h4>
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="small_incident">
        <div class="col-md-4">
          <div style="background: #31353b;">
            <a ui-sref="observation_results" class="ng-binding" href="#/observation-results">
              <div style="overflow: hidden;color:white;position:relative;height: 250px;width: 320px;;margin: 0 auto;">
                <img class="img-responsive" style="height:27px;position:absolute;left: 156px;top: 23px;" src="/images/infographics/voter-inti.png">
                <h4 style="position:absolute;left: 151px;top: 52px;font-size: 9px;">Intimidation of Voters</h4>
                <hr style="position:absolute;top: 48px;left: 130px;width: 28px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)">
                <hr style="position:absolute;top: 35px;left: 143px;width: 90px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 229px;top: 43px;background:#222;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin: 0;padding: 0;">33</h6>
                </span>
                <img class="img-responsive" style="height: 34px;position:absolute;left: 60px;top: 41px;" src="/images/infographics/magistrate.png">
                <h4 style="position:absolute;left: 41px;top: 75px;font-size: 9px;">Violation Of<br>
                  Campaign Law
                </h4>
                <hr style="position:absolute;top: 63px;left: 94px;width: 29px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg);">
                <hr style="position:absolute;top: 58px;left: 31px;width: 65px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 10px;top: 67px;background:#222;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">20</h6>
                </span>
                <img class="img-responsive" style="height: 26px;position:absolute;left: 38px;top: 119px;" src="/images/infographics/arrest.png">
                <h4 style="position:absolute;left: 27px;top: 140px;font-size:10px;">Arrests within <br> station</h4>
                <hr style="position:absolute;top: 125px;left: 15px;width: 61px; border:0px;border-top: 2px solid white;">
                <hr style="position:absolute;top: 121px;left: 75px;width: 17px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(151deg);-ms-transform: rotate(151deg);transform: rotate(151deg);">
                <span class="hvr-grow" style="position:absolute;left: 5px;top: 132px;background:#222;border-radius: 100%;padding: 7px 9px;">
                  <h6 style="font-family: monospace;font-size: 10px;margin:0;padding:0;">2</h6>
                </span>
                <img class="img-responsive" style="height: 26px;position:absolute;left: 43px;top: 177px;" src="/images/infographics/kicked.png">
                <h4 style="position:absolute;left: 36px;top: 198px;font-size:11px;">Polling agents removed<br> from polling station</h4>
                <hr style="position:absolute;top: 174px;left: 87px;width: 28px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(143deg);-ms-transform: rotate(143deg);transform: rotate(143deg);">
                <hr style="position:absolute;top: 182px;left: 35px;width: 55px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 12px;top: 191px;background:#222;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">24</h6>
                </span>
                <img class="img-responsive" style="height: 26px;position:absolute;left: 195px;top: 187px;" src="/images/infographics/locked.png">
                <h4 style="position:absolute;left: 194px;top: 212px;font-size:11px;">Polling station <br>declared closed</h4>
                <hr style="position:absolute;top: 184px;left: 174px;width: 28px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(241deg);-ms-transform: rotate(241deg);transform: rotate(241deg);">
                <hr style="position:absolute;top: 196px;left: 194px;width: 70px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 260px;top: 204px;background:#222;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">21</h6>
                </span>
                <img class="img-responsive" style="height: 30px;position:absolute;left: 227px;top: 138px;" src="/images/infographics/violent.png">
                <h4 style="position:absolute;left: 228px;top: 170px;font-size: 10px;">Violent Incident</h4>
                <hr style="position:absolute;top: 149px;left: 227px;width: 63px; border:0px;border-top: 2px solid white;">
                <hr style="position:absolute;top: 146px;left: 211px;width: 18px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg);">
                <span class="hvr-grow" style="position:absolute;left: 288px;top: 158px;background:#222;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left:6px;padding-bottom:2px;font-size: 11px;margin:0;padding:0;">66</h6>
                </span>
                <img class="img-responsive" style="height: 22px;position:absolute;left: 224px;top: 75px;" src="/images/infographics/voted.png">
                <h4 style="position:absolute;left: 220px;top: 100px;font-size:11px;">Incidence of <br>ballot stuffing</h4>
                <hr style="position:absolute;top: 82px;left: 214px;width: 70px; border:0px;border-top: 2px solid white;">
                <hr style="position:absolute;top: 86px;left: 198px;width: 18px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(152deg);-ms-transform: rotate(152deg);transform: rotate(152deg);">
                <span class="hvr-grow" style="position:absolute;left: 280px;top: 89px;background:#222;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">55</h6>
                </span>
                <span class="hvr-grow" style="position:absolute;left: 90px;top: 80px;border: 10px solid #222;border-radius: 50%;text-align:center;height: 125px;width: 125px;background: #222;">
                  <h2 style="font-size: 13px;margin-top: 24px;">Dhaka South</h2>
                  <h3 style="font-size: 9px;margin-top: -1px;"><i class="fa fa-child"></i><i class="fa fa-child" style="padding-right:4px"></i>1,870,363 Voters</h3>
                  <h4 style="font-size: 9px;margin-top: 0px;"><i class="fa fa-sitemap" style="padding-right:6px;font-size: 14px;"></i>57 Wards</h4>
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div style="background: #99bf38;">
            <a ui-sref="observation_results" class="ng-binding" href="#/observation-results">
              <div style="overflow: hidden;color:white;position:relative;height: 250px;width: 320px;;margin: 0 auto;">
                <img class="img-responsive" style="height:27px;position:absolute;left: 156px;top: 23px;" src="/images/infographics/voter-inti.png">
                <h4 style="position:absolute;left: 151px;top: 52px;font-size: 9px;">Intimidation of Voters</h4>
                <hr style="position:absolute;top: 48px;left: 130px;width: 28px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg)">
                <hr style="position:absolute;top: 35px;left: 143px;width: 90px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 229px;top: 43px;background:#678B0B;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin: 0;padding: 0;">39</h6>
                </span>
                <img class="img-responsive" style="height: 34px;position:absolute;left: 60px;top: 41px;" src="/images/infographics/magistrate.png">
                <h4 style="position:absolute;left: 41px;top: 75px;font-size: 9px;">Violation Of<br>
                  Campaign Law
                </h4>
                <hr style="position:absolute;top: 63px;left: 94px;width: 29px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg);">
                <hr style="position:absolute;top: 58px;left: 31px;width: 65px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 10px;top: 67px;background:#678B0B;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">25</h6>
                </span>
                <img class="img-responsive" style="height: 26px;position:absolute;left: 38px;top: 119px;" src="/images/infographics/arrest.png">
                <h4 style="position:absolute;left: 27px;top: 140px;font-size:10px;">Arrests within <br> station</h4>
                <hr style="position:absolute;top: 125px;left: 15px;width: 61px; border:0px;border-top: 2px solid white;">
                <hr style="position:absolute;top: 121px;left: 75px;width: 17px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(151deg);-ms-transform: rotate(151deg);transform: rotate(151deg);">
                <span class="hvr-grow" style="position:absolute;left: 5px;top: 132px;background:#678B0B;border-radius: 100%;padding: 7px 9px;">
                  <h6 style="font-family: monospace;font-size: 10px;margin:0;padding:0;">2</h6>
                </span>
                <img class="img-responsive" style="height: 26px;position:absolute;left: 43px;top: 177px;" src="/images/infographics/kicked.png">
                <h4 style="position:absolute;left: 36px;top: 198px;font-size:11px;">Polling agents removed<br> from polling station</h4>
                <hr style="position:absolute;top: 174px;left: 87px;width: 28px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(143deg);-ms-transform: rotate(143deg);transform: rotate(143deg);">
                <hr style="position:absolute;top: 182px;left: 35px;width: 55px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 12px;top: 191px;background:#678B0B;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">19</h6>
                </span>
                <img class="img-responsive" style="height: 26px;position:absolute;left: 195px;top: 187px;" src="/images/infographics/locked.png">
                <h4 style="position:absolute;left: 194px;top: 212px;font-size:11px;">Polling station <br>declared closed</h4>
                <hr style="position:absolute;top: 184px;left: 174px;width: 28px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(241deg);-ms-transform: rotate(241deg);transform: rotate(241deg);">
                <hr style="position:absolute;top: 196px;left: 194px;width: 70px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 260px;top: 204px;background:#678B0B;border-radius: 100%;padding: 7px 9px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">6</h6>
                </span>
                <img class="img-responsive" style="height: 30px;position:absolute;left: 227px;top: 138px;" src="/images/infographics/violent.png">
                <h4 style="position:absolute;left: 228px;top: 170px;font-size: 10px;">Violent Incident</h4>
                <hr style="position:absolute;top: 149px;left: 227px;width: 63px; border:0px;border-top: 2px solid white;">
                <hr style="position:absolute;top: 146px;left: 211px;width: 18px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg);">
                <span class="hvr-grow" style="position:absolute;left: 288px;top: 158px;background:#678B0B;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left:6px;padding-bottom:2px;font-size: 11px;margin:0;padding:0;">26</h6>
                </span>
                <img class="img-responsive" style="height: 22px;position:absolute;left: 224px;top: 75px;" src="/images/infographics/voted.png">
                <h4 style="position:absolute;left: 220px;top: 100px;font-size:11px;">Incidence of <br>ballot stuffing</h4>
                <hr style="position:absolute;top: 82px;left: 214px;width: 70px; border:0px;border-top: 2px solid white;">
                <hr style="position:absolute;top: 86px;left: 198px;width: 18px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(152deg);-ms-transform: rotate(152deg);transform: rotate(152deg);">
                <span class="hvr-grow" style="position:absolute;left: 280px;top: 89px;background:#678B0B;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">46</h6>
                </span>
                <span class="hvr-grow" style="position:absolute;left: 90px;top: 80px;border: 10px solid #678B0B;border-radius: 50%;text-align:center;height: 125px;width: 125px;background: #678B0B;">
                  <h2 style="font-size: 13px;margin-top: 24px;">Dhaka North</h2>
                  <h3 style="font-size: 9px;margin-top: -1px;"><i class="fa fa-child"></i><i class="fa fa-child" style="padding-right:4px"></i>2,345,374 Voters</h3>
                  <h4 style="font-size: 9px;margin-top: 0px;"><i class="fa fa-sitemap" style="padding-right:6px;font-size: 14px;"></i>36 Wards</h4>
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div style="background: #23527c;">
            <a ui-sref="observation_results" class="ng-binding" href="#/observation-results">
              <div style="overflow: hidden;color:white;position:relative;height: 250px;width: 320px;;margin: 0 auto;">
                <img class="img-responsive" style="height:27px;position:absolute;left: 156px;top: 23px;" src="/images/infographics/voter-inti.png">
                <h4 style="position:absolute;left: 151px;top: 52px;font-size: 9px;">Intimidation of Voters</h4>
                <hr style="position:absolute;top: 48px;left: 130px;width: 28px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);">
                <hr style="position:absolute;top: 35px;left: 143px;width: 90px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 229px;top: 43px;background:#162635;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin: 0;padding: 0;">30</h6>
                </span>
                <img class="img-responsive" style="height: 34px;position:absolute;left: 60px;top: 41px;" src="/images/infographics/magistrate.png">
                <h4 style="position:absolute;left: 41px;top: 75px;font-size: 9px;">Violation Of<br>
                  Campaign Law
                </h4>
                <hr style="position:absolute;top: 63px;left: 94px;width: 29px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg);">
                <hr style="position:absolute;top: 58px;left: 31px;width: 65px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 10px;top: 67px;background:#162635;border-radius: 100%;padding: 7px 9px;">
                  <h6 style="font-family: monospace;padding-left: 7px 9px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">5</h6>
                </span>
                <img class="img-responsive" style="height: 26px;position:absolute;left: 38px;top: 119px;" src="/images/infographics/arrest.png">
                <h4 style="position:absolute;left: 27px;top: 140px;font-size:10px;">Arrests within <br> station</h4>
                <hr style="position:absolute;top: 125px;left: 15px;width: 61px; border:0px;border-top: 2px solid white;">
                <hr style="position:absolute;top: 121px;left: 75px;width: 17px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(151deg);-ms-transform: rotate(151deg);transform: rotate(151deg);">
                <span class="hvr-grow" style="position:absolute;left: 5px;top: 132px;background:#162635;border-radius: 100%;padding: 7px 9px;">
                  <h6 style="font-family: monospace;font-size: 10px;margin:0;padding:0;">2</h6>
                </span>
                <img class="img-responsive" style="height: 26px;position:absolute;left: 43px;top: 177px;" src="/images/infographics/kicked.png">
                <h4 style="position:absolute;left: 36px;top: 198px;font-size:11px;">Polling agents removed<br> from polling station</h4>
                <hr style="position:absolute;top: 174px;left: 87px;width: 28px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(143deg);-ms-transform: rotate(143deg);transform: rotate(143deg);">
                <hr style="position:absolute;top: 182px;left: 35px;width: 55px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 12px;top: 191px;background:#162635;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">31</h6>
                </span>
                <img class="img-responsive" style="height: 26px;position:absolute;left: 195px;top: 187px;" src="/images/infographics/locked.png">
                <h4 style="position:absolute;left: 194px;top: 212px;font-size:11px;">Polling station <br>declared closed</h4>
                <hr style="position:absolute;top: 184px;left: 174px;width: 28px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(241deg);-ms-transform: rotate(241deg);transform: rotate(241deg);">
                <hr style="position:absolute;top: 196px;left: 194px;width: 70px; border:0px;border-top: 2px solid white;">
                <span class="hvr-grow" style="position:absolute;left: 260px;top: 204px;background:#162635;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">31</h6>
                </span>
                <img class="img-responsive" style="height: 30px;position:absolute;left: 227px;top: 138px;" src="/images/infographics/violent.png">
                <h4 style="position:absolute;left: 228px;top: 170px;font-size: 10px;">Violent Incident</h4>
                <hr style="position:absolute;top: 149px;left: 227px;width: 63px; border:0px;border-top: 2px solid white;">
                <hr style="position:absolute;top: 146px;left: 211px;width: 18px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg);">
                <span class="hvr-grow" style="position:absolute;left: 288px;top: 158px;background:#162635;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left:6px;padding-bottom:2px;font-size: 11px;margin:0;padding:0;">72</h6>
                </span>
                <img class="img-responsive" style="height: 22px;position:absolute;left: 224px;top: 75px;" src="/images/infographics/voted.png">
                <h4 style="position:absolute;left: 220px;top: 100px;font-size:11px;">Incidence of <br>ballot stuffing</h4>
                <hr style="position:absolute;top: 82px;left: 214px;width: 70px; border:0px;border-top: 2px solid white;">
                <hr style="position:absolute;top: 86px;left: 198px;width: 18px; border:0px;border-top: 2px solid white;-webkit-transform: rotate(152deg);-ms-transform: rotate(152deg);transform: rotate(152deg);">
                <span class="hvr-grow" style="position:absolute;left: 280px;top: 89px;background:#162635;border-radius: 100%;padding: 6px;">
                  <h6 style="font-family: monospace;padding-left: 6px;padding-bottom: 2px;font-size: 10px;margin:0;padding:0;">37</h6>
                </span>
                <span class="hvr-grow" style="position:absolute;left: 90px;top: 80px;border: 10px solid #162635;border-radius: 50%;text-align:center;height: 125px;width: 125px;background: #162635;">
                  <h2 style="font-size: 13px;margin-top: 24px;">Chittagong</h2>
                  <h3 style="font-size: 9px;margin-top: -1px;"><i class="fa fa-child"></i><i class="fa fa-child" style="padding-right:4px"></i>1,1813,449 Voters</h3>
                  <h4 style="font-size: 9px;margin-top: 0px;"><i class="fa fa-sitemap" style="padding-right:6px;font-size: 14px;"></i>41 Wards</h4>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  <div id="candidates_section" class="content">
  <div class="">
    <div class="content_header">
      <a ui-sref="view_candidate" style="text-decoration: none;" >
        <h1 translate="MAYORAL_CANDIDATES">Mayoral Candidates</h1>
      </a>
      <h4 translate="MAYORAL_CANDIDATES_SUB">The majority of information below (including all ‘Financial’ and ‘Probable Funding Source’ data) has been directly transposed from submitted nomination papers provided by the candidates themselves.</h4>
    </div>
    <div class="row-fluid" style="">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <ul id="myTab" class="" role="tablist">
          <li class=" tabheader active  " id = "tab_button_ctg"  ><a class="" href="" ng-click='changeTab("south");' role="tab" data-toggle="tab"><span class="visible-xs">{{'DSCC'|translate}}</span><span class="hidden-xs">{{'Dhaka South'|translate}} <span class="hidden-sm hidden-md"> {{'City Corporation'|translate}}</span></span></a></li>
          <li class=" tabheader" id = "tab_button_north"   ><a class="" href="" ng-click='changeTab("north");' role="tab" data-toggle="tab"><span class="visible-xs">{{'DNCC'|translate}}</span><span class="hidden-xs">{{'Dhaka North'|translate}}  <span class="hidden-sm hidden-md">{{'City Corporation'|translate}}</span></span></a> </li>
          <li class="tabheader"  id = "tab_button_south" ><a class="" href="" ng-click='changeTab("chittagong");' role="tab" data-toggle="tab"><span class="visible-xs">{{'CCC'|translate}}</span><span class="hidden-xs">{{'Chittagong'|translate}}  <span class="hidden-sm hidden-md">{{'City Corporation'|translate}}</span></span></a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div id="south" class="tab-pane active">
            <div class="row">
              <ul class="candidate_list">
                <li class="col-xs-12 col-sm-4 col-md-2 col-lg-2"  ng-repeat="cc in dscc_candidates">
                  <div class="candi_block">
                    <a ui-sref="view_candidate.profile( {slug: cc.id})">
                    <img class="candi_image img-responsive"   ng-src="/images/candidate_image/{{cc.image}}"/>
                    </a>
                    <h3 class="candi_name"> {{cc.name}}</h3>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div id="north" class="tab-pane">
            <div class="row">
              <ul class="candidate_list">
                <li class="col-xs-12 col-sm-4 col-md-2 col-lg-2"  ng-repeat="cc in dncc_candidates">
                  <div class="candi_block">
                    <a ui-sref="view_candidate.profile( {slug: cc.id})">
                    <img class="candi_image img-responsive"  ng-src="/images/candidate_image/{{cc.image}}"/>
                    </a>
                    <h3 class="candi_name"> {{cc.name}}</h3>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane" id="chittagong">
            <div class="row">
              <ul class="candidate_list">
                <li class="col-xs-12 col-sm-4 col-md-2 col-lg-2"  ng-repeat="cc in ccc_candidates">
                  <div class="candi_block">
                    <a ui-sref="view_candidate.profile( {slug: cc.id})">
                    <img class="candi_image img-responsive"  ng-src="/images/candidate_image/{{cc.image}}"/>
                    </a>
                    <h3 class="candi_name"> {{cc.name}}</h3>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<div  class="content parallax-window"    data-parallax="scroll" data-image-src="/images/mapbg.jpg" id="map_container">
  <div class="content_header">
    <br/>    <br/>
    <h1 id="map_container_h1" translate="MENU_MAP">MAPS</h1>
    <!-- <h4>MATS</h4> -->
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="map_block_first" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;" class="map_block  col-md-4 col-lg-4 col-sm-12 col-xs-12 wow fadeIn animated " data-wow-delay="0.4s">
            <a ui-sref='map.dscc.map' >
              <h4 translate="Dhaka South">Dhaka South</h4>
            </a>
            <a ui-sref='map.dscc.map' ><img class="img-responsive hvr-grow" src="/images/dscc-map.png"/></a>
          </div>
          <div id="map_block_second" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;" class="map_block col-md-4 col-lg-4 col-sm-12 col-xs-12 wow fadeIn animated" data-wow-delay="0.3s ">
            <a ui-sref='map.dncc.map' >
              <h4 translate="Dhaka North">Dhaka North</h4>
            </a>
            <a ui-sref='map.dncc.map' ><img class="img-responsive  hvr-grow" src="/images/dncc-map.png"/></a>
          </div>
          <div id="map_block_third" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;" class="map_block col-md-4 col-lg-4 col-sm-12 col-xs-12 wow fadeIn animated" data-wow-delay="0.5s">
            <a ui-sref='map.ccc.map' >
              <h4 translate="Chittagong"> Chittagong</h4>
            </a>
            <a ui-sref='map.ccc.map' ><img class="img-responsive  hvr-grow" src="/images/ctg-map.png"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content block-2 bg-1">
  <div class="content_header">
    <h1 style="color:#333333;" translate="Get Involved">Get Involved</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft; " class="well box box-2 wow fadeInLeft animated" data-wow-delay="0.3s ">
          <div class="badge"><i class="fa fa-camera"></i></div>
          <h4 translate="MENU_REPORT_MALPRACTICE">Report malpractices</h4>
          <p translate="REPORT_MALPRACTICE_SUB">According to the electoral code of conduct, the aspiring candidates cannot campaign outside of the official campaign period, which begins 21 days prior to the polling day. EWG will be monitoring any violations of these requirements. To contribute to this important work, please send your photos of campaign materials that have been posted or distributed prior to the start of the official campaign period.</p>
          <span><a class="btn btn-success  my-btn-green" ui-sref='malpractice' target="" translate="Report!">Report!</a></span>
        </div>
        <div style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;min-height:189px "   class="well box box-2 wow fadeInLeft animated" data-wow-delay="0.4s">
          <div class="badge"><i class="fa fa-envelope"></i></div>
          <h4 translate="Subscribe to our newsletter">Subscribe to our newsletter</h4>
          <form class="form-inline">
            <input style="max-width:260px;" type="text" ng-model="subscriberEmail" class="form-control" placeholder="{{'Enter Email Address'|translate}}"/>
            <button type="button" class="btn btn-success  my-btn-green" ng-click="addSubscriber()" translate="Subscribe!">Subscribe!</button>
            <label>{{subscribedMessage}}</label>
          </form>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5" >
        <div class="row">
          <div style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;" class="well box box-2 wow fadeInRight animated" data-wow-delay="0.4s">
            <div class="row-fluid" style="padding-bottom:60px;">
              <div class="badge"><i class="fa fa-file-text"></i></div>
              <h4 translate="News Feed">News Feed</h4>
            </div>
            <div class="row" style="height: 300px; overflow-y: scroll; padding: 0 15px;">
              <ul class="list-group">
                <li class="list-group-item" ng:repeat="(id, i) in data | orderBy:'date':'desc'">
                  <a href="{{i.link}}" target="_blank">{{i.title}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .home_boxes:hover{
  opacity:0.8;
  }
</style>
