
<div>

    <img style="position:absolute;height:100%;width:100%" src="/images/slides/election_visualization_bg.jpg"/>
    <div class="container" style="padding-top:60px">
        <div class="col-md-12" style="text-align: center">
          <h3 style="color: white;
text-shadow: 1px 1px 1px black;
<<<<<<< HEAD
font-size: 56px;
font-family: Helvetica Neue,sans-serif;
=======
font-size: 98px;
font-family:sans-serif;
>>>>>>> 7a55766c9ee9648554842d5a78daa8814f04c4ea
font-weight: 100;
letter-spacing: 1px;margin-top: 50px;margin-bottom: 50px" translate="MENU_INCIDENT_REPORTS">Incident Reports</h3>

        </div>

    </div>


</div>


<div id="elections_section" style="min-height:100vh; margin-top:-60px">
<div class="inner_menu">&nbsp;</div>
<br/><br/><br/>
<div class="container-fluid" style="padding: 0 30px;" class="article_container">
<div class="row">
<div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >
<tabset justified="true" class="my-tabset" >
<tab select="go('incident_reports.dsccpolling')">
  <tab-heading>
    <h4 ><span class="hidden-xs hidden-sm">{{'Dhaka South'|translate}}</span>
      <span class="hidden-sm hidden-md hidden-xs"> {{'City Corporation'|translate}}</span>
      <span class="hidden-lg hidden-md">{{'DSCC'|translate}}</span>
      </h4>
  </tab-heading>
</tab>
<tab select="go('incident_reports.dnccpolling')">
  <tab-heading>
    <h4 ><span class="hidden-xs hidden-sm">{{'Dhaka North'|translate}}</span>
      <span class="hidden-sm hidden-md hidden-xs"> {{'City Corporation'|translate}}</span>
      <span class="hidden-lg hidden-md">{{'DNCC'|translate}}</span>
      </h4>
  </tab-heading>
</tab>
<tab select="go('incident_reports.cccpolling')">
  <tab-heading>
    <h4 ><span class="hidden-xs hidden-sm">{{'Cittagong'|translate}}</span>
      <span class="hidden-sm hidden-md hidden-xs"> {{'City Corporation'|translate}}</span>
      <span class="hidden-lg hidden-md">{{'Chittagong'|translate}}</span>
      </h4>
  </tab-heading>
</tab>
</tabset>



<div class="row-fluid tabset-view" ui-view id="">
</div>





</div>
</div>
</div>
</div>


<style>
li:active{border:none}
li.active a h4{color:white}
li.active a{
 background:url('/images/transpBlack75.png');
 color:black;
 border-size:0px;
}
a{border:none}
.nav-tabs > li > a{
    border-radius: 0px;
}
.nav-tabs.nav-justified > li > a{
    border-radius: 0px;
    border:solid 0px white;
    color:white;
}
.nav-tabs.nav-justified > li > a:hover{
    color:white;
    background:#ccc;
}
</style>
