<div id="candidates_section"><div class="inner_menu">&nbsp;</div>
<br/>
<br/>
<br/>

<div class="container">
    <div class="well cream_background">
        <h1><i style="color:black" class="fa fa-warning"></i> {{'MENU_REPORT_MALPRACTICE'|translate}}</h1></div>
    <div class="well cream_background">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-4" for="image">
                {{'Please upload your picture here'|translate}}:
                </label><div class="col-sm-8">
                <div class="btn btn-info" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">{{'Click here to upload'|translate}}</div><div id="profile-img-cont" class="profile-img-cont">
                    <img id="profile-img" class="img-responsive" src="{{fileImage}}" style= "height:150px">
                </div>

            </div>




            <div class="form-group">
                <label class="control-label col-sm-4" for="where_picture_taken" >{{'Where was the picture taken'|translate}}?</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="Malpractice.where_picture_taken" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="when_picture_taken">{{'Date and time when the picture was taken'|translate}}?</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="Malpractice.when_picture_taken" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="details">{{'Any other details'|translate}}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="Malpractice.details" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="name">{{'Your Name'|translate}}:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="Malpractice.name" placeholder="{{'Enter Full Name'|translate}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="phone"> {{'Your Phone'|translate}}:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="Malpractice.phone" placeholder="{{'Enter Phone Number'|translate}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">{{'Your Email'|translate}}:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="Malpractice.email" placeholder="{{'Enter Email Address'|translate}}">
                </div>
            </div>





            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" class="btn btn-success  my-btn-green" ng-click="addMalpractice()">{{'Submit'|translate}}</button>
                    <div>
                    <h4>{{'You can also e-mail us the picture at'|translate}} <a href="mailto:info@ewgbg.org" target="_top">info@ewgbg.org</a> {{'by including the above mentioned information'|translate}}</h5></div></div>
                </div>
            </div>
        </form>
    </div>
  </div></div>
