<div class="inner_menu">&nbsp;</div>

<br/><br/><br/>
	<div  class="content parallax-window"    data-parallax="scroll" data-image-src="/images/mapbg.jpg" id="map_container">
    <div class="content_header">        <h1 id="map_container_h1">MAPS</h1>
        <!-- <h4>MATS</h4> -->
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="map_block_first" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;" class="map_block  col-md-4 col-lg-4 col-sm-12 col-xs-12 wow fadeIn animated hvr-grow" data-wow-delay="0.4s">
                       <a ui-sref='map.dscc.map' > <h4>Dhaka South</h4></a>

                        <a ui-sref='map.dscc.map' ><img class="img-responsive" src="/images/dscc-map.png"/></a>
                    </div>
                    <div id="map_block_second" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;" class="map_block col-md-4 col-lg-4 col-sm-12 col-xs-12 wow fadeIn animated  hvr-grow" data-wow-delay="0.3s ">
                        <a ui-sref='map.dncc.map' ><h4>Dhaka North</h4></a>

                        <a ui-sref='map.dncc.map' ><img class="img-responsive" src="/images/dncc-map.png"/></a>

                    </div>
                    <div id="map_block_third" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;" class="map_block col-md-4 col-lg-4 col-sm-12 col-xs-12 wow fadeIn animated hvr-grow" data-wow-delay="0.5s">
                         <a ui-sref='map.ccc.map' ><h4> Chittagong</h4></a>
                        <a ui-sref='map.ccc.map' ><img class="img-responsive" src="/images/ctg-map.png"/></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
