
<div ng-controller="NavController">
<nav id="main_navbar" class="mobile_menu hidden-lg hidden-sm hidden-md visible-xs  animated slideInDown navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" ui-sref="home">
        <img style="height: 45px; float: left; padding-right: 10px;margin-top: -11px;" src="/images/whitelogo-notext.png"/>
     <!-- <i id="top" class="fa fa-home"></i> <span id="logo_name"> Election Working Group -->

        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li  dropdown is-open="status[7].isopen" ng-class="{'menu_active': status[7].isopen, '': !status[7].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-street-view"></i> {{'MENU_CANDIDATES'|translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">

            <li><a  ui-sref="view_candidate"><i class="fa fa-street-view"></i> {{'MENU_MAYORAL_CANDIDATES' |translate}}</a></li>
            <li class="divider"></li>
            <li><a  ui-sref="councilor"><i class="fa fa-street-view"></i> {{'MENU_COUNCILOR_CANDIDATES' | translate}} </a></li>
          </ul>
        </li>

        <li  dropdown is-open="status[10].isopen" ng-class="{'menu_active': status[10].isopen, '': !status[10].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-sitemap"></i> {{'MENU_ELECTION_RELATED' | translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">
            <li><a ui-sref="election_results"><i class="fa fa-puzzle-piece"></i> {{'MENU_ELECTION_RESULTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="observation_results"><i class="fa fa-share-alt"></i> {{'MENU_OBSERVATION_RESULTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="incident_reports"><i class="fa fa-bullhorn"></i> {{'MENU_INCIDENT_REPORTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="election_obserber"><i class="fa fa-binoculars"></i> {{'MENU_ELECTION_OBSERVERS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="about_citycorp"><i class="fa fa-info-circle"></i> {{'MENU_ABOUT_ELECTIONS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="dhakathon"><i class="fa fa-mobile-phone"></i> {{'MENU_DHAKATHON' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="electiontimeline"><i class="fa fa-line-chart"></i> {{'MENU_ELECTION_TIMELINE' | translate}}</a></li>


          </ul>
        </li>

        <li  dropdown is-open="status[8].isopen" ng-class="{'menu_active': status[8].isopen, '': !status[8].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-map-marker"></i> {{'MENU_MAP' | translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">

            <li><a ui-sref="map.dscc.map"><i class="fa fa-map-marker"></i> {{'DSCC'|translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="map.dncc.map"><i class="fa fa-map-marker"></i> {{'DNCC'|translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="map.ccc.map"><i class="fa fa-map-marker"></i> {{'CCC'|translate}}</a></li>
          </ul>
        </li>
        <li><a    ui-sref="malpractice"><i class="fa fa-warning"></i> {{'MENU_REPORT_MALPRACTICE' | translate}}</a></li>
        <li><button class="btn-language-bn"  ng-click="changeLanguage('bn_BN')" translate="BUTTON_LANG_BN"></button></li>
        <li><button class="btn-language-en" ng-click="changeLanguage('en_EN')" translate="BUTTON_LANG_EN" ></button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


 <nav id="main_navbar" class="large_menu visible-lg hidden-xs hidden-sm hidden-md   animated slideInDown navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <a class="navbar-brand" ui-sref="home">
        <img style="height: 45px; float: left; padding-right: 10px;margin-top: -11px;" src="/images/whitelogo-notext.png"/>
       <STRONG style="font-size:17px;"  translate="HEADLINE"  ></STRONG> <!-- <i id="top" class="fa fa-home"></i> <span id="logo_name"> Election Working Group -->
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div   >


      <ul class="nav navbar-nav navbar-right">
        <li  dropdown is-open="status[1].isopen" ng-class="{'menu_active': status[1].isopen, '': !status[1].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-street-view"></i> {{'MENU_CANDIDATES'|translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">

            <li><a  ui-sref="view_candidate"><i class="fa fa-street-view"></i> {{'MENU_MAYORAL_CANDIDATES' |translate}}</a></li>
            <li class="divider"></li>
            <li><a  ui-sref="councilor"><i class="fa fa-street-view"></i> {{'MENU_COUNCILOR_CANDIDATES' | translate}} </a></li>
          </ul>
        </li>



        <li  dropdown is-open="status[12].isopen" ng-class="{'menu_active': status[12].isopen, '': !status[12].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
           <i class="fa fa-sitemap"></i> {{'MENU_ELECTION_RELATED' | translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">
            <li><a ui-sref="election_results"><i class="fa fa-puzzle-piece"></i> {{'MENU_ELECTION_RESULTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="observation_results"><i class="fa fa-share-alt"></i> {{'MENU_OBSERVATION_RESULTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="incident_reports"><i class="fa fa-bullhorn"></i> {{'MENU_INCIDENT_REPORTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="election_obserber"><i class="fa fa-binoculars"></i> {{'MENU_ELECTION_OBSERVERS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="about_citycorp"><i class="fa fa-info-circle"></i> {{'MENU_ABOUT_ELECTIONS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="dhakathon"><i class="fa fa-mobile-phone"></i> {{'MENU_DHAKATHON' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="electiontimeline"><i class="fa fa-line-chart"></i> {{'MENU_ELECTION_TIMELINE' | translate}}</a></li>


           </ul>
        </li>

        <li  dropdown is-open="status[2].isopen" ng-class="{'menu_active': status[2].isopen, '': !status[2].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-map-marker"></i> {{'MENU_MAP' | translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">

            <li><a ui-sref="map.dscc.map"><i class="fa fa-map-marker"></i> {{'DSCC'|translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="map.dncc.map"><i class="fa fa-map-marker"></i> {{'DNCC'|translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="map.ccc.map"><i class="fa fa-map-marker"></i> {{'CCC'|translate}}</a></li>
          </ul>
        </li>
        <li><a    ui-sref="malpractice"><i class="fa fa-warning"></i> {{'MENU_REPORT_MALPRACTICE' | translate}}</a></li>
        <li><button class="btn-language-bn"  ng-click="changeLanguage('bn_BN')" translate="BUTTON_LANG_BN"></button></li>
        <li><button class="btn-language-en" ng-click="changeLanguage('en_EN')" translate="BUTTON_LANG_EN" ></button></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<nav id="main_navbar" class="visible-md large_menu hidden-sm hidden-xs animated slideInDown navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" ui-sref="home">
        <img style="height: 45px; float: left; padding-right: 10px;margin-top: -11px;" src="/images/whitelogo-notext.png"/>
       <STRONG style="font-size:17px;" translate="HEADLINE" ></STRONG> <!-- <i id="top" class="fa fa-home"></i> <span id="logo_name"> Election Working Group -->

        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li  dropdown is-open="status[3].isopen" ng-class="{'menu_active': status[3].isopen, '': !status[3].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-street-view"></i> {{'MENU_CANDIDATES'|translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">

            <li><a  ui-sref="view_candidate"><i class="fa fa-street-view"></i> {{'MENU_MAYORAL_CANDIDATES' |translate}}</a></li>
            <li class="divider"></li>
            <li><a  ui-sref="councilor"><i class="fa fa-street-view"></i> {{'MENU_COUNCILOR_CANDIDATES' | translate}} </a></li>
          </ul>
        </li>

        <li  dropdown is-open="status[11].isopen" ng-class="{'menu_active': status[11].isopen, '': !status[11].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-sitemap"></i>{{'MENU_ELECTION_RELATED' | translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">
            <li><a ui-sref="election_results"><i class="fa fa-puzzle-piece"></i> {{'MENU_ELECTION_RESULTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="observation_results"><i class="fa fa-share-alt"></i> {{'MENU_OBSERVATION_RESULTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="incident_reports"><i class="fa fa-bullhorn"></i> {{'MENU_INCIDENT_REPORTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="election_obserber"><i class="fa fa-binoculars"></i> {{'MENU_ELECTION_OBSERVERS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="about_citycorp"><i class="fa fa-info-circle"></i> {{'MENU_ABOUT_ELECTIONS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="dhakathon"><i class="fa fa-mobile-phone"></i> {{'MENU_DHAKATHON' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="electiontimeline"><i class="fa fa-line-chart"></i> {{'MENU_ELECTION_TIMELINE' | translate}}</a></li>


           </ul>
        </li>

        <li  dropdown is-open="status[4].isopen" ng-class="{'menu_active': status[4].isopen, '': !status[4].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-map-marker"></i> {{'MENU_MAP' | translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">

            <li><a ui-sref="map.dscc.map"><i class="fa fa-map-marker"></i> {{'DSCC'|translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="map.dncc.map"><i class="fa fa-map-marker"></i> {{'DNCC'|translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="map.ccc.map"><i class="fa fa-map-marker"></i> {{'CCC'|translate}}</a></li>
          </ul>
        </li>
        <li><a    ui-sref="malpractice"><i class="fa fa-warning"></i> {{'MENU_REPORT_MALPRACTICE' | translate}}</a></li>
        <li><button class="btn-language-bn"  ng-click="changeLanguage('bn_BN')" translate="BUTTON_LANG_BN"></button></li>
        <li><button class="btn-language-en" ng-click="changeLanguage('en_EN')" translate="BUTTON_LANG_EN" ></button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<nav  id="main_navbar" class="visible-sm mobile_menu animated slideInDown navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" ui-sref="home">
        <img style="height: 45px; float: left; padding-right: 10px;margin-top: -11px;" src="/images/whitelogo-notext.png"/>
  <!-- <i id="top" class="fa fa-home"></i> <span id="logo_name"> Election Working Group -->

        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li  dropdown is-open="status[5].isopen" ng-class="{'menu_active': status[5].isopen, '': !status[5].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-street-view"></i> {{'MENU_CANDIDATES'|translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">

            <li><a  ui-sref="view_candidate"><i class="fa fa-street-view"></i> {{'MENU_MAYORAL_CANDIDATES' |translate}}</a></li>
            <li class="divider"></li>
            <li><a  ui-sref="councilor"><i class="fa fa-street-view"></i> {{'MENU_COUNCILOR_CANDIDATES' | translate}} </a></li>
          </ul>
        </li>

        <li  dropdown is-open="status[13].isopen" ng-class="{'menu_active': status[13].isopen, '': !status[13].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
           <i class="fa fa-sitemap"></i> {{'MENU_ELECTION_RELATED' | translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">
            <li><a ui-sref="election_results"><i class="fa fa-puzzle-piece"></i> {{'MENU_ELECTION_RESULTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="observation_results"><i class="fa fa-share-alt"></i> {{'MENU_OBSERVATION_RESULTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="incident_reports"><i class="fa fa-bullhorn"></i> {{'MENU_INCIDENT_REPORTS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="election_obserber"><i class="fa fa-binoculars"></i> {{'MENU_ELECTION_OBSERVERS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="about_citycorp"><i class="fa fa-info-circle"></i> {{'MENU_ABOUT_ELECTIONS' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="dhakathon"><i class="fa fa-mobile-phone"></i> {{'MENU_DHAKATHON' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="electiontimeline"><i class="fa fa-line-chart"></i> {{'MENU_ELECTION_TIMELINE' | translate}}</a></li>


           </ul>
        </li>

        <li  dropdown is-open="status[6].isopen" ng-class="{'menu_active': status[6].isopen, '': !status[6].isopen}">
          <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
            <i class="fa fa-map-marker"></i> {{'MENU_MAP' | translate}}
          </a>
          <ul class="dropdown-menu" style="background-color: #0A0A0A; border-color: #0A0A0A"  role="menu">

            <li><a ui-sref="map.dscc.map"><i class="fa fa-map-marker"></i> {{'DSCC'|translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="map.dncc.map"><i class="fa fa-map-marker"></i> {{'DNCC'|translate}}</a></li>
            <li class="divider"></li>
            <li><a ui-sref="map.ccc.map"><i class="fa fa-map-marker"></i> {{'CCC'|translate}}</a></li>
          </ul>
        </li>
        <li><a    ui-sref="malpractice"><i class="fa fa-warning"></i> {{'MENU_REPORT_MALPRACTICE' | translate}}</a></li>
        <li><button class="btn-language-bn"  ng-click="changeLanguage('bn_BN')" translate="BUTTON_LANG_BN"></button></li>
        <li><button class="btn-language-en" ng-click="changeLanguage('en_EN')" translate="BUTTON_LANG_EN" ></button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</div>
