<div>

          <img style="position:absolute;height:100%;width:100%" src="/images/slides/election_visualization_bg.jpg"/>
          <div class="container" style="padding-top:60px">
            <div class="row">
              <div class="col-md-12" style="text-align: center">
                <h3 style="color: white;
  text-shadow: 1px 1px 1px black;
  font-family: Helvetica Neue,sans-serif;
  font-size: 56px;

  font-weight: 100;
  letter-spacing: 1px;" translate="EWG PRELIMINARY STATEMENT"></h3>




              </div>
            </div>
          </div>


      </div>


<div id="elections_section" style="min-height:100vh;">
  <div class="inner_menu">&nbsp;</div>
<br/><br/><br/>
<div class="container-fluid" style="padding: 0 30px;" class="article_container">
<div class="row">
  <div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >
    <tabset justified="true" class="my-tabset-head">
      <tab select="go('/ewg/ewg_english.pdf')">
        <tab-heading>
                   <!-- <span class="councilor-results"> <img src="/images/slides/vb-mayor.png" /></span> -->
                    <h4><i class="fa fa-file-pdf-o"></i> English</h4>
        </tab-heading>
      </tab>
      <tab select="go('/ewg/ewg_bangla.pdf')">
        <tab-heading>
                    <!-- <span class="councilor-results"> <img src="/images/slides/vb-councilor.png" /></span> -->
                    <h4><i class="fa fa-file-pdf-o"></i> Bangla</h4>
        </tab-heading>
      </tab>
    </tabset>
<div class="row-fluid tabset-view" ui-view id="">
  <embed ng-if="pdfname == '/ewg/ewg_english.pdf'" src="/ewg/ewg_english.pdf" style="width: 100%; height: 840px;"></embed>
  <embed ng-if="pdfname == '/ewg/ewg_bangla.pdf'" src="/ewg/ewg_bangla.pdf" style="width: 100%; height: 840px;"></embed>

</div>





</div>
</div>
</div>
</div>


<style>
li:active{border:none}
li.active a h4{color:white}
li.active a{
 background:url('/images/transpBlack75.png');
 color:black;
 border-size:0px;
}
a{border:none}
.nav-tabs > li > a{
    border-radius: 0px;
}
.nav-tabs.nav-justified > li > a{
    border-radius: 0px;
    border:solid 0px white;
    color:white;
}
.nav-tabs.nav-justified > li > a:hover{
    color:white;
    background:#ccc;
}
</style>
