<div class="row">
    <div class="col-lg-3 col-md-3">
        <img src="{{candidate.image}}" alt="candidate_photo">
    </div>
    <div class="col-lg-9 col-md-9">
        <h4>{{candidate.name}}</h4>
        <p>{{candidate.city}}</p>
    </div>
</div>
<div class="row">
    <!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="javascript:;" data-target="#home" role="tab" data-toggle="tab">Biography</a></li>
  <li><a href="javascript:;" data-target="#profile" role="tab" data-toggle="tab">Media</a></li>
  <li><a href="javascript:;" data-target="#messages" role="tab" data-toggle="tab">Messages</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane my-tab-pane active" id="home">{{candidate.biography}}</div>
  <div class="tab-pane my-tab-pane" id="profile">List of Media</div>
  <div class="tab-pane my-tab-pane" id="messages">No message</div>

</div>
    </div>
