
<style>
::-webkit-scrollbar {
    width:  10px;
    height: 16px;
    background-color:transparent;
}
::-webkit-scrollbar-track {
    background-color:transparent;
    width: 6px;
}
::-webkit-scrollbar-track-piece  {
    background-color: rgba(45, 45, 45, 0.5);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(45, 45, 45, 1);
    width: 10px;
}

#container::-webkit-scrollbar {
    width: initial;
    height: initial;
    background-color:initial;
}
#container::-webkit-scrollbar-track {
    background-color:initial;
    width: initial;
}
#container::-webkit-scrollbar-track-piece  {
    background-color: initial;
}
#container::-webkit-scrollbar-thumb {
	/*  */


    background-color: initial;
    width: initial;
}
#scroll {
overflow:auto;
}
#scroll ul {
float:left;
margin-right:-9999em;
white-space:nowrap;
list-style:none;
margin-top: 10px;
}
#scroll li {
text-align:center;
float:left;
display:inline;
}
#scroll img {
border:0;
display:block;
border:1px solid #A3CBE0;
}
#scroll a:active img, #scroll a:focus img, #scroll a:hover img {
border:1px solid #000;
}
#scroll a {
text-decoration:none;
font-weight:bold;
color:#000;
}
#scroll a:active, #scroll a:focus, #scroll a:hover {
color:#FFF;
}
#scroll span {
padding:5px 0 0;
display:block;
}
</style>
<div class="inner_menu">&nbsp;</div>

<br/><br/><br/>
<div id="candidates_section" class=" content">
    <div id="" class="">
        <div style="position: relative" class="content_header">

            <h1 style="" translate="MAYORAL_CANDIDATES">Mayoral Candidates</h1>
            <h4 style="color:white;font-size: 14px; " translate="MAYORAL_CANDIDATES_SUB">The majority of information below (including all ‘Financial’ and ‘Probable Funding Source’ data) has been directly transposed from submitted nomination papers provided by the candidates themselves.</h4>

        </div>
        <div class="row-fluid" style="">
            <div id="mcandi_tabs_cont" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <ul id="myTab" class="" role="tablist">
                    <li class="col-md-4 col-lg-4 col-sm-4 col-xs-4 tabheader active  " id = "tab_button_ctg"  ><a class="" href="" ng-click='changeTab("south");' role="tab" data-toggle="tab"><span class="visible-xs">{{'DSCC'|translate}}</span><span class="hidden-xs">{{'Dhaka South'|translate}} <span class="hidden-sm hidden-md"> {{'City Corporation'|translate}}</span></span></a></li>
                    <li class="col-md-4 col-lg-4 col-sm-4 col-xs-4 tabheader" id = "tab_button_north"   ><a class="" href="" ng-click='changeTab("north");' role="tab" data-toggle="tab"><span class="visible-xs">{{'DNCC'|translate}}</span><span class="hidden-xs">{{'Dhaka North'|translate}}  <span class="hidden-sm hidden-md">{{'City Corporation'|translate}}</span></span></a> </li>
                    <li class="col-md-4 col-lg-4 col-sm-4 col-xs-4 tabheader"  id = "tab_button_south" ><a class="" href="" ng-click='changeTab("chittagong");' role="tab" data-toggle="tab"><span class="visible-xs">{{'CCC'|translate}}</span><span class="hidden-xs">{{'Chittagong'|translate}}  <span class="hidden-sm hidden-md">{{'City Corporation'|translate}}</span></span></a></li>

                </ul>
                <div id="myTabContent" class="tab-content">



                    <div id="south" class="tab-pane active">
                        <div class="row">
                          <div id="scroll">
                          	<ul>
                              <li class="candi_block"  ng-repeat="candi in dscc_candidates">
                          			<a   ui-sref="view_candidate.profile( {slug: candi.id})" ><img class="candidate_img"  style=" height:150px; width:150px;" ng-src="images/candidate_image/{{candi.image}}" alt="candidate Image"></a>
                                                <p>{{candi.name}}</p>
                              </li>
                          	<ul>
                          </div>

                        </div>
                    </div>
                    <div id="north" class="tab-pane">
                        <div class="row">
                          <div id="scroll">
                          	<ul>
                              <li class="candi_block"  ng-repeat="candi in dncc_candidates">
                          			<a ui-sref="view_candidate.profile( {slug: candi.id})"  ><img  class="candidate_img" style=" height:150px; width:150px;" ng-src="images/candidate_image/{{candi.image}}" alt="candidate Image"></a>
                                                <p> {{candi.name}}</p>
                              </li>
                          	<ul>
                          </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="chittagong">
                        <div class="row">
                          <div id="scroll">
                          	<ul>
                          		<li class="candi_block" ng-repeat="candi in ccc_candidates">
                          			<a ui-sref="view_candidate.profile( {slug: candi.id})"  ><img class="candidate_img" style=" height:150px; width:150px;" ng-src="images/candidate_image/{{candi.image}}" alt="candidate Image"></a>
                                                <p>    {{candi.name}}</p>
                          		</li>
                          	<ul>
                          </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br clear="all"/>
<div id="mcandi_cont" class="container-fluid">


<div ui-view ></div>

</div>
