<div class="inner_menu">&nbsp;</div>


<div class="container-fluid" id="admin_container" style="min-height:100vh">
<div class="row">

    <div class="col-md-3">

        <div class="list-group">
  <a href="#" class="list-group-item active">
  Admin Panel
  </a>
  <a ui-sref="admin.news.showall" class="list-group-item">News</a>
  <a ui-sref="admin.ward.showall" class="list-group-item">Ward</a>
  <a ui-sref="admin.malpractice.showall" class="list-group-item">Malpractice</a>
  <a ui-sref="admin.subscriber.showall" class="list-group-item">Subscriber</a>
  <a ui-sref="admin.candidate.showall" class="list-group-item">Candidate's Affidavit</a>
  <a ui-sref="admin.candidate.pfreshowall" class="list-group-item">Candidate's Probable Fund Receivable or Expenditure(PFRE)</a>
</div>

      <div class="list-group">
        <a href="#" class="list-group-item active">
          Mayoral Candidates
        </a>
        <a ui-sref="admin.candidate.showallmayoral({slug: 'dscc'})" class="list-group-item">Dhaka South</a>
        <a ui-sref="admin.candidate.showallmayoral({slug: 'dncc'})" class="list-group-item">Dhaka North</a>
        <a ui-sref="admin.candidate.showallmayoral({slug: 'ccc'})" class="list-group-item">Chittagong</a>
      </div>


      <div class="list-group">
        <div  class="list-group-item active">
          Councilor Candidate
        </div>
        <accordion close-others="oneAtATime">
        <accordion-group heading="Dhaka South" >
          <div ng-repeat="ward in dsccward" style="padding:4px; float: left;">
          <a ui-sref="admin.wardcouncilor( {city: 'dscc', ward: ward.id})" class="btn btn-xs btn-primary" >{{ward.name}}</a>
          </div>
        </accordion-group>
        <accordion-group heading="Dhaka North" >
          <div ng-repeat="ward in dnccward" style="padding:4px; float: left;">
          <a ui-sref="admin.wardcouncilor( {city: 'dncc', ward: ward.id})" class="btn btn-xs btn-primary" >{{ward.name}}</a>
          </div>
        </accordion-group>
        <accordion-group heading="Chittagong" >
          <div ng-repeat="ward in cccward" style="padding:4px; float: left;">
          <a ui-sref="admin.wardcouncilor( {city: 'ccc', ward: ward.id})" class="btn btn-xs btn-primary" >{{ward.name}}</a>
          </div>
        </accordion-group>
      </accordion>

      <div class="list-group">
        <a  class="list-group-item active">
          Election Result
        </a>
        <a ui-sref="admin.candidate.election_result" class="list-group-item">Candidate</a>
      </div>

    <button class="btn btn-primary" ng-click="logout()">Log out</button>
    </div>
    </div>
    <div class="col-md-9">
        <div ui-view></div>
    </div>

</div>
</div>
