<div class="container">
	<div class="well">
        <h1>Malpractice List</h1></div>
    <div class="well">
     <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>Picture</th>
            <th>Where picture taken</th>
            <th>When picture taken</th>
            <th>Any other details</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in malpracticeList">
            <td><img src="{{row.image}}"></td>
            <td>{{row.where_picture_taken}}</td>
            <td>{{row.when_picture_taken}}</td>
            <td>{{row.details}}</td>
            <td>{{row.name}}</td>
            <td>{{row.phone}}</td>
            <td>{{row.email}}</td>
            <td><span class="badge">
          <span class="delete-button" ng-click="deleteMalpractice(row)">delete</span>
        </span></td>
        
          </tr>
        </tbody>
      </table>
      </div>
    
    </div>


</div>