<div class="row">
    <div class="col-md-12">

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Subscriber</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right admin-navbar-ul">
      <li><p class="navbar-btn" type="button" ng-csv="subscriberList" filename="Subscriber.csv">
        <a  class="btn btn-primary">Export CSV</a>
        </p></li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <div class="well">
     <div class="table-responsive" style="height: 600px;">
      <table class="table">
        <thead>
          <tr>

            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in subscriberList">
            <td>{{row.email}}</td>
            <td><span class="badge">
          <span class="delete-button" ng-click="deleteSubscriber(row)">delete</span>
        </span></td>

          </tr>
        </tbody>
      </table>
      </div>

    </div>


</div>
</div>
