<div class="inner_menu">&nbsp;</div>

<!-- 
<div class="visible-xs visible-sm container-fluid map_container_xs">

    <div class="row">






        <div class="col-md-12" id="" style="position:relative;padding:0px;margin:40px;margin-top: 20px;" >


    <h1 class="gis_header_h1_xs" translate="Dhaka North">Dhaka North</h1> -->
                    <!--<div>{{'A gis map showing the important places and statistics'|translate}}</div>-->
<!-- 
                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="980px"></leaflet>

        </div> -->






<!--         </div>
    </div>
 -->





<div class="container-fluid" style="" class="map_container">

    <div class="row">


      

                <div ui-view></div>







        </div>
    </div>
