

<div class="container-fluid" style="" class="map_container">

    <div class="row">

        <h1 class="" style="margin-top:80px;color:black;text-align:center;" translate="Dhaka North">Dhaka North</h1>
        <h4 style="color:black;text-align:center">{{'Population Data'|translate}}</h4>


</div>
</div>

<div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >

  <div ui-view style="width:100%">
  <div  ng-show="showme" class=" animated fadeIn map_side_pop_div" style="">

    <h4 class="map_header_h4">{{'WARD' | translate}} <b translate="{{ward}}"></b></h4></li>

                            <h5 class="map_header_h5">

                            <b translate="POPULATION">Population</b>: <b translate="{{population}}">{{population}}</b>
                        </h5>



                </div>

        <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="1680px"></leaflet>
</div>
</div>
