



<div class="gis_menu">
                    <h1 class="gis_header_h1" translate="Dhaka North">Dhaka North</h1>
                    <!--<div>{{'A gis map showing the important places and statistics'|translate}}</div>-->

                    <h4 class="gis_header_h4"><i class="fa fa-database"></i> {{'Statistics'|translate}}</h4>
                    <ul>
                        <li><a ui-sref="map.dncc.population"><i class="fa fa-male"></i> {{'Population Data'|translate}}</a></li>
                        <li><a ui-sref="map.dncc.voter"><i class="fa fa-table"></i> {{'Voter Data'|translate}}</a></li>

                    </ul>
                    <h4 class="gis_header_h4"><i class="fa fa-map-marker"></i> {{'Locations'|translate}}</h4>
                    <ul>
                        <li><a ui-sref="map.dnccpolling"><i class="fa fa-inbox"></i>{{'Polling Stations'|translate}}</a></li>

                    </ul>

                </div>

<div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >

  <div ui-view style="width:100%">
    <div  ng-show="showme" class=" animated fadeIn map_side_pop_div" style="">

      <h4 class="map_header_h4">{{'WARD' | translate}} <b translate="{{ward}}"></b></h4></li>

                              <h5 class="map_header_h5">

                              <b translate="POPULATION">Population</b>: <b translate="{{population}}">{{population}}</b>
                          </h5>



                  </div>

        <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" markers="markers" geojson="geojson" width="100%" height="1680px"></leaflet>
</div>
</div>
